<?xml version='1.0'?>
<config>
	<modules>
		<Df_C1>
			<author>Дмитрий Федюк</author>
			<title>1С:Управление торговлей</title>
			<version>3.0.0</version>
		</Df_C1>
	</modules>
	<df>
		<features>
			<df-1c>
				<module>df_c1</module>
				<title>1С:Управление торговлей</title>
				<url>http://magento-forum.ru/forum/217/</url>
			</df-1c>
		</features>
	</df>
	<global>
		<resources>
			<df_c1_setup>
				<setup>
					<module>Df_C1</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_c1_setup>
		</resources>
		<ignoredModules><entities><df-1c/></entities></ignoredModules>
		<events>
			<df_catalog__attribute_set__group_added>
				<observers>
					<Df_C1>
						<class>Df_C1_Observer</class>
						<method>df_catalog__attribute_set__group_added</method>
					</Df_C1>
				</observers>
			</df_catalog__attribute_set__group_added>
		</events>
	</global>
	<frontend>
		<routers>
			<df-1c>
				<use>standard</use>
				<args>
					<module>Df_C1</module>
					<frontName>df-1c</frontName>
				</args>
			</df-1c>
		</routers>
	</frontend>
	<default>
		<df_1c>
			<general>
				<enabled>0</enabled>
				<enable_logging>0</enable_logging>
				<log_file_name_template>1c/{date}-{time}.log</log_file_name_template>
				<non_standard_currency_codes>[["руб.", "RUB"],["грн", "UAH"]]</non_standard_currency_codes>
			</general>
			<orders>
			</orders>
			<product__description>
				<default>Описание этого товара пока отсутствует</default>
				<preserve_if_unique>0</preserve_if_unique>
				<which_field_to_update>both</which_field_to_update>
			</product__description>
			<product__name>
				<source>name_full</source>
			</product__name>
			<product__other>
				<attributes__show_on_product_page>1</attributes__show_on_product_page>
			</product__other>
			<product__prices>
				<main>Розничная</main>
			</product__prices>
			<reference_lists>
				<update_mode>manual-only</update_mode>
			</reference_lists>
		</df_1c>
	</default>
</config>