<?xml version='1.0'?>
<config>
	<tabs>
		<df>
			<label>Российская сборка</label>
			<sort_order>-100</sort_order>
		</df>
	</tabs>
	<sections>
		<design>
			<groups>
				<package>
					<fields>
						<name>
							<comment>
								<![CDATA[
									Пакет — это корневая папка оформительской темы.
									<br/>
									Она расположена по пути <b>app/design/frontend/<пакет></b>
									для шаблонов, макетных файлов и языковых файлов темы.
									<br/>
									Она расположена по пути <b>skin/frontend/<пакет></b>
									для браузерных файлов темы (CSS, JavaScript, декоративные картинки).
									<br/>
									Менять значение этой графы рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</name>
					</fields>
				</package>
				<theme>
					<fields>
						<default>
							<label>Нестандартная папка темы</label>
							<comment>
								<![CDATA[
									По умолчанию система использует файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b>default</b>.
									<br/>
									В данной графе Вы можете указать нестандартную папку темы
									вместо папки <b>default</b>, и тогда система будет использовать макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка темы></b>.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</default>
						<layout>
							<label>Layout Folder</label>
							<comment>
								<![CDATA[
									По умолчанию система использует макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/layout.
									<br/>
									В данной графе Вы можете указать нестандартную папку макетов
									вместо папки <b><тема></b>, и тогда система будет использовать макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка макетов></b>/layout.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</layout>
						<locale>
							<label>Translations Folder</label>
							<comment>
								<![CDATA[
									По умолчанию система использует языковые файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/locale.
									<br/>
									В данной графе Вы можете указать нестандартную папку языковых файлов темы
									вместо папки <b><тема></b>, и тогда система будет использовать
									языковые файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка языковых файлов темы></b>/locale.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</locale>
						<skin>
							<comment>
								<![CDATA[
									По умолчанию система использует браузерные файлы
									<br/>
									(CSS, JavaScript, декоративные картинки) из папки
									<br/>
									skin/frontend/<пакет>/<b><тема></b>.
									<br/>
									В данной графе Вы можете указать нестандартную папку браузерных файлов
									вместо папки <b><тема></b>, и тогда система будет использовать браузерные файлы
									из папки
									<br/>
									skin/frontend/<пакет>/<b><нестандартная папка браузерных файлов></b>.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</skin>
						<template>
							<comment>
								<![CDATA[
									По умолчанию система использует шаблоны из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/template.
									<br/>
									В данной графе Вы можете указать нестандартную папку шаблонов
									вместо папки <b><тема></b>, и тогда система будет использовать шаблоны из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестадартная папка шаблонов></b>/template.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</template>
					</fields>
				</theme>
			</groups>
		</design>
		<general>
			<groups>
				<country>
					<fields>
						<default>
							<comment>
								<![CDATA[
									Эта страна станет предварительно выбранным значением
									в графе выбора страны при заполнении покупателем и администратором
									различных адресных форм (в то же время покупатель и администратор
									будут иметь возможность выбрать другую страну).
								]]>
							</comment>
						</default>
						<allow>
							<comment>
								<![CDATA[
									При заполнении покупателем и администратором различных адресных форм
									они смогут выбрать страну только из заданного здесь перечня.
								]]>
							</comment>
						</allow>
					</fields>
				</country>
			</groups>
		</general>
		<system>
			<groups>
				<cron>
					<fields>
						<history_cleanup_every>
							<comment><![CDATA[
Выполненные, просрочненные и сбойные работы <b>заново выполнены не будут</b>, даже если их вовсе не удалять из расписания.<br/>
Удаления их из расписания предназначено для <b>уменьшения размера расписания</b>: в долгосрочной перспективе это экономит ресурсы как базы данных, так и процессора на её обработку.
<br/>Эта опция задаёт лишь периодичность запуска общей процедуры очистки, а вот необходимость удаления какой-либо конкретной выполненной, просрочненной или сбойной работы определяется одной из двух опций ниже: «<b>Срок хранения в расписании выполненных работ</b>» или «<b>Срок хранения в расписании просроченных и сбойных работ</b>», в зависимости от того, выполнена была работа или нет.
<br/>По этой причине значение по умолчанию <b>10</b> не является оптимальным: правильным будет поставить здесь минимальное из значений упомянутых двух опций.
]]></comment>
						</history_cleanup_every>
						<schedule_ahead_for>
<comment><![CDATA[
Расписание будет составленно на указанное количество минут вперёд.
<br/>Значение по умолчанию: <b>20</b>: это значит, что в 15:00 будут спланированы работы на промежуток времени с <b>15:00</b> до <b>15:20</b>, в <b>15:15</b> будут спланированы работы на промежуток времени с <b>15:15</b> до <b>15:35</b> и т.д.<br/>Это значение по умолчанию умышленно сделано чуть большим, чем значение по умолчанию расположенной выше опции «<b>Частота планирования (составления расписаний)</b>»: таким образом, расписания составляются с запасом времени и у Magento гарантированно недоступных для планирования участков времени.
]]></comment>
						</schedule_ahead_for>
						<schedule_generate_every>
<comment><![CDATA[
С указанными промежутками времени Magento будет составлять индивидуальные расписания для каждой регулярной работы.<br/>Значение по умолчанию: <b>15</b>: это значит, что новые расписания будут составляться в <b>15:00</b>, <b>15:15</b>, <b>15:30</b>, <b>15:45</b> и т.д.
]]></comment>
						</schedule_generate_every>
						<schedule_lifetime>
<comment><![CDATA[
Вообще говоря, регулярные работы интернет-магазина запаздывают по сравнению с расписанием почти всегда, потому что планировщик задач операционной системы (cron) запускает  модуль планирования и выполнения регулярных работ Magento с некими интервалами.<br/>Например, если cron запускает Magento каждые 5 минут:  в 15:00, 15:05, 15:10, а в Magento некая регулярная работа запланирована на 15:01, то эта работа будет выполнена с запозданием в 4 минуты: в 15:05.<br/>
Такое небольшое запоздание обычно не страшно, однако свежие версии Magento отсылают письма покупателям о заказе не сразу после заказа, а по расписанию, и в описанной выше ситуации покупатель будет ждать письма подтверждения не менее 4 минут (а в реальности наверняка больше, потому что во многих ситуациях почтовые сервера отправляют и доставляют письма с задержкой).<br/>
Поэтому рекомендую настроить cron на более частый запуск Magento (каждые 2 минуты, например), но при этом не забывайте, что каждый такой запуск загружает сервер, и поэтому сервер должен быть достаточно быстрым.
<br/>Значение текущей опции «Игнорировать работы, выполнение которых запоздало более чем на указанное количество минут» рекомендую делать в разы или даже на порядок большим, чем частоту запуска Magento через cron.<br/>
Значение по умолчанию — <b>15</b> как раз явлется хорошим для рекомендуемой мной частоты запуска Magento через cron (2 минуты).
]]></comment>
						</schedule_lifetime>
					</fields>
				</cron>
				<smtp>
					<fields>
						<disable>
							<comment><![CDATA[
Отключать почту имеет смысл в некоторых сценариях отладки системы.<br/>
При промышленной эксплуатации магазина почта должна быть включена.
]]></comment>
						</disable>
					</fields>
				</smtp>
			</groups>
		</system>
		<web>
			<groups>
				<secure>
					<fields>
						<base_js_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «js» содержит статичные (не требующие обработки интерпретатором PHP) файлы, не относящиеся к какой-либо отдельной оформительской теме.<br/>Например, это основные для Magento библиотеки JavaScript: они используются сразу всеми оформительскими темами.
<br/>Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_JS</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{secure_base_url}}js/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
<br/>При этом CDN рекомендую делать на поддомене магазина из-за <a href='https://ru.wikipedia.org/wiki/Правило_ограничения_домена' target='_blank' title='Same-origin policy'>правила ограничения домена</a> интерпретаторов JavaScript.
]]>
							</comment>
						</base_js_url>
						<base_link_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Рекомендуемое значение: «<span class='rm-recommendation'>{{secure_base_url}}</span>».
<br/>Magento использует это значение при программном формировании тех веб-адресов, обращение посетителей к которым должно обрабатываться интерпретатором PHP.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» vs «URL_TYPE_LINK» при программном формировании веб-адресов'>URL_TYPE_LINK</a></b>».
]]>
							</comment>
						</base_link_url>
						<base_media_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «media» содержит: <ul><li>товарные изображения</li><li>картинки, загружаемые администратором в статьи посредством визуального текстового редактора административной части</li><li>некоторые другие статичные (не требующие обработки интерпретатором PHP) файлы, размещаемые там различными модулями</li></ul> Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_MEDIA</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{secure_base_url}}media/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
]]>
							</comment>
						</base_media_url>
						<base_skin_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «skin» содержит статичные (не требующие обработки интерпретатором PHP) файлы оформительских тем.<br/>В основном, это файлы JavaScript, CSS и графические элементы (картинки) оформительских тем.
<br/>Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_SKIN</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{secure_base_url}}skin/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
<br/>При этом CDN рекомендую делать на поддомене магазина из-за <a href='https://ru.wikipedia.org/wiki/Правило_ограничения_домена' target='_blank' title='Same-origin policy'>правила ограничения домена</a> интерпретаторов JavaScript.
]]>
							</comment>
						</base_skin_url>
						<base_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Значение должно заканчивается <b>косой чертой</b>: «<b>/</b>».
<br/>Например «http://example.ru/» или «http://example.ru/magento/».
<br/>Magento использует это значение в <b>2 случаях</b>:
<ol><li>когда администратор магазина явно ссылается на него кодом <b>{{secure_base_url}}</b>: в качестве примера смотрите значения опций ниже.</li>
<li>когда программист формирует какой-либо веб-адрес с параметром «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» vs «URL_TYPE_LINK» при программном формировании веб-адресов'>URL_TYPE_WEB</a></b>».</li></ol>
]]>
							</comment>
						</base_url>
						<use_in_adminhtml>
							<!-- 2016-03-23 -->
							<comment>
<![CDATA[
Предварительно Вы должны установить и правильно настроить сертификат SSL, <b>иначе Ваш магазин перестанет работать правильно</b>.<br/>Вы можете заказать стандартную услугу «<a href="http://magento-forum.ru/topic/5145/">Настройка HTTPS (установка сертификата SSL)</a>».
]]>
							</comment>
						</use_in_adminhtml>
						<use_in_frontend>
							<!-- 2016-03-23 -->
							<comment>
<![CDATA[
Предварительно Вы должны установить и правильно настроить сертификат SSL, <b>иначе Ваш магазин перестанет работать правильно</b>.<br/>Вы можете заказать стандартную услугу «<a href="http://magento-forum.ru/topic/5145/">Настройка HTTPS (установка сертификата SSL)</a>».
]]>
							</comment>
						</use_in_frontend>
					</fields>
				</secure>
				<unsecure>
					<fields>
						<base_js_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «js» содержит статичные (не требующие обработки интерпретатором PHP) файлы, не относящиеся к какой-либо отдельной оформительской теме.<br/>Например, это основные для Magento библиотеки JavaScript: они используются сразу всеми оформительскими темами.
<br/>Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_JS</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{unsecure_base_url}}js/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
<br/>При этом CDN рекомендую делать на поддомене магазина из-за <a href='https://ru.wikipedia.org/wiki/Правило_ограничения_домена' target='_blank' title='Same-origin policy'>правила ограничения домена</a> интерпретаторов JavaScript.
]]>
							</comment>
						</base_js_url>
						<base_link_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Рекомендуемое значение: «<span class='rm-recommendation'>{{unsecure_base_url}}</span>».
<br/>Magento использует это значение при программном формировании тех веб-адресов, обращение посетителей к которым должно обрабатываться интерпретатором PHP.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» vs «URL_TYPE_LINK» при программном формировании веб-адресов'>URL_TYPE_LINK</a></b>».
]]>
							</comment>
						</base_link_url>
						<base_media_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «media» содержит: <ul><li>товарные изображения</li><li>картинки, загружаемые администратором в статьи посредством визуального текстового редактора административной части</li><li>некоторые другие статичные (не требующие обработки интерпретатором PHP) файлы, размещаемые там различными модулями</li></ul> Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_MEDIA</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{unsecure_base_url}}media/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
]]>
							</comment>
						</base_media_url>
						<base_skin_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Корневая папка «skin» содержит статичные (не требующие обработки интерпретатором PHP) файлы оформительских тем.<br/>В основном, это файлы JavaScript, CSS и графические элементы (картинки) оформительских тем.
<br/>Magento использует это значение при программном формировании веб-адресов этих файлов.
<br/>В программном коде ему соответствует константа «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» и «URL_TYPE_LINK» (а также «URL_TYPE_SKIN», «URL_TYPE_JS», «URL_TYPE_MEDIA») при программном формировании веб-адресов'>URL_TYPE_SKIN</a></b>».
<br/>Для большинства магазинов рекомендую стандартное значение: «<span class='rm-recommendation'>{{unsecure_base_url}}skin/</span>».
<br/>Другие (нестандартные) значения используются для реализации <a href='https://ru.wikipedia.org/wiki/Content_Delivery_Network' target='_blank' title='Content Delivery Network: сеть доставки (и дистрибуции) контента'>CDN</a>: географически распределённой сети доставки (и дистрибуции) контента.
<br/>При этом CDN рекомендую делать на поддомене магазина из-за <a href='https://ru.wikipedia.org/wiki/Правило_ограничения_домена' target='_blank' title='Same-origin policy'>правила ограничения домена</a> интерпретаторов JavaScript.
]]>
							</comment>
						</base_skin_url>
						<base_url>
							<!-- 2016-10-22 -->
							<comment>
<![CDATA[
Значение должно заканчивается <b>косой чертой</b>: «<b>/</b>».
<br/>Например «http://example.ru/» или «http://example.ru/magento/».
<br/>Magento использует это значение в <b>2 случаях</b>:
<ol><li>когда администратор магазина явно ссылается на него кодом <b>{{unsecure_base_url}}</b>: в качестве примера смотрите значения опций ниже.</li>
<li>когда программист формирует какой-либо веб-адрес с параметром «Mage_Core_Model_Store::<b><a href='http://magento-forum.ru/topic/5491/' target='_blank' title='Разница между «URL_TYPE_WEB» vs «URL_TYPE_LINK» при программном формировании веб-адресов'>URL_TYPE_WEB</a></b>».</li></ol>
]]>
							</comment>
						</base_url>
					</fields>
				</unsecure>
			</groups>
		</web>
	</sections>
</config>