<?xml version='1.0'?>
<config>
	<tabs>
		<df>
			<label>Российская сборка</label>
			<sort_order>-100</sort_order>
		</df>
	</tabs>
	<sections>
		<design>
			<groups>
				<package>
					<fields>
						<name>
							<comment>
								<![CDATA[
									Пакет — это корневая папка оформительской темы.
									<br/>
									Она расположена по пути <b>app/design/frontend/<пакет></b>
									для шаблонов, макетных файлов и языковых файлов темы.
									<br/>
									Она расположена по пути <b>skin/frontend/<пакет></b>
									для браузерных файлов темы (CSS, JavaScript, декоративные картинки).
									<br/>
									Менять значение этой графы рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</name>
					</fields>
				</package>
				<theme>
					<fields>
						<default>
							<label>Нестандартная папка темы</label>
							<comment>
								<![CDATA[
									По умолчанию система использует файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b>default</b>.
									<br/>
									В данной графе Вы можете указать нестандартную папку темы
									вместо папки <b>default</b>, и тогда система будет использовать макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка темы></b>.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</default>
						<layout>
							<label>Layout Folder</label>
							<comment>
								<![CDATA[
									По умолчанию система использует макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/layout.
									<br/>
									В данной графе Вы можете указать нестандартную папку макетов
									вместо папки <b><тема></b>, и тогда система будет использовать макеты из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка макетов></b>/layout.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</layout>
						<locale>
							<label>Translations Folder</label>
							<comment>
								<![CDATA[
									По умолчанию система использует языковые файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/locale.
									<br/>
									В данной графе Вы можете указать нестандартную папку языковых файлов темы
									вместо папки <b><тема></b>, и тогда система будет использовать
									языковые файлы темы из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестандартная папка языковых файлов темы></b>/locale.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</locale>
						<skin>
							<comment>
								<![CDATA[
									По умолчанию система использует браузерные файлы
									<br/>
									(CSS, JavaScript, декоративные картинки) из папки
									<br/>
									skin/frontend/<пакет>/<b><тема></b>.
									<br/>
									В данной графе Вы можете указать нестандартную папку браузерных файлов
									вместо папки <b><тема></b>, и тогда система будет использовать браузерные файлы
									из папки
									<br/>
									skin/frontend/<пакет>/<b><нестандартная папка браузерных файлов></b>.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</skin>
						<template>
							<comment>
								<![CDATA[
									По умолчанию система использует шаблоны из папки
									<br/>
									app/design/frontend/<пакет>/<b><тема></b>/template.
									<br/>
									В данной графе Вы можете указать нестандартную папку шаблонов
									вместо папки <b><тема></b>, и тогда система будет использовать шаблоны из папки
									<br/>
									app/design/frontend/<пакет>/<b><нестадартная папка шаблонов></b>/template.
									<br/>
									Заполнять эту графу рекомендуется только в двух случаях:
									<br/>
									1) если об этом явно сказано в руководстве по настройке используемой Вами
									нестандартной оформительской темы.
									<br/>
									2) если Вы создаёте свою оформительскую тему и хорошо понимаете, что делаете.
								]]>
							</comment>
						</template>
					</fields>
				</theme>
			</groups>
		</design>
		<general>
			<groups>
				<country>
					<fields>
						<default>
							<comment>
								<![CDATA[
									Эта страна станет предварительно выбранным значением
									в графе выбора страны при заполнении покупателем и администратором
									различных адресных форм (в то же время покупатель и администратор
									будут иметь возможность выбрать другую страну).
								]]>
							</comment>
						</default>
						<allow>
							<comment>
								<![CDATA[
									При заполнении покупателем и администратором различных адресных форм
									они смогут выбрать страну только из заданного здесь перечня.
								]]>
							</comment>
						</allow>
					</fields>
				</country>
			</groups>
		</general>
		<web>
			<groups>
				<secure>
					<fields>
						<!-- 2016-03-23 -->
						<use_in_adminhtml>
							<comment>
								<![CDATA[
Предварительно Вы должны установить и правильно настроить сертификат SSL, <b>иначе Ваш магазин перестанет работать правильно</b>.<br/>Вы можете заказать стандартную услугу «<a href="http://magento-forum.ru/topic/5145/">Настройка HTTPS (установка сертификата SSL)</a>».
								]]>
							</comment>
						</use_in_adminhtml>
						<use_in_frontend>
							<comment>
								<![CDATA[
Предварительно Вы должны установить и правильно настроить сертификат SSL, <b>иначе Ваш магазин перестанет работать правильно</b>.<br/>Вы можете заказать стандартную услугу «<a href="http://magento-forum.ru/topic/5145/">Настройка HTTPS (установка сертификата SSL)</a>».
								]]>
							</comment>
						</use_in_frontend>
					</fields>
				</secure>
			</groups>
		</web>
	</sections>
</config>