<?xml version='1.0'?>
<config>
	<modules>
		<Df_Pec>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Pec>
	</modules>
	<global>
		<blocks><df_pec><class>Df_Pec_Block</class></df_pec></blocks>
		<helpers><df_pec><class>Df_Pec_Helper</class></df_pec></helpers>
		<models><df_pec><class>Df_Pec_Model</class></df_pec></models>
	</global>
	<default>
		<carriers>
			<df-pec>
				<active>0</active>
				<model>df_pec/carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>ПЭК</title>
			</df-pec>
		</carriers>
		<df_shipping>
			<pec>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>0</frontend__sallowspecific>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
				<service__moscow_cargo_reception_point>outside</service__moscow_cargo_reception_point>
			</pec>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-pec>
				<module>df_pec</module>
				<title>ПЭК</title>
				<url>http://magento-forum.ru/forum/207/</url>
			</df-pec>
		</features>
	</df>
</config>
