<?xml version='1.0'?>
<config>
	<sections>
		<df_shipping>
			<groups>
				<pec>
					<label>ПЭК</label>
					<frontend_type>text</frontend_type>
<!--
2016-10-30
1) Первая цифра — код страны: Россия: 1, Украина: 2, Казахстан: 3
2) Вторая цифра: 1, если название модуля начинается с русской буквы, 0 если иначе.
3) Далее следуют 4 цифры: по 2 на каждую из первых 2-х букв названия,
в соответствии с порядковым номером буквы в английском либо русском алфавите:
https://en.wikipedia.org/wiki/English_alphabet
https://ru.wikipedia.org/wiki/Русский_алфавит
-->
					<sort_order>111706</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
							Для правильной работы модуля требуется указать единицу веса товаров в графе
							<br/>«Система» → «Настройки» → «Российская сборка» → «Доставка»
							 → «Параметры товаров» → «Единица веса товаров».
							<br/>
							Стоимость доставки службой ПЭК зависит от габаритов груза,<br/>поэтому для правильного расчёта стоимости доставки
							Вам надо вести учёт габаритов каждого товара
							<br/>(смотрите настройки раздела «Система» → «Настройки» → «Российская сборка» → «Доставка»
							 → «Параметры товаров»).
						]]>
					</comment>
					<fields>
						<active>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-pec</df_feature>
							<config_path>carriers/df-pec/active</config_path>
						</active>
						<title>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<config_path>carriers/df-pec/title</config_path>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</title>
						<admin__fee_percent>
							<label>Относительная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
								validate-percents
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_percent>
						<admin__fee_fixed>
							<label>Абсолютная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в учётной валюте магазина
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_fixed>
						<admin__declared_value_percent>
							<label>Объявленная стоимость груза</label>
							<frontend_type>text</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах относительно стоимости заказа
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__declared_value_percent>
						<service__moscow_cargo_reception_point>
							<label>Как далеко нужен въезд в Москву для забора груза?</label>
							<frontend_type>select</frontend_type>
							<source_model>Df\Pec\MoscowReceptionPoint</source_model>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__moscow_cargo_reception_point>
						<service__need_overnight_delivery>
							<label>Нужна ли доставка в вечернее и ночное время (с 18:00 до 09:00)?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_overnight_delivery>
						<service__need_rigid_container>
							<label>Нужна ли жёсткая упаковка?</label>
							<comment>
								<![CDATA[
									Жёсткая упаковка может понадобиться товару, если:
									<br/>* Товар хрупок
									<br/>* Товар может нанести вред соседним грузам
									<br/>Жёсткая упаковка представляет собой деревянный ящик
									с крестообразными стенами.
									<br/>Стоимость изготовления жесткой упаковки
									составляет 600 руб./м<sup>3</sup>,минимальная стоимость — 150 руб.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_rigid_container>
						<service__seal_count>
							<label>Сколько пломб нужно для груза?</label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Admin_Config_Source_SelectNumberFromDropdown</source_model>
							<df_min>0</df_min>
							<df_max>10</df_max>
							<df_step>1</df_step>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__seal_count>
						<service__need_remove_awning_at_origin>
							<label>Нужна ли растентовка при погрузке?</label>
							<comment>
								<![CDATA[
									Растентовка — это снятие тента с грузового автомобиля.
									Растентовка необходима,когда груз невозможно поместить в машину традиционным способом —
									с задней стороны кузова.
									Растентовка позволяет выполнить погрузку и разгрузку сверху или сбоку фуры.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_remove_awning_at_origin>
						<service__need_remove_awning_at_destination>
							<label>Нужна ли растентовка при выгрузке?</label>
							<comment>
								<![CDATA[
									Растентовка — это снятие тента с грузового автомобиля.
									Растентовка необходима,когда груз невозможно поместить в машину традиционным способом —
									с задней стороны кузова.
									Растентовка позволяет выполнить погрузку и разгрузку сверху или сбоку фуры.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>11000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_remove_awning_at_destination>
						<service__need_cargo_tail_loader_at_origin>
							<label>Нужны ли гидравлический подъёмник или другая спецтехника при погрузке?</label>
							<comment>
								<![CDATA[
									Гидравлический подъёмник предназначен для погрузки в машину
									и выгрузки из машины тяжёлых грузов.
									<br/>
									Включите эту опцию, если Вы торгуете тяжёлым товаром
									(предварительно спросите у службы ПЭК,нужен ли для Вашего товара гидравлический подъёмник)
									<br/>
									Вес груза не должен превышать 3 тонны, максимальный габарит — 3 метра.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_cargo_tail_loader_at_origin>
						<service__need_cargo_tail_loader_at_destination>
							<label>Нужны ли гидравлический подъёмник или другая спецтехника при выгрузке?</label>
							<comment>
								<![CDATA[
									Гидравлический подъёмник предназначен для погрузки в машину
									и выгрузки из машины тяжёлых грузов.
									<br/>
									Включите эту опцию, если Вы торгуете тяжёлым товаром
									(предварительно спросите у службы ПЭК,нужен ли для Вашего товара гидравлический подъёмник)
									<br/>
									Вес груза не должен превышать 3 тонны, максимальный габарит — 3 метра.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>13000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_cargo_tail_loader_at_destination>
						<frontend__disable_for_shop_city>
							<label>Скрыть этот способ доставки для покупателей из города магазина?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>21000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__disable_for_shop_city>
						<frontend__sort_order>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить способы доставки на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>22000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sort_order>
						<frontend__display_diagnostic_messages>
							<label>Показывать ли способ доставки на витрине в том случае, когда он по каким-либо причинам неприменим к текущему заказу?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то покупатель будет знать причину,по которой данный способ доставки неприменим к его заказу.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>23000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__display_diagnostic_messages>
						<frontend__sallowspecific>
							<label>Ограничить область доставки конкретными странами?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то система запросит у Вас перечень стран,куда разрешена доставка данным способом.
									<br/>Во все неперечисленные Вами страны
									доставка данным способом осуществляться не будет.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>24000</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sallowspecific>
						<frontend__specificcountry>
							<label>Перечень стран, куда разрешена доставка данным способом</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>25000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
							<depends>
								<active>1</active>
								<frontend__sallowspecific>1</frontend__sallowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</pec>
			</groups>
		</df_shipping>
	</sections>
</config>
