<?xml version='1.0'?>
<config>
	<modules>
		<Df_PonyExpress>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_PonyExpress>
	</modules>
	<global>
		<blocks><df_pony_express><class>Df_PonyExpress_Block</class></df_pony_express></blocks>
		<helpers><df_pony_express><class>Df_PonyExpress_Helper</class></df_pony_express></helpers>
		<models><df_pony_express><class>Df_PonyExpress_Model</class></df_pony_express></models>
	</global>
	<default>
		<carriers>
			<df-pony-express>
				<active>0</active>
				<model>df_pony_express/carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>PONY EXPRESS</title>
			</df-pony-express>
		</carriers>
		<df_shipping>
			<pony-express>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>0</frontend__sallowspecific>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
			</pony-express>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-pony-express>
				<module>df_pony_express</module>
				<title>PONY EXPRESS</title>
				<url>http://magento-forum.ru/forum/200/</url>
			</df-pony-express>
		</features>
	</df>
</config>