<?xml version='1.0'?>
<config>
	<modules>
		<Df_AdminNotification>
			<author>Дмитрий Федюк</author>
			<version>1.0.0</version>
		</Df_AdminNotification>
	</modules>
	<global>
		<helpers><df_admin_notification><class>Df_AdminNotification_Helper</class></df_admin_notification></helpers>
		<models>
			<df_admin_notification><class>Df_AdminNotification_Model</class></df_admin_notification>
			<!-- Для Magento версии не меньше 1.6 -->
			<adminnotification_resource>
				<rewrite>
					<!--
						Цель перекрытия —
						скрывать «Reminder: Change Magento`s default phone numbers»
						после пометки прочитанным.
					-->
					<inbox>Df_AdminNotification_Model_Resource_Inbox</inbox>
				</rewrite>
			</adminnotification_resource>
		</models>
	</global>
</config>