<?xml version='1.0'?>
<config>
	<sections>
		<df_shipping>
			<groups>
				<spsr translate='label'>
					<label>СПСР-Экспресс</label>
					<frontend_type>text</frontend_type>
					<sort_order>12000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
							Для правильной работы модуля требуется указать единицу веса товаров в графе
							<br/>«Система» → «Настройки» → «Российская сборка» → «Доставка»
							 → «Параметры товаров» → «Единица веса товаров».
						]]>
					</comment>
					<fields>
						<active translate='label'>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!--
								Надо удостовериться, что СПСР понимает адрес склада магазина.
								@todo На самом деле, понимание адреса склада
								не означает возможность доставку оттуда.
								Например, калькулятор на официальном сайте СПСР-ЭКСПРЕСС
								понимает в качестве города отправления Алматы,
								о не смог посчитать тариф ни по Казахстану (проверял на доставке в Астану),
								ни в Россию (проверял на доставке в Москву).
								Но, в целом, именно используемая здесь, в модуле СПСР, с технология
								является самой прогрессивной для Российской сборки Magento:
								валидатор проверяет корректность не только страны склада магазина,
								но и адреса, и поэтому администратор узнает о проблемах в адресе склада сразу,
								а не при тестовом оформлении заказа.
							-->
							<backend_model>df_admin/config_backend_validator</backend_model>
							<df_backend_validator_strategy>df_shipping/config_backend_validator_strategy_origin</df_backend_validator_strategy>
							<df_origin_validator>df_spsr/validator_origin</df_origin_validator>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<df_feature>df-spsr</df_feature>
							<config_path>carriers/df-spsr/active</config_path>
						</active>
						<title translate='label'>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<config_path>carriers/df-spsr/title</config_path>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</title>
						<admin__fee_percent translate='label'>
							<label>Относительная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
								validate-percents
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_percent>
						<admin__fee_fixed translate='label'>
							<label>Абсолютная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в учётной валюте магазина
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_fixed>
						<admin__declared_value_percent translate='label'>
							<label>Объявленная ценность почтового отправления</label>
							<frontend_type>text</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах относительно стоимости заказа
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__declared_value_percent>
						<service__insurer translate='label'>
							<label>Кто несёт ответственность при наступлении страхового случая?</label>
							<comment>
								<![CDATA[
									Выбранное значение может влиять на стоимость доставки.
									<br/>Если объявленная ценность отправления превышает 500 000 рублей,то выбранное значение не учитывается, а ответственность несёт страховая компания.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>df_spsr/config_source_insurer</source_model>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__insurer>
						<service__enable_sms_notification translate='label'>
							<label>Оповещать по SMS о факте доставки груза получателю?</label>
							<comment>
								<![CDATA[
									Служба доставки присылает оповещение по SMS на указанный в накладной номер телефона.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__enable_sms_notification>
						<service__endorse_delivery_time translate='label'>
							<label>Согласовывать с получателем время доставки?</label>
							<comment>
								<![CDATA[
									Услуга включает в себя предварительный телефонный звонок получателю
									для согласования даты и времени доставки отправления для того,чтобы получатель мог планировать свое время.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__endorse_delivery_time>
						<service__personal_handing translate='label'>
							<label>Сверять ФИО получателя по паспорту при вручении посылки?</label>
							<comment>
								<![CDATA[
									Курьер вручает отправление только лично в руки получателю,указанному в накладной, после сверки паспортных данных под роспись.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__personal_handing>
						<frontend__disable_for_shop_city translate='label'>
							<label>Скрыть этот способ доставки для покупателей из города магазина?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>11000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__disable_for_shop_city>
						<frontend__sort_order translate='label'>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить способы доставки на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>12000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sort_order>
						<frontend__display_diagnostic_messages translate='label'>
							<label>Показывать ли способ доставки на витрине в том случае,когда он по каким-либо причинам неприменим к текущему заказу?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то покупатель будет знать причину,по которой данный способ доставки неприменим к его заказу.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>13000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__display_diagnostic_messages>
						<frontend__sallowspecific translate='label'>
							<label>Ограничить область доставки конкретными странами?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то система запросит у Вас перечень стран,куда разрешена доставка данным способом.
									<br/>Во все неперечисленные Вами страны
									доставка данным способом осуществляться не будет.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>14000</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sallowspecific>
						<frontend__specificcountry translate='label'>
							<label>Перечень стран, куда разрешена доставка данным способом</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>15000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
							<depends>
								<active>1</active>
								<frontend__sallowspecific>1</frontend__sallowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</spsr>
			</groups>
		</df_shipping>
	</sections>
</config>
