<?xml version='1.0'?>
<config>
	<modules>
		<Df_CustomerBalance>
			<author>Дмитрий Федюк</author>
			<title>Личный счёт</title>
			<version>1.0.0</version>
		</Df_CustomerBalance>
	</modules>
	<df>
		<features>
			<df-customer-balance>
				<module>df_customerbalance</module>
				<title>Личный счёт</title>
				<url>http://magento-forum.ru/forum/184/</url>
			</df-customer-balance>
		</features>
	</df>
	<global>
		<blocks><df_customerbalance><class>Df_CustomerBalance_Block</class></df_customerbalance></blocks>
		<helpers><df_customerbalance><class>Df_CustomerBalance_Helper</class></df_customerbalance></helpers>
		<models>
			<df_customerbalance>
				<class>Df_CustomerBalance_Model</class>
				<resourceModel>df_customerbalance_resource</resourceModel>
			</df_customerbalance>
			<df_customerbalance_resource>
				<class>Df_CustomerBalance_Model_Resource</class>
				<entities>
					<balance><table>df_customerbalance</table></balance>
					<balance_history><table>df_customerbalance_history</table></balance_history>
				</entities>
			</df_customerbalance_resource>
		</models>
		<resources>
			<df_customerbalance_setup>
				<setup>
					<module>Df_CustomerBalance</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_customerbalance_setup>
		</resources>
		<template>
			<email>
				<df_customer_balance_email_template
					translate='label'
					module='df_customerbalance'
				>
					<label>Store Credit Update</label>
					<file>df/customer/balance/updated.html</file>
					<type>html</type>
				</df_customer_balance_email_template>
			</email>
		</template>
		<sales>
			<quote>
				<totals>
					<customerbalance>
						<class>df_customerbalance/total_quote_customerbalance</class>
						<after>wee,discount,tax,tax_subtotal,grand_total,reward,giftcardaccount</after>
						<renderer>df_customerbalance/checkout_total</renderer>
					</customerbalance>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<customerbalance>
						<class>df_customerbalance/total_invoice_customerbalance</class>
					</customerbalance>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<customerbalance>
						<class>df_customerbalance/total_creditmemo_customerbalance</class>
					</customerbalance>
				</totals>
			</order_creditmemo>
		</sales>
		<fieldsets>
			<sales_convert_quote_address>
				<base_customer_balance_amount><to_order>*</to_order></base_customer_balance_amount>
				<customer_balance_amount><to_order>*</to_order></customer_balance_amount>
			</sales_convert_quote_address>
		</fieldsets>
		<events>
			<core_layout_update_updates_get_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>core_layout_update_updates_get_after</method>
					</Df_CustomerBalance>
				</observers>
			</core_layout_update_updates_get_after>
			<payment_method_is_active>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>payment_method_is_active</method>
					</Df_CustomerBalance>
				</observers>
			</payment_method_is_active>
			<sales_order_place_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_place_after</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_place_after>
			<sales_quote_payment_import_data_before>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_quote_payment_import_data_before</method>
					</Df_CustomerBalance>
				</observers>
			</sales_quote_payment_import_data_before>
			<sales_quote_collect_totals_before>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_quote_collect_totals_before</method>
					</Df_CustomerBalance>
				</observers>
			</sales_quote_collect_totals_before>
			<sales_order_place_before>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_place_before</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_place_before>
			<sales_quote_merge_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_quote_merge_after</method>
					</Df_CustomerBalance>
				</observers>
			</sales_quote_merge_after>
			<sales_order_invoice_save_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_invoice_save_after</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_creditmemo_save_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_creditmemo_save_after</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_creditmemo_save_after>
			<sales_order_load_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_load_after</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_load_after>
			<sales_order_creditmemo_refund>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>sales_order_creditmemo_refund</method>
					</Df_CustomerBalance>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
		<pdf>
			<totals>
				<df_customerbalance translate='title'>
					<title>Store Credit</title>
					<source_field>customer_balance_amount</source_field>
					<amount_prefix>-</amount_prefix>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>560</sort_order>
				</df_customerbalance>
				<df_customerbalance_total_refunded translate='title'>
					<title>Refunded to Store Credit</title>
					<source_field>customer_balance_total_refunded</source_field>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>700</sort_order>
				</df_customerbalance_total_refunded>
			</totals>
		</pdf>
	</global>
	<frontend>
		<translate>
			<modules>
				<Df_CustomerBalance>
					<files><default>Df/CustomerBalance.csv</default></files>
				</Df_CustomerBalance>
			</modules>
		</translate>
		<layout>
			<updates>
				<df_customerbalance module='Df_CustomerBalance'>
					<file>df/customerbalance.xml</file>
				</df_customerbalance>
			</updates>
		</layout>
		<routers>
			<df_customerbalance>
				<use>standard</use>
				<args>
					<module>Df_CustomerBalance</module>
					<frontName>storecredit</frontName>
				</args>
			</df_customerbalance>
		</routers>
		<secure_url>
			<storecredit_info>/storecredit/info/</storecredit_info>
		</secure_url>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>core_block_abstract_to_html_after</method>
					</Df_CustomerBalance>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
	</frontend>
	<admin>
		 <routers>
			<adminhtml>
				<args>
					<modules>
						<customerbalance before='Mage_Adminhtml'>Df_CustomerBalance_Adminhtml</customerbalance>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_customerbalance module='Df_CustomerBalance'>
					<file>df/customerbalance.xml</file>
				</df_customerbalance>
			</updates>
		</layout>
		<events>
			<adminhtml_customer_prepare_save>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>adminhtml_customer_prepare_save</method>
					</Df_CustomerBalance>
				</observers>
			</adminhtml_customer_prepare_save>
			<adminhtml_customer_save_after>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>adminhtml_customer_save_after</method>
					</Df_CustomerBalance>
				</observers>
			</adminhtml_customer_save_after>
			<adminhtml_sales_order_create_process_data>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>adminhtml_sales_order_create_process_data</method>
					</Df_CustomerBalance>
				</observers>
			</adminhtml_sales_order_create_process_data>
			<adminhtml_sales_order_creditmemo_register_before>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>adminhtml_sales_order_creditmemo_register_before</method>
					</Df_CustomerBalance>
				</observers>
			</adminhtml_sales_order_creditmemo_register_before>
			<website_delete_before>
				<observers>
					<Df_CustomerBalance>
						<class>Df_CustomerBalance_Observer</class>
						<method>website_delete_before</method>
					</Df_CustomerBalance>
				</observers>
			</website_delete_before>
		</events>
		<translate>
			<modules>
				<Df_CustomerBalance>
					<files><default>Df/CustomerBalance.csv</default></files>
				</Df_CustomerBalance>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<df_customer>
			<balance>
				<enabled>0</enabled>
				<show_history>1</show_history>
				<email_template>df_customer_balance_email_template</email_template>
				<email_identity>general</email_identity>
			</balance>
		</df_customer>
		<sales>
			<totals_sort>
				<customerbalance>95</customerbalance>
			</totals_sort>
		</sales>
	</default>
</config>
