<?xml version='1.0'?>
<config>
	<modules>
		<Df_NightExpress>
			<author>Дмитрий Федюк</author>
			<title>Ночной Экспресс</title>
			<version>1.0.0</version>
		</Df_NightExpress>
	</modules>
	<global>
		<blocks><df_night_express><class>Df_NightExpress_Block</class></df_night_express></blocks>
		<helpers><df_night_express><class>Df_NightExpress_Helper</class></df_night_express></helpers>
		<models><df_night_express><class>Df_NightExpress_Model</class></df_night_express></models>
	</global>
	<default>
		<carriers>
			<df-night-express>
				<active>0</active>
				<model>Df_NightExpress_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Ночной Экспресс</title>
			</df-night-express>
		</carriers>
		<df_shipping>
			<night-express>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>1</frontend__sallowspecific>
				<frontend__specificcountry>UA</frontend__specificcountry>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
			</night-express>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-night-express>
				<module>df_night_express</module>
				<title>Ночной Экспресс</title>
				<url>http://magento-forum.ru/forum/258/</url>
			</df-night-express>
		</features>
		<shipping>
			<night-express>
				<allowed-methods>
					<!--
						Идентификаторам способов доставки достаточно быть уникальными
						лишь в пределах модуля доставки,потому что система формирует уникальный идентификатор способа доставки
						объединением идентификатором модуля доставки и способа доставки.
					-->
					<courier-to-home>
						<title>До дома</title>
						<class>df_night_express/method_toHome</class>
					</courier-to-home>
					<courier-to-point-of-issue>
						<title>До пункта выдачи</title>
						<class>df_night_express/method_toPointOfIssue</class>
					</courier-to-point-of-issue>
				</allowed-methods>
			</night-express>
		</shipping>
	</df>
</config>
