<?xml version='1.0'?>
<config>
	<modules>
		<Df_Invitation>
			<author>Дмитрий Федюк</author>
			<title>Приглашения</title>
			<version>1.0.0</version>
		</Df_Invitation>
	</modules>
	<df>
		<features>
			<df-invitation>
				<module>df_invitation</module>
				<title>Приглашения</title>
				<url>http://magento-forum.ru/forum/189/</url>
			</df-invitation>
		</features>
	</df>
	<global>
		<blocks><df_invitation><class>Df_Invitation_Block</class></df_invitation></blocks>
		<helpers><df_invitation><class>Df_Invitation_Helper</class></df_invitation></helpers>
		<models>
			 <df_invitation>
				<class>Df_Invitation_Model</class>
				<resourceModel>df_invitation_resource</resourceModel>
			 </df_invitation>
			 <df_invitation_resource>
				<class>Df_Invitation_Model_Resource</class>
				<entities>
					<invitation><table>df_invitation</table></invitation>
					<invitation_history><table>df_invitation_status_history</table></invitation_history>
					<invitation_track><table>df_invitation_track</table></invitation_track>
				</entities>
			</df_invitation_resource>
		</models>
		<resources>
			<df_invitation_setup>
				<setup>
					<module>Df_Invitation</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_invitation_setup>
		</resources>
		<template>
			<email>
			   <df_invitation_email_template translate='label' module='df_invitation'>
				   <label>Customer Invitation</label>
				   <file>df/invitation.html</file>
				   <type>html</type>
			   </df_invitation_email_template>
			</email>
		</template>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<df_invitation before='Mage_Adminhtml'>Df_Invitation_Adminhtml</df_invitation>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_invitation module='Df_Invitation'><file>df/invitation.xml</file></df_invitation>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Invitation><files><default>Df/Invitation.csv</default></files></Df_Invitation>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<df>
			<websiterestriction>
				<full_action_names>
					<generic>
						<df_invitation_customer_account_create/>
						<df_invitation_customer_account_createpost/>
					</generic>
				</full_action_names>
			</websiterestriction>
		</df>
		<layout>
			<updates>
				<df_invitation><file>df/invitation.xml</file></df_invitation>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Invitation><files><default>Df/Invitation.csv</default></files></Df_Invitation>
			</modules>
		</translate>
		<routers>
			<df_invitation>
				<use>standard</use>
				<args>
					<module>Df_Invitation</module>
					<frontName>invitation</frontName>
				</args>
			</df_invitation>
		</routers>
		<events>
			<customer_registration_is_allowed>
				<observers>
					<Df_Invitation>
						<class>Df_Invitation_Observer</class>
						<method>customer_registration_is_allowed</method>
					</Df_Invitation>
				</observers>
			</customer_registration_is_allowed>
		</events>
		<secure_url>
			<invitation>/invitation/</invitation>
		</secure_url>
	</frontend>
	<default>
		<df_invitation>
			<email>
				<identity>general</identity>
				<template>df_invitation_email_template</template>
			</email>
			<general>
				<enabled>0</enabled>
				<enabled_on_front>0</enabled_on_front>
				<registration_use_inviter_group>1</registration_use_inviter_group>
				<registration_required_invitation>0</registration_required_invitation>
				<max_invitation_amount_per_send>3</max_invitation_amount_per_send>
				<allow_customer_message>1</allow_customer_message>
			</general>
		</df_invitation>
	</default>
</config>
