<?xml version='1.0'?>
<config>
	<modules>
		<Df_Licensor>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Licensor>
	</modules>
	<global>
		<blocks><df_licensor><class>Df_Licensor_Block</class></df_licensor></blocks>
		<helpers><df_licensor><class>Df_Licensor_Helper</class></df_licensor></helpers>
		<models><df_licensor><class>Df_Licensor_Model</class></df_licensor></models>
	</global>
</config>