<?xml version='1.0'?>
<config>
	<modules>
		<Df_Varien>
			<author>Дмитрий Федюк</author>
			<version>1.0.0</version>
		</Df_Varien>
	</modules>
	<global>
		<blocks><df_varien><class>Df_Varien_Block</class></df_varien></blocks>
		<helpers><df_varien><class>Df_Varien_Helper</class></df_varien></helpers>
	</global>
</config>