<?xml version='1.0'?>
<config>
	<modules>
		<Df_MoySklad>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_MoySklad>
	</modules>
	<admin>
		<routers>
			<df_moysklad>
				<use>admin</use>
				<args>
					<module>Df_MoySklad</module>
					<frontName>df_moysklad</frontName>
				</args>
			</df_moysklad>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_moysklad><file>df/moysklad.xml</file></df_moysklad>
			</updates>
		</layout>
	</adminhtml>
	<df>
		<features>
			<df-moysklad>
				<module>df_moysklad</module>
				<title>МойСклад</title>
				<url>http://magento-forum.ru/forum/294/</url>
			</df-moysklad>
		</features>
	</df>
	<global>
		<helpers><df_moysklad><class>Df_MoySklad_Helper</class></df_moysklad></helpers>
		<ignoredModules><entities><df-moysklad/></entities></ignoredModules>
	</global>
</config>