body.df-theme-templatemonster-43373 {
	.block-layered-nav {
		margin: {
			bottom: 20px;
			top: 0;
		}
		padding: {
			top: 10px;
			bottom: 10px;
		}
		.block-subtitle {
			/*
				Скрываем надпись «Критерии фильтрации» в заголовке блока пошаговой фильтрации
				в боковой колонке на витринной странице списка товаров,
				потому то над ней уже отображается надпись «Фильтр»,
				и эти две надписи, по сути, дублируют друг друга.
			*/
			display: none;
		}
		.block-title {
			/*
				... а потом подумал и решил скрыть и надпись «Фильтр».
				По интерфейсу фильтра и так понятно, что это фильтр.
			*/
			display: none;
		}
		.block-content {
			padding: {
				bottom: 0;
				top: 0;
			}
			dd.last {
				ol {
					padding-bottom: 0;
				}
			}
		}
	}
	.df-checkout-ergonomic {
	}
	.pager {
		.limiter {
			/*
				Оформительская тема TemplateMonster #43373
				норовит установить здесь min-width: 110px;
			*/
			min-width: auto;
		}
	}
}
.fancybox-wrap.df-fancybox {
	.fancybox-inner {
		#df-login.account-login {
			.registered-users {
				/*
					Оформительская тема TemplateMonster #43373
					норовит установить здесь 20px, что для всплывающего окна слишком много.
				*/
				padding-bottom: 8px;
				p.required {
					/*
						Думаю, для формы авторизации из двух полей не так уж необходимо пояснение,
						что звёздочкой обозначены обязательные для заполнения поля.
						В то же время, скрытие этого сообщения позволит
						уменьшить высоту всплывающего окна авторизации
						и убрать эстетически некрасивое взаимное расположение надписей
						«обязательные поля» и «забыли пароль?»
						(они получаются расположены лесенкой,
						потому что относятся к разным родительским контейнерам).
					*/
					display: none;
				}
			}
		}
	}
}
