<?xml version='1.0'?>
<config>
	<modules>
		<Df_Reward>
			<author>Дмитрий Федюк</author>
			<title>Накопительная программа</title>
			<version>2.20.6</version>
		</Df_Reward>
	</modules>
	<df>
		<features>
			<df-reward>
				<module>df_reward</module>
				<title>Накопительная программа</title>
				<url>http://magento-forum.ru/forum/185/</url>
			</df-reward>
		</features>
	</df>
	<global>
		<blocks><df_reward><class>Df_Reward_Block</class></df_reward></blocks>
		<helpers><df_reward><class>Df_Reward_Helper</class></df_reward></helpers>
		<models>
			<df_reward>
				<class>Df_Reward_Model</class>
				<resourceModel>df_reward_resource</resourceModel>
			</df_reward>
			<df_reward_resource>
				<class>Df_Reward_Model_Resource</class>
				<entities>
					<reward><table>df_reward</table></reward>
					<reward_history><table>df_reward_history</table></reward_history>
					<reward_rate><table>df_reward_rate</table></reward_rate>
					<reward_salesrule><table>df_reward_salesrule</table></reward_salesrule>
				</entities>
			</df_reward_resource>
		</models>
		<resources>
			<df_reward_setup>
				<setup>
					<module>Df_Reward</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_reward_setup>
		</resources>
		<template>
			<email>
				<df_reward_notification_balance_update_template
					translate='label'
					module='df_reward'
				>
					<label>Reward Points Balance Update</label>
					<file>df/customer/points/updated.html</file>
					<type>html</type>
				</df_reward_notification_balance_update_template>
				<df_reward_notification_expiry_warning_template
					translate='label' 
					module='df_reward'
				>
					<label>Reward Points Expiry Warning</label>
					<file>df/customer/points/expiration_warning.html</file>
					<type>html</type>
				</df_reward_notification_expiry_warning_template>
			</email>
		</template>
		<sales>
			<quote>
				<totals>
					<reward>
						<class>df_reward/total_quote_reward</class>
						<after>wee,discount,tax,tax_subtotal,grand_total</after>
						<before>giftcardaccount,customerbalance</before>
						<renderer>df_reward/checkout_total</renderer>
					</reward>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<reward>
						<class>df_reward/total_invoice_reward</class>
					</reward>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<reward>
						<class>df_reward/total_creditmemo_reward</class>
					</reward>
				</totals>
			</order_creditmemo>
		</sales>
		<fieldsets>
			<sales_convert_quote_address>
				<reward_points_balance><to_order>*</to_order></reward_points_balance>
				<reward_currency_amount><to_order>*</to_order></reward_currency_amount>
				<base_reward_currency_amount><to_order>*</to_order></base_reward_currency_amount>
			</sales_convert_quote_address>
		</fieldsets>
		<events>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>newsletter_subscriber_save_commit_after</method>
					</Df_Reward>
				</observers>
			</newsletter_subscriber_save_commit_after>
			<sales_order_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_save_after</method>
					</Df_Reward>
				</observers>
			</sales_order_save_after>
			<sales_quote_collect_totals_before>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_quote_collect_totals_before</method>
					</Df_Reward>
				</observers>
			</sales_quote_collect_totals_before>
			<sales_quote_merge_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_quote_merge_after</method>
					</Df_Reward>
				</observers>
			</sales_quote_merge_after>
			<sales_order_load_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_load_after</method>
					</Df_Reward>
				</observers>
			</sales_order_load_after>
			<sales_order_invoice_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_invoice_save_after</method>
					</Df_Reward>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_invoice_save_commit_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_invoice_save_commit_after</method>
					</Df_Reward>
				</observers>
			</sales_order_invoice_save_commit_after>
			<sales_order_creditmemo_refund>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_creditmemo_refund</method>
					</Df_Reward>
				</observers>
			</sales_order_creditmemo_refund>
			<sales_order_creditmemo_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_creditmemo_save_after</method>
					</Df_Reward>
				</observers>
			</sales_order_creditmemo_save_after>
		</events>
		<pdf>
			<totals>
				<reward translate='title'>
					<title>Reward Points</title>
					<source_field>reward_currency_amount</source_field>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>650</sort_order>
					<amount_prefix>-</amount_prefix>
				</reward>
			</totals>
		</pdf>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<reward before='Mage_Adminhtml'>Df_Reward_Adminhtml</reward>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_reward><file>df/reward.xml</file></df_reward>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Reward><files><default>Df/Reward.csv</default></files></Df_Reward>
			</modules>
		</translate>
		<events>
			<core_layout_update_updates_get_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>core_layout_update_updates_get_after</method>
					</Df_Reward>
				</observers>
			</core_layout_update_updates_get_after>
			<adminhtml_customer_prepare_save>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>adminhtml_customer_prepare_save</method>
					</Df_Reward>
				</observers>
			</adminhtml_customer_prepare_save>
			<adminhtml_customer_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>adminhtml_customer_save_after</method>
					</Df_Reward>
				</observers>
			</adminhtml_customer_save_after>
			<review_save_commit_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>review_save_commit_after</method>
					</Df_Reward>
				</observers>
			</review_save_commit_after>
			<tag_save_commit_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>tag_save_commit_after</method>
					</Df_Reward>
				</observers>
			</tag_save_commit_after>
			<adminhtml_sales_order_create_process_data>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>adminhtml_sales_order_create_process_data</method>
					</Df_Reward>
				</observers>
			</adminhtml_sales_order_create_process_data>
			<adminhtml_sales_order_creditmemo_register_before>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>adminhtml_sales_order_creditmemo_register_before</method>
					</Df_Reward>
				</observers>
			</adminhtml_sales_order_creditmemo_register_before>
			<website_delete_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>website_delete_after</method>
					</Df_Reward>
				</observers>
			</website_delete_after>
			<adminhtml_block_salesrule_actions_prepareform>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>adminhtml_block_salesrule_actions_prepareform</method>
					</Df_Reward>
				</observers>
			</adminhtml_block_salesrule_actions_prepareform>
			<salesrule_rule_load_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>salesrule_rule_load_after</method>
					</Df_Reward>
				</observers>
			</salesrule_rule_load_after>
			<salesrule_rule_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>salesrule_rule_save_after</method>
					</Df_Reward>
				</observers>
			</salesrule_rule_save_after>
		</events>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<df_reward><file>df/reward.xml</file></df_reward>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Reward><files><default>Df/Reward.csv</default></files></Df_Reward>
			</modules>
		</translate>
		<routers>
			<df_reward>
				<use>standard</use>
				<args>
					<module>Df_Reward</module>
					<frontName>reward</frontName>
				</args>
			</df_reward>
		</routers>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>core_block_abstract_to_html_after</method>
					</Df_Reward>
				</observers>
			</core_block_abstract_to_html_after>
			<customer_session_init>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>customer_session_init</method>
					</Df_Reward>
				</observers>
			</customer_session_init>
			<customer_save_before>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>customer_save_before</method>
					</Df_Reward>
				</observers>
			</customer_save_before>
			<customer_save_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>customer_save_after</method>
					</Df_Reward>
				</observers>
			</customer_save_after>
			<payment_method_is_active>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>payment_method_is_active</method>
					</Df_Reward>
				</observers>
			</payment_method_is_active>
			<sales_quote_payment_import_data_before>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_quote_payment_import_data_before</method>
					</Df_Reward>
				</observers>
			</sales_quote_payment_import_data_before>
			<sales_order_place_before>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_place_before</method>
					</Df_Reward>
				</observers>
			</sales_order_place_before>
			<sales_order_place_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>sales_order_place_after</method>
					</Df_Reward>
				</observers>
			</sales_order_place_after>
			<df_invitation_save_commit_after>
				<observers>
					<Df_Reward>
						<class>Df_Reward_Observer</class>
						<method>df_invitation_save_commit_after</method>
					</Df_Reward>
				</observers>
			</df_invitation_save_commit_after>
			<salesrule_validator_process>
				<observers>
					<Df_Reward>
						<!--
							Подсчитываем применимые к корзине правила с накопительными скидками
						-->
						<class>Df_Reward_Observer</class>
						<method>salesrule_validator_process</method>
					</Df_Reward>
				</observers>
			</salesrule_validator_process>
		</events>
	</frontend>
	<default>
		<df_reward>
			<general>
				<enabled>0</enabled>
				<enabled_on_front>0</enabled_on_front>
				<publish_history>1</publish_history>
				<expiry_calculation>static</expiry_calculation>
				<landing_page>reward-points</landing_page>
			</general>
			<notification>
				<email_sender>general</email_sender>
				<subscribe_by_default>1</subscribe_by_default>
				<balance_update_template>df_reward_notification_balance_update_template</balance_update_template>
				<expiry_warning_template>df_reward_notification_expiry_warning_template</expiry_warning_template>
			</notification>
		</df_reward>
		<sales>
			<totals_sort>
				<reward>80</reward>
			</totals_sort>
		</sales>
	</default>
	<crontab>
		<jobs>
			<df_reward_expire_points>
				<schedule><cron_expr>1 * * * *</cron_expr></schedule>
				<run><model>Df_Reward_Observer::scheduledPointsExpiration</model></run>
			</df_reward_expire_points>
		</jobs>
	</crontab>
</config>
