<?xml version='1.0'?>
<config>
	<sections>
		<df_reward>
			<label>Reward Points</label>
			<class>separator-top</class>
			<tab>df</tab>
			<sort_order>7000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general module='df_reward'>
					<label>Основное</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
							<a
								target='_blank'
								href='http://magento-forum.ru/topic/2022/'
								title='описание настроек'
							>описание настроек</a>
						]]>
					</comment>
					<fields>
						<enabled>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-reward</df_feature>
							<comment>
								<![CDATA[
									Включает и отключает модуль.
								]]>
							</comment>
						</enabled>
						<enabled_on_front>
							<label>Включить для покупателей?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
							<comment>
								<![CDATA[
									Когда эта опция отключена,только администратор будет вправе начислять и списывать баллы.
								]]>
							</comment>
						</enabled_on_front>
						<publish_history>
							<label>Показывать ли покупателю историю его накоплений?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
							<comment>
								<![CDATA[
									Когда эта опция включена, покупатель будет видеть
									детальную историю всех операций со своими баллами:
									начисление баллов, списание баллов при покупках,сгорание баллов и т.п.
								]]>
							</comment>
						</publish_history>
						<min_points_balance translate='label comment'>
							<label>Минимальное количество принимаемых при оплате заказа баллов</label>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Установив это ограничение, Вы запретите покупателям
									предъявлять при оплате баллы до тех пор, пока
									покупатель не накопит указанного количества баллов.
									<br/>
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
							<depends>
								<enabled>1</enabled>
							</depends>
						</min_points_balance>
						<max_points_balance translate='label comment'>
							<label>Максимальное количество накапливаемых покупателем баллов</label>
							<frontend_type>text</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Установив это ограничение, Вы запретите покупателям
									накапливать на своём счету больше указанного количества баллов.
									<br/>
									Как только покупатель достигнет порога — новые баллы ему засчитываться не будут
									до тех пор, пока покупатель не потратит какую-то часть уже накопленных баллов.
									<br/>
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
							<depends>
								<enabled>1</enabled>
							</depends>
						</max_points_balance>
						<expiration_days translate='label comment'>
							<label>Срок годности баллов</label>
							<frontend_type>text</frontend_type>
							<backend_model>Df_Reward_Model_Config_Backend_Expiration</backend_model>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Чтобы не ограничивать баллы сроком годности, оставьте поле пустым.
									<br/>
									Если Вы установите срок годности, то баллы будут сгорать с его истечением.
									<br/>
									Для каждой порции баллов срок годности отсчитывается с момента получения этой порции.
									<br/>
									Покупатель будет видеть срок годности своих баллов рядом с каждой порцией полученных баллов.
								]]>
							</comment>
							<depends>
								<enabled>1</enabled>
							</depends>
						</expiration_days>
						<expiry_calculation translate='label comment'>
							<label>Способ контроля срока годности</label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Reward_Model_Source_Points_ExpiryCalculation</source_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Если Вы укажете значение
									«<em>запоминать дату истечения срока годности при начислении баллов</em>»,то система при начислении баллов сразу запомнит дату их истечения,и если Вы потом измените значение опции «Срок годности баллов»,то новое значение не будет влиять на ранее присвоенные баллы.
									<br/><br/>
									Если Вы укажете значение
									«<em>рассчитывать срок годности при просмотре и использовании баллов</em>»,то система при начислении баллов не будет запоминать дату их истечения,а будет рассчитывать дату их истечения при необходимости: просмотре и использовании баллов.
									<br/>
									Если Вы потом измените значение опции «Срок годности баллов»,то новое значение будет применено и для ранее присвоенных баллов.
								]]>
							</comment>
							<depends>
								<enabled>1</enabled>
							</depends>
						</expiry_calculation>
						<landing_page translate='label comment'>
							<sort_order>8000</sort_order>
							<label>
								На какую страницу должен ссылаться модуль
								для объяснения покупателям правил накопительной программы?
							</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_cms_page</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</landing_page>
					</fields>
				</general>
				<points module='df_reward'>
					<label>Размеры начислений</label>
					<comment>
						<![CDATA[
							Укажите количество начисляемых баллов за каждое из нижеперечисленных действий
							<br/>
							<a
								target='_blank'
								href='http://magento-forum.ru/topic/2022/'
								title='описание настроек'
							>описание настроек</a>
						]]>
					</comment>
					<frontend_type>text</frontend_type>
					<sort_order>2000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<register translate='label comment'>
							<label>Количество начисляемых баллов за регистрацию в магазине</label>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-reward</df_feature>
						</register>
						<newsletter translate='label comment'>
							<label>Количество начисляемых баллов за подписку на рассылку</label>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									За подписку на рассылку баллы начисляются единократно.
									<br/>
									Второй раз они не начисляются тому же самому покупателю.
									<br/>
									Баллы начисляются только зарегистрированным покупателям.
								]]>
							</comment>
						</newsletter>
						<invitation_customer translate='label comment'>
							<label>
								Количество начисляемых баллов
								за регистрацию в магазине приглашённых друзей
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</invitation_customer>
						<invitation_customer_limit translate='label comment'>
							<label>
								Максимальное количество приглашённых в магазин друзей,за которых начисляются баллы
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
						</invitation_customer_limit>
						<invitation_order translate='label comment'>
							<label>
								Количество начисляемых баллов
								за покупку в магазине приглашённым другом
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<!--comment>Each or First Order - depending on Configuration</comment-->
						</invitation_order>
						<invitation_order_limit translate='label comment'>
							<label>
								Максимальное количество покупок друзей в магазине,за которые начисляются баллы
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
						</invitation_order_limit>
						<review translate='label comment'>
							<label>Количество начисляемых баллов за написание отзыва (обзора) к товару</label>
							<frontend_type>text</frontend_type>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</review>
						<review_limit translate='label comment'>
							<label>
								Максимальное количество отзывов к товарам,за которые начисляются баллы
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
						</review_limit>
						<tag translate='label comment'>
							<label>
								Количество начисляемых баллов
								за добавление метки (тега) к товару
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Метки засчитываются после их одобрения модератором.
								]]>
							</comment>
						</tag>
						<tag_limit translate='label comment'>
							<label>
								Максимальное количество меток (тегов),за которые начисляются баллы
							</label>
							<frontend_type>text</frontend_type>
							<sort_order>10000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Чтобы убрать ограничение, оставьте поле пустым.
								]]>
							</comment>
						</tag_limit>
					</fields>
				</points>
				<notification module='df_reward'>
					<label>Почтовые уведомления</label>
					<frontend_type>text</frontend_type>
					<sort_order>3000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
							<a
								target='_blank'
								href='http://magento-forum.ru/topic/2022/'
								title='описание настроек'
							>описание настроек</a>
						]]>
					</comment>
					<fields>
						<email_sender>
							<label>Отправитель</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-reward</df_feature>
							<comment>
								<![CDATA[
									Указанными реквизитами отправителя (имя и адрес)
									система будет подписывать письма-уведомления об изменения баланса накопительной программы.
								]]>
							</comment>
						</email_sender>
						<subscribe_by_default>
							<label>Подписывать покупателя автоматически?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									Если указано значение «<em>да</em>», то покупатель,до явного изъявления своей воли по данному вопросу,будет получать письма-оповещения накопительной программы.
									<br/>
									Покупатель имеет возможность отписаться от писем-оповещений накопительной программы
									в своём личном кабинете, а также перейдя по специальной ссылке,присутствующей в каждом письме-оповещении накопительной программы.
									<br/><br/>
									Если указано значение «<em>нет</em>», то покупатель не будет получать
									письма-оповещения накопительной программы до тех пор,пока явно не подпишется на эти оповещения в своём личном кабинете.
								]]>
							</comment>
						</subscribe_by_default>
						<balance_update_template>
							<label>Шаблон письма об изменении количества баллов у покупателя</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									Стандартный русскоязычный шаблон расположен по адресу
									«app/locale/ru_RU/template/email/df/customer/points/updated.html»
								]]>
							</comment>
						</balance_update_template>
						<!--expiry_warning_template>
							<label>Reward Points Expiry Warning Email</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</expiry_warning_template>
						<expiry_day_before translate='label comment'>
							<label>Expiry Warning before (days)</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Empty Value or Value Greater than Expiration Lifetime disables Warning Notification</comment>
						</expiry_day_before-->
					</fields>
				</notification>
			</groups>
		</df_reward>
	</sections>
</config>
