<?xml version='1.0'?>
<config>
	<modules>
		<Df_Banner>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Banner>
	</modules>
	<df>
		<features>
			<df-banner>
				<module>df_banner</module>
				<title>Реклама</title>
				<url>http://magento-forum.ru/forum/125/</url>
			</df-banner>
		</features>
	</df>
	<global>
		<blocks><df_banner><class>Df_Banner_Block</class></df_banner></blocks>
		<helpers><df_banner><class>Df_Banner_Helper</class></df_banner></helpers>
		<models>
			<df_banner>
				<class>Df_Banner_Model</class>
				<resourceModel>df_banner_resource</resourceModel>
			</df_banner>
			<df_banner_resource>
				<class>Df_Banner_Model_Resource</class>
				<entities>
					<banner><table>df_banner</table></banner>
					<banneritem><table>df_banner_item</table></banneritem>
				</entities>
			</df_banner_resource>
		</models>
		<resources>
			<df_banner_setup>
				<setup>
					<module>Df_Banner</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
				<connection><use>core_setup</use></connection>
			</df_banner_setup>
			<df_banner_write><connection><use>core_write</use></connection></df_banner_write>
			<df_banner_read><connection><use>core_read</use></connection></df_banner_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<df_banner><file>df/banner.xml</file></df_banner>
			</updates>
		</layout>
		<routers>
			<df_banner>
				<use>standard</use>
				<args>
					<module>Df_Banner</module>
					<frontName>df_banner</frontName>
				</args>
			</df_banner>
		</routers>
		<translate>
			<modules>
				<Df_Banner><files><default>Df_Banner.csv</default></files></Df_Banner>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<df_banner>
				<use>admin</use>
				<args>
					<module>Df_Banner</module>
					<frontName>df_banner</frontName>
				</args>
			</df_banner>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_banner><file>df/banner.xml</file></df_banner>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Banner><files><default>Df_Banner.csv</default></files></Df_Banner>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<df_promotion>
			<banners>
				<enabled>0</enabled>
			</banners>
		</df_promotion>
	</default>
</config>