<?xml version='1.0'?>
<config>
	<sections>
		<df_shipping>
			<label>Доставка</label>
			<tab>df</tab>
			<!-- Обратите внимание на эту строку! -->
			<frontend_model>Df_Adminhtml_Block_Config_Form</frontend_model>
			<frontend_type>text</frontend_type>
			<sort_order>6000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<product>
					<label>Параметры товаров</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<units__weight>
							<label>Единица веса товаров</label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Admin_Config_Source_Units_Weight</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</units__weight>
						<units__length>
							<label>Единица длины товаров</label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Admin_Config_Source_Units_Length</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</units__length>
						<default__weight>
							<label>Стандартный вес товара</label>
							<comment>используется для товаров неизвестного веса</comment>
							<validate>
								validate-number
								validate-greater-than-zero
							</validate>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default__weight>
						<default__length>
							<label>Стандартная длина товара</label>
							<comment>используется для товаров неизвестной длины</comment>
							<validate>
								validate-number
								validate-greater-than-zero
							</validate>
							<frontend_type>text</frontend_type>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default__length>
						<default__width>
							<label>Стандартная ширина товара</label>
							<comment>используется для товаров неизвестной ширины</comment>
							<validate>
								validate-number
								validate-greater-than-zero
							</validate>
							<frontend_type>text</frontend_type>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default__width>
						<default__height>
							<label>Стандартная высота товара</label>
							<comment>используется для товаров неизвестной высоты</comment>
							<validate>
								validate-number
								validate-greater-than-zero
							</validate>
							<frontend_type>text</frontend_type>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default__height>
					</fields>
				</product>
				<message>
					<label>Тексты</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
						]]>
					</comment>
					<fields>
						<failure__general>
							<label>
								Какое сообщение показывать покупателю
								в случае невозможности расчёта стоимости доставки его заказа
								в автоматическом режиме?
							</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</failure__general>
						<failure__same_location>
							<label>
								Какое сообщение показывать покупателю
								в случае невозможности расчёта стоимости доставки его заказа
								по причине совпадения пункта доставки с местонахождением Вашего магазина?
							</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</failure__same_location>
					</fields>
				</message>
				<in_house_processing>
					<label>Сроки</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<days>
							<label><![CDATA[Сколько дней Вам требуется для передачи заказа покупателя в службу доставки?]]></label>
							<comment><![CDATA[Указанное количество дней будет добавлено к срокам доставки
								для показа совокупных сроков доставки покупателю]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>Df_Admin_Config_Source_SelectNumberFromDropdown</source_model>
							<df_min>0</df_min>
							<df_max>5</df_max>
							<df_step>1</df_step>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
						</days>
						<can_ship_today_untill>
							<label><![CDATA[До какого часа учитывать текущий день в сроках передачи заказа покупателя в службу доставки?]]></label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Admin_Config_Source_SelectNumberFromDropdown</source_model>
							<df_min>8</df_min>
							<df_max>18</df_max>
							<df_step>1</df_step>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
						</can_ship_today_untill>
						<consider_days_off>
							<label><![CDATA[Учитывать ли в сроках передачи заказа в службу доставки
							выходные дни Вашего магазина?]]></label>
							<comment><![CDATA[Выходные дни магазина задаются в административном разделе
							 «Система» → «Настройки» → «Основное» →
							 «Региональные настройки» → «Выходные дни»]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</consider_days_off>
					</fields>
				</in_house_processing>
			</groups>
		</df_shipping>
	</sections>
</config>