<?xml version='1.0'?>
<config>
	<modules>
		<Df_Admin>
			<version>2.23.7</version>
			<author>Дмитрий Федюк</author>
		</Df_Admin>
	</modules>
	<df>
		<features>
			<df-admin-editor>
				<title>Текстовый редактор</title>
				<url>http://magento-forum.ru/forum/295/</url>
			</df-admin-editor>
			<df-dataflow>
				<title>Импорт и экспорт</title>
				<url>http://magento-forum.ru/forum/122/</url>
			</df-dataflow>
			<df-dataflow-categories>
				<title>Импорт и экспорт товарных разделов</title>
				<url>http://magento-forum.ru/topic/764/</url>
			</df-dataflow-categories>
			<df-dataflow-co>
				<title>Импорт и экспорт Custom Options</title>
				<url>http://magento-forum.ru/topic/763/</url>
			</df-dataflow-co>
			<df-dataflow-images>
				<title>Импорт и экспорт картинок</title>
				<url>http://magento-forum.ru/topic/762/</url>
			</df-dataflow-images>
			<df-localization>
				<title>Русификация</title>
				<url>http://magento-forum.ru/topic/2031/</url>
			</df-localization>
			<df-seo>
				<title>Поисковая оптимизация</title>
				<url>http://magento-forum.ru/topic/594/</url>
			</df-seo>
			<df-tweaks>
				<title>Витрина</title>
				<url>http://magento-forum.ru/topic/796/</url>
			</df-tweaks>
			<df-tweaks-admin>
				<title>Административная часть</title>
				<url>http://magento-forum.ru/forum/135/</url>
			</df-tweaks-admin>
		</features>
		<admin>
			<class_rewrite_conflicts>
				<skip>
					<conflict>
						<!--
							@link http://magento-forum.ru/topic/4710/page__view__findpost__p__18177
							@link http://magento-forum.ru/topic/4918/
						 -->
						<active>Megnor_AdvancedMenu_Block_Topmenu</active>
						<inactive>Df_Page_Block_Html_Topmenu</inactive>
					</conflict>
				</skip>
			</class_rewrite_conflicts>
			<config-form>
				<element-types>
					<df-color>Df_Admin_Model_Config_Form_Element_Color</df-color>
					<df-multiselect>Df_Admin_Model_Config_Form_Element_Multiselect</df-multiselect>
					<df-text>Df_Admin_Model_Config_Form_Element_Text</df-text>
				</element-types>
			</config-form>
			<notifiers>
				<class_rewrite_conflicts>Df_Admin_Model_Notifier_ClassRewriteConflicts</class_rewrite_conflicts>
				<delete_demo_stores>Df_Admin_Model_Notifier_DeleteDemoStores</delete_demo_stores>
			</notifiers>
		</admin>
	</df>
	<global>
		<blocks><df_admin><class>Df_Admin_Block</class></df_admin></blocks>
		<helpers><df_admin><class>Df_Admin_Helper</class></df_admin></helpers>
		<models>
			<admin>
				<rewrite>
					<!--
						Цель перекрытия —
						устранение сбоя в той ситуации,
						когда Magento CE объявляет несколько идентичных правил ACL.
					-->
					<acl>Df_Admin_Model_Acl</acl>
				</rewrite>
			</admin>
			<df_admin>
				<class>Df_Admin_Model</class>
				<resourceModel>df_admin_resource</resourceModel>
			</df_admin>
			<df_admin_resource>
				<class>Df_Admin_Model_Resource</class>
			</df_admin_resource>
		</models>
		<resources>
			<df_admin_setup>
				<setup>
					<module>Df_Admin</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_admin_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<df_admin>
				<use>admin</use>
				<args>
					<module>Df_Admin</module>
					<frontName>df-admin</frontName>
				</args>
			</df_admin>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Df_Admin><files><default>Df_Admin.csv</default></files></Df_Admin>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<df_tweaks_admin>
			<catalog_product>
				<fix_bundle_js>1</fix_bundle_js>
			</catalog_product>
			<editor>
				<fix_headers_already_sent>1</fix_headers_already_sent>
				<fix_images>1</fix_images>
				<use_rm>1</use_rm>
			</editor>
			<interface>
				<form_label__font__letter_case>default</form_label__font__letter_case>
				<grid_label__font__letter_case>lowercase</grid_label__font__letter_case>
				<button_label__font__letter_case>lowercase</button_label__font__letter_case>
			</interface>
			<optimization>
				<fix_double_stock_reindexing_on_product_save>1</fix_double_stock_reindexing_on_product_save>
			</optimization>
			<other>
				<jquery_load_mode>load-from-local</jquery_load_mode>
				<jquery_remove_extraneous>1</jquery_remove_extraneous>
			</other>
			<promotions>
				<fix_products_subselection>1</fix_products_subselection>
			</promotions>
			<reviews>
				<notification_template>df_tweaks_admin_reviews_notification_template</notification_template>
			</reviews>
			<sales_customers>
				<enable_website_changing>1</enable_website_changing>
			</sales_customers>
			<system_config>
				<remind_fieldset_toggle_state>1</remind_fieldset_toggle_state>
			</system_config>
			<system_indices>
				<varchar_length>0</varchar_length>
			</system_indices>
			<system_notifications>
				<fix_reminder>1</fix_reminder>
			</system_notifications>
			<system_tools_compilation>
				<fix>1</fix>
			</system_tools_compilation>
		</df_tweaks_admin>
	</default>
</config>