<?xml version='1.0'?>
<config>
	<modules>
		<Df_Pickup>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Pickup>
	</modules>
	<global>
		<blocks><df_pickup><class>Df_Pickup_Block</class></df_pickup></blocks>
		<helpers><df_pickup><class>Df_Pickup_Helper</class></df_pickup></helpers>
		<models>
			<df_pickup>
				<class>Df_Pickup_Model</class>
				<resourceModel>df_pickup_resource</resourceModel>
			</df_pickup>
			<df_pickup_resource>
				<class>Df_Pickup_Model_Resource</class>
				<entities>
					<point><table>df_pickup_point</table></point>
				</entities>
			</df_pickup_resource>
		</models>
		<resources>
			<df_pickup_setup>
				<setup>
					<module>Df_Pickup</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_pickup_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<df_pickup_admin>
				<use>admin</use>
				<args>
					<module>Df_Pickup_Admin</module>
					<frontName>df-pickup-admin</frontName>
				</args>
			</df_pickup_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_pickup><file>df/pickup.xml</file></df_pickup>
			</updates>
		</layout>
	</adminhtml>
</config>