<?xml version='1.0'?>
<config>
	<modules>
		<Df_Reports>
			<author>Дмитрий Федюк</author>
			<title>Отчёты</title>
			<version>1.0.0</version>
		</Df_Reports>
	</modules>
	<df>
		<features>
			<df-reports>
				<module>df_reports</module>
				<title>Отчёты</title>
				<url>http://magento-forum.ru/forum/134/</url>
			</df-reports>
		</features>
	</df>
	<global>
		<blocks><df_reports><class>Df_Reports_Block</class></df_reports></blocks>
		<helpers><df_reports><class>Df_Reports_Helper</class></df_reports></helpers>
		<models>
			<df_reports>
				<class>Df_Reports_Model</class>
				<resourceModel>df_reports_resource</resourceModel>
			</df_reports>
			<df_reports_resource>
				<class>Df_Reports_Model_Resource</class>
			</df_reports_resource>
			<reports_resource>
				<rewrite>
					<!--
						Цель перекрытия —
						некоторые сторонние оформительские темы не поддерживают режим денормализации,
						поэтому желательно иметь возможность отключать режим денормализации
						для конкретных коллекций.
					-->
					<product_collection>Df_Reports_Model_Resource_Product_Collection</product_collection>
				</rewrite>
			</reports_resource>
		</models>
	</global>
	<adminhtml>
		<events>
			<adminhtml_block_html_before>
				<observers>
					<Df_Reports>
						<class>Df_Reports_Observer</class>
						<method>adminhtml_block_html_before</method>
					</Df_Reports>
				</observers>
			</adminhtml_block_html_before>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<Df_Reports>
						<class>Df_Reports_Observer</class>
						<method>controller_action_layout_generate_blocks_after</method>
					</Df_Reports>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<core_collection_abstract_load_before>
				<observers>
					<Df_Reports>
						<class>Df_Reports_Observer</class>
						<method>core_collection_abstract_load_before</method>
					</Df_Reports>
				</observers>
			</core_collection_abstract_load_before>
		</events>
		<translate>
			<modules>
				<Df_Reports><files><default>Df/Reports.csv</default></files></Df_Reports>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<df_reports>
			<common>
				<enable_group_by_week>1</enable_group_by_week>
				<enabled>1</enabled>
				<period_duration>undefined</period_duration>
				<remove_timozone_notice>1</remove_timozone_notice>
				<set_end_date_to_the_yesterday>1</set_end_date_to_the_yesterday>
			</common>
		</df_reports>
	</default>
</config>