<?xml version='1.0'?>
<config>
	<sections>
		<api>
			<groups>
				<config>
					<fields>
						<session_timeout>
							<comment>
								<![CDATA[
									Установка слишком маленького значения
									может приводить к сбоям подключения к интернет-магазину
									сторонних программ.
									<br/>Обратите внимание, что установка слишком большого значения
									(например, «999999») приведёт к замусориванию базы данных
									устаревшими данными давно прошедших подключений внешних программ.
									<br/>Рекомендую для этой опции значение «<b>86400</b>» (<b>1 сутки</b>).
									<br/>Начиная с версии 2.35.1 Российской сборки Magento
									модуль «1C: Управление торговлей» не использует значение этой опции.
								]]>
							</comment>
						</session_timeout>
					</fields>
				</config>
			</groups>
		</api>
	</sections>
</config>