<?xml version='1.0'?>
<config>
	<modules>
		<Df_Localization>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Localization>
	</modules>
	<global>
		<blocks><df_localization><class>Df_Localization_Block</class></df_localization></blocks>
		<helpers><df_localization><class>Df_Localization_Helper</class></df_localization></helpers>
		<models><df_localization><class>Df_Localization_Model</class></df_localization></models>
	</global>
	<admin>
		<routers>
			<df_localization>
				<use>admin</use>
				<args>
					<module>Df_Localization</module>
					<frontName>df_localization</frontName>
				</args>
			</df_localization>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_localization><file>df/localization.xml</file></df_localization>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<df-localization>
				<use>standard</use>
				<args>
					<module>Df_Localization</module>
					<frontName>df-localization</frontName>
				</args>
			</df-localization>
		</routers>
	</frontend>
	<default>
		<df_localization>
			<frontend>
				<rm_translation__enabled>1</rm_translation__enabled>
				<rm_translation__set_as_primary>1</rm_translation__set_as_primary>
				<allow_interference>developer-mode</allow_interference>
				<hide_decimals>0</hide_decimals>
			</frontend>
			<admin>
				<rm_translation__enabled>1</rm_translation__enabled>
				<rm_translation__set_as_primary>1</rm_translation__set_as_primary>
				<allow_interference>developer-mode</allow_interference>
				<hide_decimals>0</hide_decimals>
			</admin>
			<email>
				<rm_translation__enabled>1</rm_translation__enabled>
				<hide_decimals>0</hide_decimals>
			</email>
		</df_localization>
	</default>
	<df>
		<admin>
			<notifiers>
				<localization__theme>Df_Localization_Model_Notifier_Theme</localization__theme>
			</notifiers>
		</admin>
	</df>
	<rm>
		<translation>
			<default>
				<!--
				 	koolthememaster Caramel Store
					http://themeforest.net/item/caramel-store/1957358
					http://magento-forum.ru/forum/298/
				-->
				<caramel>koolthememaster/Caramel.xml</caramel>
				<!--
				 	8theme Gadget
					http://8theme.com/magento-template/gadget-magento-template.html
					http://magento-forum.ru/forum/289/
				-->
				<gadget>8theme/Gadget.xml</gadget>
				<!--
					2015-12-01
				 	Gala SoftwareMarket
					http://themeforest.net/item/responsive-magento-theme-gala-softwaremarket/6384061
					http://magento-forum.ru/forum/373/
				-->
				<softwaremarket>Gala/SoftwareMarket.xml</softwaremarket>
				<!--
				 	Gala TitanShop
					http://themeforest.net/item/responsive-magento-theme-gala-titanshop/8202636
					http://magento-forum.ru/forum/352/
				-->
				<galatitanshop>Gala/TitanShop.xml</galatitanshop>
				<!--
				 	TemplateMela Beauty
				 	http://www.templatemela.com/demo/MAG080119
				 	http://magento-forum.ru/forum/293/
				-->
				<MAG080119>TemplateMela/MAG080119.xml</MAG080119>
				<!--
				 	SNS Xsport
				 	http://themeforest.net/item/sns-xsport-premium-responsive-magento-theme/8205296
				 	http://demo.snstheme.com/theme/xsport/
				 	http://magento-forum.ru/forum/355/
				-->
				<sns_xsport>Sns/Xsport.xml</sns_xsport>
				<!--
				 	TemplateMonster #43442
				 	http://www.templatemonster.com/magento-themes/43442.html
				 	http://magento-forum.ru/forum/302/
				-->
				<theme464>TemplateMonster/43442.xml</theme464>
				<!--
					2015-10-16
				 	TemplateMonster #53174
					http://www.templatemonster.com/demo/53174.html
					http://www.templatemonster.com/magento-themes/53174.html
				 	http://magento-forum.ru/forum/372/
				-->
				<theme690>TemplateMonster/53174.xml</theme690>
				<!--
				 	CatTheme se105
				 	http://demo.cattheme.com/se105/
					http://magento-forum.ru/forum/292/
				-->
				<se105>CatTheme/se105.xml</se105>
			</default>
			<!--
			 	8theme Mercado
				http://8theme.com/magento-template/mercado-magento-theme2.html
				http://magento-forum.ru/forum/288/
			-->
			<mercado>
				<default>8theme/Mercado.xml</default>
			</mercado>
			<rwd>
				<default>Magento/RWD.xml</default>
			</rwd>
			<tm_themes>
				<theme760>TemplateMonster/58050.xml</theme760>
			</tm_themes>
			<!--
			 	Infortis Ultimo
				http://magento-forum.ru/forum/320/
				http://themeforest.net/item/ultimo-fluid-responsive-magento-theme/3231798
				http://ultimo.infortis-themes.com/demo/select-demo/
			-->
			<ultimo>
				<default>Infortis/Ultimo.xml</default>
			</ultimo>
		</translation>
		<design-theme-processors>
			<gala-softwaremarket>
				<title>ThemeForest Gala SoftwareMarket</title>
				<package>default</package>
				<theme>galasoftwaremarket</theme>
				<dictionary>Gala/SoftwareMarket.xml</dictionary>
				<url>
					<forum>http://magento-forum.ru/forum/373/</forum>
					<official_site>http://themeforest.net/item/responsive-magento-theme-gala-softwaremarket/6384061?ref=dfediuk</official_site>
				</url>
			</gala-softwaremarket>
			<gala-titanshop>
				<title>ThemeForest Gala TitanShop</title>
				<package>default</package>
				<theme>galatitanshop</theme>
				<dictionary>Gala/TitanShop.xml</dictionary>
				<url>
					<demo>http://gala-titanshop.magento-demo.ru/</demo>
					<forum>http://magento-forum.ru/forum/352/</forum>
					<official_site>http://themeforest.net/item/responsive-magento-theme-gala-titanshop/8202636?ref=dfediuk</official_site>
				</url>
			</gala-titanshop>
			<infortis-fortis>
				<title>ThemeForest Infortis Fortis</title>
				<package>fortis</package>
				<dictionary>Infortis/Fortis.xml</dictionary>
				<url>
					<demo>
						http://fortis.magento-demo.ru/default/
						http://fortis.magento-demo.ru/second/
						http://fortis.magento-demo.ru/third/
						http://fortis.magento-demo.ru/fourth/
						http://fortis.magento-demo.ru/fifth/
					</demo>
					<demo_images_base>http://fortis.infortis-themes.com/demo/</demo_images_base>
					<forum>http://magento-forum.ru/forum/350/</forum>
					<official_site>http://themeforest.net/item/fortis-responsive-magento-theme/1744309?ref=dfediuk</official_site>
				</url>
			</infortis-fortis>
			<infortis-ultimo>
				<title>ThemeForest Infortis Ultimo</title>
				<package>ultimo</package>
				<dictionary>Infortis/Ultimo.xml</dictionary>
				<url>
					<demo>
						http://ultimo.magento-demo.ru/default/
						http://ultimo.magento-demo.ru/second2/
						http://ultimo.magento-demo.ru/third/
						http://ultimo.magento-demo.ru/fourth/
						http://ultimo.magento-demo.ru/fifth/
						http://ultimo.magento-demo.ru/sixth/
					</demo>
					<demo_images_base>http://ultimo.infortis-themes.com/demo/</demo_images_base>
					<forum>http://magento-forum.ru/forum/320/</forum>
					<official_site>http://themeforest.net/item/ultimo-fluid-responsive-magento-theme/3231798?ref=dfediuk</official_site>
				</url>
			</infortis-ultimo>
			<magento-default>
				<title>Стандартная темы Default</title>
				<package>default</package>
				<theme>default</theme>
				<dictionary>Magento/Default.xml</dictionary>
			</magento-default>
			<magento-modern>
				<title>Стандартная тема Modern</title>
				<package>default</package>
				<theme>modern</theme>
				<dictionary>Magento/Modern.xml</dictionary>
				<dictionary>Magento/RWD.xml</dictionary>
				<url>
					<forum>http://magento-forum.ru/forum/43/</forum>
				</url>
			</magento-modern>
			<magento-rwd>
				<title>Стандартная тема Magento CE 1.9 (RWD)</title>
				<package>rwd</package>
				<theme>default</theme>
				<dictionary>Magento/RWD.xml</dictionary>
				<url>
					<demo>http://rwd.magento-demo.ru/</demo>
					<forum>http://magento-forum.ru/forum/338/</forum>
				</url>
			</magento-rwd>
			<!--
			 	SmartWave Porto (ThemeForest 9725864)
				http://magento-forum.ru/forum/371/
				http://themeforest.net/item/porto-ultimate-responsive-magento-theme/9725864
			-->
			<smartwave-porto>
				<title>Porto (ThemeForest 9725864)</title>
				<package>smartwave</package>
				<theme>porto</theme>
				<dictionary>SmartWave/Porto.xml</dictionary>
				<url>
					<demo>
						http://newsmartwave.net/magento/porto/index.php/demo1_en
						http://newsmartwave.net/magento/porto/index.php/demo2_en
						http://newsmartwave.net/magento/porto/index.php/demo3_en
						http://newsmartwave.net/magento/porto/index.php/demo4_en
						http://newsmartwave.net/magento/porto/index.php/demo5_en
						http://newsmartwave.net/magento/porto/index.php/demo6_en
						http://newsmartwave.net/magento/porto/index.php/demo7_en
						http://newsmartwave.net/magento/porto/index.php/demo8_en
						http://newsmartwave.net/magento/porto/index.php/demo9_en
						http://newsmartwave.net/magento/porto/index.php/demo10_en
						http://newsmartwave.net/magento/porto/index.php/demo11_en
						http://newsmartwave.net/magento/porto/index.php/demo12_en
						http://newsmartwave.net/magento/porto/index.php/demo13_en
						http://newsmartwave.net/magento/porto/index.php/demo14_en
						http://newsmartwave.net/magento/porto/index.php/demo15_en
						http://newsmartwave.net/magento/porto/index.php/demo16_en
						http://newsmartwave.net/magento/porto/index.php/demo17_en
					</demo>
					<demo_images_base>http://newsmartwave.net/magento/porto/index.php/demo6_en/</demo_images_base>
					<forum>http://magento-forum.ru/forum/371/</forum>
					<official_site>http://themeforest.net/item/porto-ultimate-responsive-magento-theme/9725864?ref=dfeduik</official_site>
				</url>
			</smartwave-porto>
			<sns-xsport>
				<title>SNS Xsport</title>
				<package>default</package>
				<theme>sns_xsport</theme>
				<dictionary>Sns/Xsport.xml</dictionary>
				<url>
					<demo>http://sns-xsport.magento-demo.ru/</demo>
					<demo_images_base>http://demo.snstheme.com/sns-xsport/</demo_images_base>
					<forum>http://magento-forum.ru/forum/355/</forum>
					<official_site>http://themeforest.net/item/sns-xsport-premium-responsive-magento-theme/8205296?ref=dfediuk</official_site>
				</url>
			</sns-xsport>
			<templatemela-mega-shop>
				<title>TemplateMela Mega Shop</title>
				<package>default</package>
				<theme>MAG090172</theme>
				<dictionary>TemplateMela/Mega_Shop.xml</dictionary>
				<url>
					<demo>http://templatemela-mega-shop.magento-demo.ru/</demo>
					<forum>http://magento-forum.ru/forum/363/</forum>
					<official_site>http://themeforest.net/item/mega-shop-magento-responsive-template/6608610?ref=dfediuk</official_site>
				</url>
			</templatemela-mega-shop>
			<templatemonster-43373>
				<title>TemplateMonster #43373 (Tea Land)</title>
				<package>default</package>
				<theme>theme454</theme>
				<dictionary>TemplateMonster/43373.xml</dictionary>
				<processor>Df_Localization_Model_Onetime_Processor_TemplateMonster_43373</processor>
				<url>
					<demo>http://templatemonster-43373.magento-demo.ru/</demo>
					<forum>http://magento-forum.ru/forum/364/</forum>
					<official_site>http://store.templatemonster.com/ru/magento-themes-type/43373.html?aff=Dmitry_Fedyuk</official_site>
				</url>
			</templatemonster-43373>
			<templatemonster-53174>
				<title>TemplateMonster #53174 (Kids Fashion)</title>
				<package>default</package>
				<theme>theme690</theme>
				<dictionary>TemplateMonster/53174.xml</dictionary>
				<url>
					<demo>http://templatemonster-53174.magento-demo.ru/</demo>
					<forum>http://magento-forum.ru/forum/372/</forum>
					<official_site>http://store.templatemonster.com/ru/magento-themes-type/53174.html?aff=Dmitry_Fedyuk</official_site>
				</url>
			</templatemonster-53174>
<!-- 2017-12-18
"Русифицировать оформительскую тему TemplateMonster #58050 («Electro»)":
https://github.com/magento-russia/2/issues/5 -->
			<templatemonster-58050>
				<title>TemplateMonster #58050 (Electro)</title>
				<package>tm_themes</package>
				<theme>theme760</theme>
				<dictionary>TemplateMonster/58050.xml</dictionary>
				<url>
					<forum>http://magento-forum.ru/forum/379</forum>
					<official_site>http://store.templatemonster.com/ru/magento-themes-type/58050.html?aff=Dmitry_Fedyuk</official_site>
				</url>
			</templatemonster-58050>
			<ves-super-store>
				<title>Ves Super Store (ThemeForest 8002349)</title>
				<package>default</package>
				<theme>ves_superstore</theme>
				<dictionary>Ves/Super_Store.xml</dictionary>
				<url>
					<demo>
						http://demoleotheme.com/superstore/index.php/?___store=default
						http://demoleotheme.com/superstore/index.php/?___store=english2
					</demo>
					<demo_images_base>http://demoleotheme.com/superstore/</demo_images_base>
					<forum>http://magento-forum.ru/forum/370/</forum>
					<official_site>http://themeforest.net/item/ves-super-store-responsive-magento-theme-/8002349?ref=dfediuk</official_site>
				</url>
			</ves-super-store>
		</design-theme-processors>
	</rm>
</config>