body.df-theme-infortis-ultimo {
	.df {
		.df-checkout-ergonomic {
			/*
				Подобное правило присутствует в оформительской теме,
				однако оно глушится стандартными правилами модуля "Удобное оформление заказа".
				Восстанавливаем его.
			*/
			button.btn-checkout {
				line-height: 55px;
				font-size: 1.1666em;
			}
			.error-msg {
				border: 1px solid rgb(192, 34, 48);
			}
		}
	}
	.dropdown-toggle {
		.hide-below-1280
		,.hide-below-960{
			text-transform: lowercase;
		}
	}
	/*
		После русификации ссылки меню пользователя не помещаются в одном ряду в шапке.
		По этой причине немного корректируем 12-колоночную модульную сетку для шапки:
		логотипу (слева) уделяем 3 колонки вместо 4,
		а меню пользователя (справа) уделяем 5 колонок вместо 4.
	*/
	.header-regular {
		.hp-blocks-holder {
			> .hp-block {
				// вместо ширины класса .grid12-4
				// устанавливаем ширину класса .grid12-3
				width:23%;
				&#header-search {
					// возвращаем форме поиска ширину класса .grid12-4
					width:31.33%;
				}
				// меню пользователя
				&.user-menu {
					// вместо ширины класса .grid12-4
					// устанавливаем ширину класса .grid12-5
					width: 39.67%;
				}
			}
		}
	}
}