<?xml version='1.0'?>
<config>
   <sections>
		<df_payment>
			<groups>
				<interkassa translate='label' module='df_interkassa'>
					<label>Interkassa</label>
					<comment>
					   <![CDATA[
							<a
								target='_blank'
								href='http://www.interkassa.ru/Info/ru/158'
								title='порядок регистрации магазина'
							>как подключить магазин к INTERKASSA?</a>
					   ]]>
				   </comment>
					<frontend_type>text</frontend_type>
					<sort_order>9000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate='label'>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<df_feature>df-interkassa</df_feature>
						</active>
						<payment_service__shop_id translate='label'>
							<label><![CDATA[Идентификатор магазина в Interkassa]]></label>
							<comment>
							   <![CDATA[
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/1794/'
										title='инструкция с картинками'
									>как узнать номер моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__shop_id>
						<frontend__title translate='label'>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</frontend__title>
						<frontend__description translate='label'>
							<label>Примечание к способу оплаты на экране оформления заказа</label>
							<comment>
								<![CDATA[
									Это примечание отображается под названием способа оплаты
									на экране оформления заказа.
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__description>
						<payment_service__transaction_description translate='label'>
							<label>Примечание к счёту в платёжной системе</label>
							<comment>
								<![CDATA[
									Это примечание к счёту передаётся в платёжную систему.
									<br/>
									Его видит как покупатель при оплате, так и администратор при просмотре счетов
									в Личном кабинете платёжной системы.
									<br/>В шаблоне примечания можно использовать следующие переменные:
									<br/><b>{order.id}</b>: номер заказа
									<br/><b>{shop.domain}</b>: домен магазина
									<br/><b>{shop.name}</b>: название витрины
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>5500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
						</payment_service__transaction_description>
						<frontend__sort_order translate='label'>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить платёжные способы на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
							<validate>
								validate-digits
							</validate>
						</frontend__sort_order>
						<payment_service__response_password translate='label'>
							<label>
								Криптографический ключ магазина
							</label>
							<comment>
							   <![CDATA[
									Укажите здесь криптографический ключ,который Вы указывали в графе «<i>Ваш текущий секретный ключ (secret_key)</i>»
									в Личном кабинете INTERKASSA.
									<br />
									Платёжная система и модуль используют этот криптографический ключ
									для шифрования информационного обмена между собой.
									<br />
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/1795/'
										title='инструкция с картинками'
									>Как узнать криптографический ключ моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__response_password>
						<payment_service__currency translate='label'>
							<label>Валюта заказов</label>
							<comment>
							   <![CDATA[
									Модуль будет выражать размер платежа в этой валюте
									при взаимодействии с INTERKASSA.
									<br/>
									<b>Настоятельно рекомендую оставить в данном поле значение по умолчанию — «доллары США»,потому что иначе Вам придётся вручную указывать
									курс выбранной Вами валюты к доллару США в Личном кабинете INTERKASSA
									и постоянно обновлять этот курс вручную.</b>
									<br/>
									(Это — явный недостаток архитектуры платёжной системы INTERKASSA
									по сравнению с другими платёжными системами).
									<br/>
									Обратите внимание:
									<br />* Вы должны указать в данном поле не произвольную валюту,а валюту, указанную Вами в Личном кабинете INTERKASSA.
									<br />* Если Вы выбрали не «доллары США», а другую валюту,то не забудьте указать для данной валюты курс к доллару
									в Личном кабинете INTERKASSA.
									<br />* данная валюта должна быть в списке доступных валют магазина
									<br />* для данной валюты в магазине должен быть установлен обменный курс
									(System -> Manage Currency Rates)
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>df_payment/config_source_currency</source_model>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__currency>
						<frontend__allowspecific translate='label'>
							<label>Ограничить доступность способа оплаты покупателями из конкретных стран?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да»,то система позволит Вам перечислить страны, которым
									должен принадлежать адрес покупателя, чтобы покупатель мог
									воспользоваться данным способом оплаты.
								]]>
							</comment>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>10000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__allowspecific>
						<frontend__specificcountry translate='label'>
							<label>Допустимые страны покупателей</label>
							<comment>
								<![CDATA[
									Система покажет этот способ оплаты
									только покупателям из указанных Вами стран.<br/>
									Чтобы разрешить использование данного способа оплаты покупателям любой страны,укажите значение «нет» для опции
									«Ограничить доступность способа оплаты покупателями из конкретных стран?».
								]]>
							</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>11000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>df_admin/system_config_form_field</frontend_model>
							<depends>
								<active>1</active>
								<frontend__allowspecific>1</frontend__allowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</interkassa>
			</groups>
		</df_payment>
	</sections>
</config>
