<?xml version='1.0'?>
<config>
	<sections>
		<tax>
			<groups>
				<weee>
					<comment><![CDATA[
<p>Magento позволяет интернет-магазину взимать с покупателя <b>фиксированный сбор
с продажи единицы (штуки) конкретного товара</b>.
<br/>Фиксированный сбор можно назначить разным для разных товаров,
и даже разным при продаже одного и того же товара покупателям разных стран
и/или регионов (областей) внутри стран.</p>
<p>Для назначения ставки фиксированного сбора товару надо:
<ol>
	<li>Создать новое товарное свойство в административном разделе
		«Каталог» → «Типы и свойства» → «Свойство товаров»,
		причём в графе «Элемент управления для администратора» надо указать значение «фиксированный сбор».
	</li>
	<li>
		Добавить созданное товарное свойство к прикладному типу товаров в административном разделе
		«Каталог» → «Типы и свойства» → «Типы товаров».
	</li>
	<li>
		Указать ставку (или сразу несколько ставок для разных стран и регионов покупателей)
		фиксированного сбора для конкретного товара
		в административном разделе «Каталог» → «Товары».
	</li>
	<li>Настроить отображение и влияние фиксированного сбора на скидки и налоги
		в данном блоке настроек.
	</li>
</ol></p>
<p>В налоговом законодательстве России и СНГ такие сборы отсутствуют,
поэтому <span class='rm-recommendation'>интернет-магазинам России и СНГ
фиксированные сборы настраивать не нужно</span>.</p>
<p>Обратите внимание, что для компенсации
своих затрат, не связанных с налоговым законодательством,
интернет-магазину лучше использовать не фиксированные сборы, а ценовые правила, потому что:</p>
<ul>
	<li>функциональность ценовых правил намного шире:
они могут быть не только фиксированными, но и зависеть от стоимости товара,
а также зависеть от множества других условий (общая стоимость заказа,
категория и территориальная принадлежность покупателя и т.п.)</li>
	<li>ценовое правило можно назначить сразу все товары, отвечающие заданным условиям,
	причём эти условия могут быть очень гибкими (вес, цена, тип, товарный раздел и т.п.)</li>
</ul>
					]]></comment>
					<fields>
						<apply_vat>
							<depends><enable>1</enable></depends>
						</apply_vat>
						<discount>
							<depends><enable>1</enable></depends>
						</discount>
						<display>
							<depends><enable>1</enable></depends>
						</display>
						<display_email>
							<depends><enable>1</enable></depends>
						</display_email>
						<display_list>
							<depends><enable>1</enable></depends>
						</display_list>
						<display_sales>
							<depends><enable>1</enable></depends>
						</display_sales>
						<include_in_subtotal>
							<source_model>Df_Admin_Config_Source_NoYes</source_model>
							<depends><enable>1</enable></depends>
						</include_in_subtotal>
					</fields>
				</weee>
			</groups>
		</tax>
	</sections>
</config>