div.df-licensor-generator {
	/*background: #FFFBDD;*/

	h1 {
		font-size: 175%;
	}

	form {
		textarea, label, input {
			display: block;
		}

		ul.df-inputs {
			li {
				margin: 0 0 1em 0;
			}
		}

		.df-submit {
			margin: 1em 0 0 0;
		}
	}
}