body.df-theme-templatemela-classy-shop {
	/**
	 * Отключаем правило {text-transform: capitalize;},
	 * потому что заголовки типа «Покупали Ранее?» смотрятся плохо
	 */
	.account-login .content h2
	, .fieldset .legend
	, .box-account .box-head h2
	, .addresses-list h2
	, .multiple-checkout h2
	, .checkout-onepage-success h2
	, .order-info-box h2
	, .sales-order-print .col2-set h2 {
		text-transform: lowercase;
	}
	/**
	 * Отключаем правило {text-transform: capitalize;},
	 * потому что заголовки типа «Обратите Внимание» смотрятся плохо
	 */
	.category-title h2 , .category-title h2 a,  .crosssell h2{
		text-transform: none;
	}
	.fancybox-wrap.df-fancybox {
		.fancybox-inner {
			.account-login {
				min-width: 270px;
			}
		}
	}
	.df-checkout-ergonomic-page {
		.df {
			/**
			 * Вероятно, что правила ниже нужны для всех оформительских тем
			 * (при некоторых дополнительных, неизвестных пока условиях),
			 * потому что встречаюсь с их необходимостью уже второй раз подряд.
			 * (первый — в стандартной оформительской теме для Magento Enterprise,
			 * второй — в оформительской теме TemplateMela Minimal Multi Purpose (MAG090180)).
			 */
			.df-checkout-ergonomic {
				.df-body {
					.df-block {
						li.fields {
							div.field {
								.input-box {
									input.input-text, select {
										width: (300 / 2) - 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}