.storecredit {
	.account-balance {
	    margin:0 0 20px;
	    padding:0 0 10px;
	    font-size:12px;
	    background:url("../../images/customer-credit/background.gif")
	    repeat-x 0 100%;

	 	.price {
	 	    font-weight:bold;
	     }
	}
}
