<?xml version='1.0'?>
<config>
	<modules>
		<Df_Tweaks>
			<author>Дмитрий Федюк</author>
			<title>Удобная настройка витрины</title>
			<version>1.0.0</version>
		</Df_Tweaks>
	</modules>
	<df>
		<features>
			<df-tweaks>
				<title>Удобная настройка витрины</title>
				<url>http://magento-forum.ru/topic/796/</url>
			</df-tweaks>
		</features>
	</df>
	<global>
		<blocks><df_tweaks><class>Df_Tweaks_Block</class></df_tweaks></blocks>
		<helpers><df_tweaks><class>Df_Tweaks_Helper</class></df_tweaks></helpers>
		<models><df_tweaks><class>Df_Tweaks_Model</class></df_tweaks></models>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<TM_CustomMenu><files><default>TM_CustomMenu.csv</default></files></TM_CustomMenu>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<events>
			<catalog_product_is_salable_after>
				<observers>
					<Df_Tweaks>
						<class>Df_Tweaks_Observer</class>
						<method>catalog_product_is_salable_after</method>
					</Df_Tweaks>
				</observers>
			</catalog_product_is_salable_after>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<Df_Tweaks>
						<class>Df_Tweaks_Observer</class>
						<method>controller_action_layout_generate_blocks_after</method>
					</Df_Tweaks>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
		<layout>
			<updates>
				<df_tweaks><file>df/tweaks.xml</file></df_tweaks>
			</updates>
		</layout>
	</frontend>
	<default>
		<df_tweaks>
			<cart>
				<remove_from_account>0</remove_from_account>
				<remove_from_all>0</remove_from_all>
				<remove_from_catalog_product_list>0</remove_from_catalog_product_list>
				<remove_from_catalog_product_view>0</remove_from_catalog_product_view>
				<remove_from_catalog_search_result>0</remove_from_catalog_search_result>
				<remove_from_frontpage>0</remove_from_frontpage>
			</cart>
			<catalog_product_view>
				<hide_empty_attributes>1</hide_empty_attributes>
				<hide_product_name_from_breadcrumbs>0</hide_product_name_from_breadcrumbs>
			</catalog_product_view>
			<catalog_product_view_sku>
				<enabled>0</enabled>
				<sku__font__setup>0</sku__font__setup>
				<sku__font__letter_case>default</sku__font__letter_case>
				<sku__font__emphase__bold>0</sku__font__emphase__bold>
				<sku__font__emphase__italic>0</sku__font__emphase__italic>
				<sku__font__emphase__underline>0</sku__font__emphase__underline>
				<show_label>1</show_label>
				<label__font__setup>0</label__font__setup>
				<label__font__letter_case>default</label__font__letter_case>
				<label__font__emphase__bold>0</label__font__emphase__bold>
				<label__font__emphase__italic>0</label__font__emphase__italic>
				<label__font__emphase__underline>0</label__font__emphase__underline>
			</catalog_product_view_sku>
			<checkout_cart>
				<!--
					Блок расчёта стоимости доставки на странице корзины
					в большинстве ситуаций бессмысленен, и его лучше по умолчанию скрыть
				-->
				<remove_shipping_and_tax_estimation>1</remove_shipping_and_tax_estimation>
			</checkout_cart>
			<header>
				<hide_account_link_from_anonymous_shopper>1</hide_account_link_from_anonymous_shopper>
				<font__letter_case>default</font__letter_case>
				<remove_wishlist_link>hide-from-anonymous</remove_wishlist_link>
			</header>
			<illustrated_catalog_navigation>
				<enabled>0</enabled>
				<enabled_for_front_page>0</enabled_for_front_page>
				<position>before_products</position>
				<number_of_columns>3</number_of_columns>
			</illustrated_catalog_navigation>
			<labels>
				<buttons__font__letter_case>default</buttons__font__letter_case>
				<form_inputs__font__letter_case>lowercase</form_inputs__font__letter_case>
				<side_block_titles__font__letter_case>default</side_block_titles__font__letter_case>
			</labels>
			<other>
				<jquery_load_mode>load-from-local</jquery_load_mode>
				<jquery_remove_extraneous>1</jquery_remove_extraneous>
			</other>
			<recently_compared_products>
				<remove_from_account>0</remove_from_account>
				<remove_from_all>remove-if-empty</remove_from_all>
				<remove_from_catalog_product_list>0</remove_from_catalog_product_list>
				<remove_from_catalog_product_view>0</remove_from_catalog_product_view>
				<remove_from_catalog_search_result>0</remove_from_catalog_search_result>
				<remove_from_frontpage>0</remove_from_frontpage>
			</recently_compared_products>
		</df_tweaks>
	</default>
</config>