<?xml version='1.0'?>
<config>
	<modules>
		<Df_Warehousing>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Warehousing>
	</modules>
	<global>
		<blocks><df_warehousing><class>Df_Warehousing_Block</class></df_warehousing></blocks>
		<helpers><df_warehousing><class>Df_Warehousing_Helper</class></df_warehousing></helpers>
		<models>
			<df_warehousing>
				<class>Df_Warehousing_Model</class>
				<resourceModel>df_warehousing_resource</resourceModel>
			</df_warehousing>
			<df_warehousing_resource>
				<class>Df_Warehousing_Model_Resource</class>
				<entities>
					<warehouse><table>df_warehousing_warehouse</table></warehouse>
				</entities>
			</df_warehousing_resource>
		</models>
		<resources>
			<df_warehousing_setup>
				<setup>
					<module>Df_Warehousing</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_warehousing_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<df_warehousing_admin>
				<use>admin</use>
				<args>
					<module>Df_Warehousing_Admin</module>
					<frontName>df-warehousing-admin</frontName>
				</args>
			</df_warehousing_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<df_warehousing><file>df/warehousing.xml</file></df_warehousing>
			</updates>
		</layout>
	</adminhtml>
</config>