<?xml version='1.0'?>
<config>
	<modules>
		<Df_Contacts>
			<author>Дмитрий Федюк</author>
			<version>1.0.0</version>
		</Df_Contacts>
	</modules>
	<global>
		<blocks><df_contacts><class>Df_Contacts_Block</class></df_contacts></blocks>
		<helpers><df_contacts><class>Df_Contacts_Helper</class></df_contacts></helpers>
		<models><df_contacts><class>Df_Contacts_Model</class></df_contacts></models>
	</global>
	<default>
		<contacts>
			<email>
				<recipient_email>admin@magento-forum.ru</recipient_email>
			</email>
		</contacts>
	</default>
</config>