<?xml version='1.0'?>
<config>
   <sections>
		<df_payment>
			<groups>
				<assist>
					<label>ASSIST</label>
					<comment>
					   <![CDATA[
							<a
								target='_blank'
								href='http://www.assist.ru/support_center/register/register.htm'
								title='порядок регистрации магазина'
							>как подключить магазин к ASSIST?</a>
					   ]]>
				   </comment>
					<frontend_type>text</frontend_type>
					<sort_order>5000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-assist</df_feature>
						</active>
						<payment_service__shop_id>
							<label>Номер магазина в ASSIST</label>
							<comment>
							   <![CDATA[
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/1638/'
										title='инструкция с картинками'
									>как узнать номер моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>
								required-entry
								validate-digits
							</validate>
						</payment_service__shop_id>
						<payment_service__test>
							<label>Тестовый режим?</label>
							<comment>
							   <![CDATA[
									В тестовом режиме денежные средства с покупателя не списываются.
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__test>
						<frontend__title>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</frontend__title>
						<frontend__description>
							<label>Примечание к способу оплаты на экране оформления заказа</label>
							<comment>
								<![CDATA[
									Это примечание отображается под названием способа оплаты
									на экране оформления заказа.
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__description>
						<frontend__sort_order>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить платёжные способы на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>
								validate-digits
							</validate>
						</frontend__sort_order>
						<payment_service___production_domain>
							<label>
							   <![CDATA[
									Домен платёжного сервера ASSIST для рабочего режима.
							   ]]>
							</label>
							<comment>
							   <![CDATA[
							   		Значение индивидуально для каждого магазина.<br/>
									Вы можете узнать его для Вашего магазина у ASSIST.
							   ]]>
						   </comment>
							<frontend_type>text</frontend_type>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<active>1</active>
								<payment_service__test>0</payment_service__test>
							</depends>
							<validate>required-entry</validate>
						</payment_service___production_domain>
						<payment_service__response_password>
							<label>
								Криптографический ключ
								для шифрования обращений платёжной системы к магазину
							</label>
							<comment>
							   <![CDATA[
									Укажите здесь криптографический ключ,который Вы указывали в графе «<i>Секретное слово</i>»
									в Личном кабинете ASSIST.
									<br />
									Платёжная система будет использовать этот криптографический ключ
									для шифрования своих обращений к магазину.
							   ]]>
						   </comment>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>7500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__response_password>
						<payment_service__currency>
							<label>Основная валюта для заказов</label>
							<comment>
							   <![CDATA[
									Модуль будет выражать размер платежа в этой валюте
									при взаимодействии с ASSIST.
									<br/>
									Обратите внимание:
									<br />* данная валюта должна быть в списке доступных валют магазина
									<br />* для данной валюты в магазине должен быть установлен обменный курс
									(System -> Manage Currency Rates)
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>Df\Payment\Config\Source\Currency</source_model>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__currency>
						<payment_service__payment_page_locale>
							<label>Язык платёжной формы на сайте ASSIST</label>
							<frontend_type>select</frontend_type>
							<source_model>Df\Payment\Config\Source\Locale</source_model>
							<sort_order>8250</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__payment_page_locale>
						<payment_service__card_payment_action>
							<label>Режим оплаты банковской картой</label>
							<comment>
								<![CDATA[
									Если Вы выберите режим «<i>снимать стоимость заказа с карты покупателя</i>»,
									то система в процессе оплаты заказа покупателем
									спишет стоимость заказа с банковской карты покупателя
									<br/>
									Если Вы выберите режим «<i>резервировать стоимость заказа на карте покупателя</i>»,
									то система в процессе оплаты заказа покупателем
									зарезервирует на банковской карте покупателя сумму, равную стоимости заказа.
									<br/>
									В дальнейшем Вы можете снять зарезервированную сумму
									как посредством административного интерфейса интернет-магазина (на странице счёта),
									так и в Личном кабинете магазина в ASSIST.
								]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>Df\Payment\Config\Source\Action</source_model>
							<sort_order>8500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__card_payment_action>
						<payment_service__payment_methods>
							<label>Способы оплаты</label>
							<comment>
							   <![CDATA[
									Способы оплаты, доступные покупателю на платёжной странице ASSIST.
									<br/>
									Обратите внимание, что указанные здесь способы оплаты
									должны быть согласованы с ASSIST.
							   ]]>
						   </comment>
							<frontend_type>df-multiselect</frontend_type>
							<source_model>Df\Payment\Config\Source\Method</source_model>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__payment_methods>
						<frontend__allowspecific>
							<label>Ограничить доступность способа оплаты покупателями из конкретных стран?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да»,то система позволит Вам перечислить страны, которым
									должен принадлежать адрес покупателя, чтобы покупатель мог
									воспользоваться данным способом оплаты.
								]]>
							</comment>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>10000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__allowspecific>
						<frontend__specificcountry>
							<label>Допустимые страны покупателей</label>
							<comment>
								<![CDATA[
									Система покажет этот способ оплаты
									только покупателям из указанных Вами стран.<br/>
									Чтобы разрешить использование данного способа оплаты покупателям любой страны,укажите значение «нет» для опции
									«Ограничить доступность способа оплаты покупателями из конкретных стран?».
								]]>
							</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>11000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<active>1</active>
								<frontend__allowspecific>1</frontend__allowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</assist>
			</groups>
		</df_payment>
	</sections>
</config>
