<?xml version='1.0'?>
<config>
	<sections>
		<df_yandex_market>
			<label>Яндекс.Маркет</label>
			<tab>df</tab>
			<frontend_type>text</frontend_type>
			<sort_order>21000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general>
					<label>Общие настройки</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
						]]>
					</comment>
					<fields>
						<enabled>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-yandex-market</df_feature>
						</enabled>
						<url>
							<label>Адрес файла YML</label>
							<comment>
								<![CDATA[Укажите этот адрес
								в <a href='http://magento-forum.ru/topic/3029/'>личном кабинете магазина</a>
								на Яндекс.Маркете.]]>
							</comment>
							<frontend_model>Df_Admin_Block_Field_Info_Urls</frontend_model>
							<rm_url_path_base>df-yandex-market/yml</rm_url_path_base>
							<rm_url_pass_parameters_as_query/>
							<backend_model>core/config_data</backend_model>
							<sort_order>1250</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</url>
						<notification_email>
							<label><![CDATA[Адрес для оповещения о сбоях]]></label>
							<comment>
								<![CDATA[Крайне желательно заполнить это поле.
								<br/>Тогда модуль будет оповещать Вас о сбоях.]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-email</validate>
							<depends><enabled>1</enabled></depends>
						</notification_email>
						<currency>
							<label>В какой валюте передавать Яндекс.Маркету цены на товары?</label>
							<comment>
								<![CDATA[Выбранная Вами валюта должна быть разрешена к использованию
в системе административной опцией «Система» → «Настройки» → «Общие» → «Валюты» →
«Разрешённые к использованию валюты».
<br/>Если выбранная Вами валюта отличается от учётной,
то укажите курс обмена учётной валюты на выбранную Вами валюту в административном разделе
«Система» → «Валюты» → «Курсы».]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>Df_YandexMarket_Model_Config_Source_Currency</source_model>
							<backend_model>Df_YandexMarket_Model_Config_Backend_Currency</backend_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</currency>
						<local_delivery_cost>
							<label>Стоимость доставки для покупателей из региона магазина</label>
							<comment>
								<![CDATA[
									Например, для Москвы — стоимость доставки по Москве.
									<br/>Заполнять необязательно.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><enabled>1</enabled></depends>
						</local_delivery_cost>
						<has_points_of_sale>
							<label>Имеются ли розничные точки продаж?</label>
							<comment>
								<![CDATA[Надо заполнять точно так же,
как при регистрации магазина на Яндекс.Маркете.]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><enabled>1</enabled></depends>
						</has_points_of_sale>
						<pickup>
							<label>Имеется ли возможность самовывоза?</label>
							<comment>
								<![CDATA[Надо заполнять точно так же,
как при регистрации магазина на Яндекс.Маркете.]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends>
								<enabled>1</enabled>
								<has_points_of_sale>1</has_points_of_sale>
							</depends>
						</pickup>
						<sales_notes>
							<label>Примечание к товарам (sales_notes)</label>
							<comment>
								<![CDATA[
Информация о минимальной сумме заказа,
партии товара или необходимости предоплаты, описания акций, скидок и распродаж.
<br/>Запрещено указывать информацию о доставке, гарантии, месте производства:
для этого предназначены другие поля.
<br/>Не более 50 символов.
<br/>Вы можете задать каждому товару индивидуальное примечание
на вкладке «Яндекс.Маркет» административной товарной карточки.
<br/>Система использует общее примечание только для товаров с неуказанным индивидуальным примечанием.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
							<validate>
								validate-length	maximum-length-50
							</validate>
						</sales_notes>
					</fields>
				</general>
				<diagnostics>
					<label>Отладка</label>
					<frontend_type>text</frontend_type>
					<sort_order>2000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment><![CDATA[]]></comment>
					<fields>
						<enabled>
							<label>Вести журнал?</label>
							<comment>
								<![CDATA[
									Если включить эту опцию,
									то система будет вести отладочный журнал
									процесса формирования документа YML для Яндекс.Маркета.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<need_limit>
							<label>Ограничить количество включаемых в документ YML товаров?</label>
							<comment>
								<![CDATA[
									Если включить эту опцию,
									то система включит в документ YML
									не более указанного количества товаров.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
						</need_limit>
						<limit>
							<label>Максимальное количество включаемых в документ YML товаров</label>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
								<need_limit>1</need_limit>
							</depends>
							<validate>
								required-entry
								validate-digits
							</validate>
						</limit>
						<need_explain_rejection>
							<label>Указывать причину отказа в публикации для каждого товара?</label>
							<comment>
								<![CDATA[
									Если включить эту опцию,
									то для каждого товара, который, по мнению системы,
									не должен попадать на Яндекс.Маркет,
									система будет записывать в отладочный журнал
									причину своего отказа в публикации.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
						</need_explain_rejection>
					</fields>
				</diagnostics>
				<shop>
					<label>Описание магазина</label>
					<frontend_type>text</frontend_type>
					<sort_order>3000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<name_for_clients>
							<label>Название магазина для посетителей Яндекс.Маркета</label>
							<comment>
								<![CDATA[
Наибольшая длина — 20 символов.
<br/>В названии нельзя использовать слова,не имеющие отношения к наименованию магазина
(например: лучший, дешевый), указывать номер телефона и т.п.
<br/>Название магазина должно совпадать
с фактическим названием магазина,которое публикуется на сайте.
<br/>При несоблюдении этих требований модератор Яндекс.Маркета
может самостоятельно изменить название магазина.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>
								required-entry
								validate-length	maximum-length-20
							</validate>
						</name_for_clients>
						<name_for_administration>
							<label>Официальное название компании для администрации Яндекс.Маркета</label>
							<comment>
								<![CDATA[
									Посетители это название не видят.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</name_for_administration>
						<agency>
							<label>Название агентства, которое оказывает техническую поддержку магазину и отвечает за работоспособность сайта</label>
							<comment>
								<![CDATA[]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate></validate>
						</agency>
						<support_email>
							<label>Контактный адрес технической поддежки магазина</label>
							<comment>
								<![CDATA[]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-email</validate>
						</support_email>
					</fields>
				</shop>
				<products>
					<label>Товары</label>
					<frontend_type>text</frontend_type>
					<sort_order>4000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<conditions>
							<label>Условия</label>
							<comment>при отсутствии условий будут опубликованы все товары</comment>
							<frontend_model>Df_Catalog_Block_Admin_Conditions</frontend_model>
							<backend_model>Df_Catalog_Model_Config_Backend_Conditions</backend_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</conditions>
						<publish_out_of_stock>
							<label>Публиковать ли товары, у которых в графе
								«В наличии ли данный товар?» стоит «нет в наличии»?</label>
							<comment>
								<![CDATA[Этой опцией Вы определяете,
публиковать ли на Яндекс.Маркете отсутствующие на складе магазина товары.]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</publish_out_of_stock>
					</fields>
				</products>
				<api>
					<label>API</label>
					<frontend_type>text</frontend_type>
					<sort_order>5000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<application_id>
							<label>Идентификатор приложения</label>
							<comment><![CDATA[
Его Вы получите при <a href='http://api.yandex.ru/oauth/doc/dg/tasks/register-client.xml'
>регистрации приложения</a> на Яндекс.Маркете.
<br/>32 символа]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>
								validate-length
								maximum-length-32
								minimum-length-32
							</validate>
						</application_id>
						<application_password>
							<label>Пароль приложения</label>
							<comment><![CDATA[
Его Вы получите при <a href='http://api.yandex.ru/oauth/doc/dg/tasks/register-client.xml'
>регистрации приложения</a> на Яндекс.Маркете.
<br/>32 символа]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>
								validate-length
								maximum-length-32
								minimum-length-32
							</validate>
						</application_password>
						<get_confirmation_code>
							<label></label>
							<rm_button_label>получить код подтверждения...</rm_button_label>
							<comment>
								<![CDATA[Перед получением кода подтверждения
								заполните поля «Идентификатор приложения» и «Пароль приложения» и
								сохраните настройки.
								]]>
							</comment>
							<frontend_model>Df_YandexMarket_Block_Api_GetConfirmationCode</frontend_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate></validate>
						</get_confirmation_code>
						<confirmation_code>
							<label>Код подтверждения</label>
							<comment>
								<![CDATA[
Вставьте сюда код, полученный кнопкой «получить код подтверждения...».
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<backend_model>Df_YandexMarket_Model_Config_Backend_Api_ConfirmationCode</backend_model>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate></validate>
						</confirmation_code>
					</fields>
				</api>
				<other>
					<label>Другое</label>
					<frontend_type>text</frontend_type>
					<sort_order>6000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<categories_reference_book_url>
							<label>Веб-адрес справочника категорий товарных предложений</label>
							<comment>
								<![CDATA[
Как правило, здесь должен быть указан адрес
<br/><a href='http://download.cdn.yandex.net/support/ru/partnermarket/files/market_categories.xls'
>http://download.cdn.yandex.net/support/ru/partnermarket/files/market_categories.xls</a>
<br/>Указывайте другой адрес только в том случае,
если Яндекс.Маркет изменит адрес справочника категорий товарных предложений.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</categories_reference_book_url>
						<use_non_standard_domain>
							<label>Использовать нестандартный домен для веб-адресов в файле YML?</label>
							<comment>
								<![CDATA[Эту опцию имеет смысл включать
в сценарии тестирования формирования файла YML
посредством ручной загрузки этого файла на Яндекс.Маркет,
когда формирование файла YML происходит на одном (тестовом) домене,
а учётная запись Вашего магазина на Яндекс.Маркете привязана к другому (промышленному) домену.]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</use_non_standard_domain>
						<domain>
							<label>Домен веб-адресов в файле YML</label>
							<comment><![CDATA[]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<use_non_standard_domain>1</use_non_standard_domain>
							</depends>
							<validate>required-entry</validate>
						</domain>
					</fields>
				</other>
			</groups>
		</df_yandex_market>
	</sections>
</config>
