<?xml version='1.0'?>
<config>
	<modules>
		<Df_Client>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Client>
	</modules>
	<global>
		<blocks><df_client><class>Df_Client_Block</class></df_client></blocks>
		<helpers><df_client><class>Df_Client_Helper</class></df_client></helpers>
		<models>
			<df_client>
				<class>Df_Client_Model</class>
				<resourceModel>df_client_resource</resourceModel>
			</df_client>
			<df_client_resource>
				<class>Df_Client_Model_Resource</class>
				<entities>
					<message><table>df_client_message</table></message>
				</entities>
			</df_client_resource>
		</models>
		<resources>
			<df_client_setup>
				<setup>
					<module>Df_Client</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_client_setup>
		</resources>
		<events>
			<controller_action_postdispatch>
				<observers>
					<df_client__controller_action_postdispatch>
						<class>df_client/dispatcher</class>
						<method>controller_action_postdispatch</method>
					</df_client__controller_action_postdispatch>
				</observers>
			</controller_action_postdispatch>
		</events>
		<ignoredModules><entities><df-client/></entities></ignoredModules>
	</global>
	<frontend>
		<routers>
			<df-client>
				<use>standard</use>
				<args>
					<module>Df_Client</module>
					<frontName>df-client</frontName>
				</args>
			</df-client>
		</routers>
	</frontend>
</config>