<?xml version='1.0'?>
<config>
	<modules>
		<Df_Speed>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Speed>
	</modules>
	<global>
		<blocks><df_speed><class>Df_Speed_Block</class></df_speed></blocks>
		<helpers><df_speed><class>Df_Speed_Helper</class></df_speed></helpers>
		<models><df_speed><class>Df_Speed_Model</class></df_speed></models>
		<events>
			<controller_front_init_before>
				<observers>
					<df_speed__controller_front_init_before>
						<class>df_speed/dispatcher</class>
						<method>controller_front_init_before</method>
					</df_speed__controller_front_init_before>
				</observers>
			</controller_front_init_before>
		</events>
	</global>
	<frontend>
		<translate>
			<modules>
				<Df_Speed><files><default>Df_Speed.csv</default></files></Df_Speed>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Df_Speed><files><default>Df_Speed.csv</default></files></Df_Speed>
			</modules>
		</translate>
	</adminhtml>
	<df>
		<features>
			<df-speed>
				<module>df_speed</module>
				<title>Ускорение Magento</title>
				<url>http://magento-forum.ru/forum/180/</url>
			</df-speed>
		</features>
	</df>
	<default>
		<df_speed>
			<block_caching>
				<catalog_product_compare_sidebar>1</catalog_product_compare_sidebar>
				<catalog_product_list>1</catalog_product_list>
				<checkout_cart_sidebar>1</checkout_cart_sidebar>
				<cms_page>1</cms_page>
				<google_analytics>1</google_analytics>
				<page_html_breadcrumbs>1</page_html_breadcrumbs>
				<page_html_topmenu>1</page_html_topmenu>
				<page_switch>1</page_switch>
				<page_template_links>1</page_template_links>
				<wishlist_customer_sidebar>1</wishlist_customer_sidebar>
			</block_caching>
			<general>
				<disable_logging_last_visit_time>1</disable_logging_last_visit_time>
				<disable_visitor_logging>0</disable_visitor_logging>
				<enable_assertions>1</enable_assertions>
				<enable_zend_date_caching>0</enable_zend_date_caching>
			</general>
		</df_speed>
	</default>
</config>