<?xml version='1.0'?>
<config>
	<modules>
		<Df_Logging>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Logging>
	</modules>
	<global>
		<blocks><df_logging><class>Df_Logging_Block</class></df_logging></blocks>
		<helpers><df_logging><class>Df_Logging_Helper</class></df_logging></helpers>
		<models>
			<df_logging>
				<class>Df_Logging_Model</class>
				<resourceModel>df_logging_resource</resourceModel>
			</df_logging>
			<df_logging_resource>
				<class>Df_Logging_Model_Resource</class>
				<entities>
					<event><table>df_logging_event</table></event>
					<event_changes><table>df_logging_event_changes</table></event_changes>
				</entities>
			</df_logging_resource>
		</models>
		<resources>
			<df_logging_setup>
				<setup>
					<module>Df_Logging</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_logging_setup>
		</resources>
	</global>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>controllerPredispatch</method>
					</df_logging>
				</observers>
			</controller_action_predispatch>
			<controller_action_postdispatch_adminhtml>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>controllerPostdispatch</method>
					</df_logging>
				</observers>
			</controller_action_postdispatch_adminhtml>
			<model_save_after>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>modelSaveAfter</method>
					</df_logging>
				</observers>
			</model_save_after>
			<model_delete_after>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>modelDeleteAfter</method>
					</df_logging>
				</observers>
			</model_delete_after>
			<model_load_after>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>modelLoadAfter</method>
					</df_logging>
				</observers>
			</model_load_after>
			<admin_session_user_login_success>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>adminSessionLoginSuccess</method>
					</df_logging>
				</observers>
			</admin_session_user_login_success>
			<admin_session_user_login_failed>
				<observers>
					<df_logging>
						<class>df_logging/observer</class>
						<method>adminSessionLoginFailed</method>
					</df_logging>
				</observers>
			</admin_session_user_login_failed>
		</events>
		<layout>
			<updates>
				<events><file>df/logging.xml</file></events>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Logging><files><default>Df_Logging.csv</default></files></Df_Logging>
			</modules>
		</translate>
		<df>
			<logging>
				<skip_fields>updated_at,form_key</skip_fields>
			</logging>
		</df>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Df_Logging before='Mage_Adminhtml'>Df_Logging_Adminhtml</Df_Logging>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<crontab>
		<jobs>
			<df_logging_rotate_logs>
				<!--
				<schedule>
					<cron_expr>1 2 * * *</cron_expr>
				</schedule>
				-->
			   <!--
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>
				-->
				<run>
					<model>df_logging/observer::rotateLogs</model>
				</run>
			</df_logging_rotate_logs>
		</jobs>
	</crontab>
	<df>
		<features>
			<df-logging>
				<module>df_logging</module>
				<title>Контроль работников магазина</title>
				<url>http://magento-forum.ru/forum/182/</url>
			</df-logging>
		</features>
	</df>
	<default>
		<df_tweaks_admin>
			<logging__archiving>
				<enabled>0</enabled>
				<frequency>D</frequency>
				<time>3,0,0</time>
				<lifetime>90</lifetime>
			</logging__archiving>
		</df_tweaks_admin>
	</default>
</config>
