<?xml version='1.0'?>
<config>
	<modules>
		<Df_PageCache>
			<version>2.44.0</version>
			<author>Дмитрий Федюк</author>
		</Df_PageCache>
	</modules>
	<df>
		<admin>
			<notifiers>
				<page_cache>Df_PageCache_Model_Admin_Notifier</page_cache>
			</notifiers>
		</admin>
		<features>
			<df-full-page-caching>
				<module>df_pagecache</module>
				<title>Полностраничное кэширование</title>
				<url>http://magento-forum.ru/forum/180/</url>
			</df-full-page-caching>
		</features>
	</df>
	<global>
		<blocks><df_pagecache><class>Df_PageCache_Block</class></df_pagecache></blocks>
		<helpers><df_pagecache><class>Df_PageCache_Helper</class></df_pagecache></helpers>
		<models>
			<df_pagecache>
				<class>Df_PageCache_Model</class>
				<resourceModel>df_pagecache_resource</resourceModel>
			</df_pagecache>
			<df_pagecache_resource>
				<class>Df_PageCache_Model_Resource</class>
			</df_pagecache_resource>
		</models>
		<cache>
			<types>
				<full_page translate='label,description' module='df_pagecache'>
					<label>Полностраничное кэширование</label>
					<description>Кэширует страницы витрины и административной части полностью. Ускоряет загрузку страниц в 30 раз. Часть Российской сборки Magento.</description>
					<tags>FPC</tags>
				</full_page>
			</types>
		</cache>
		<ignore_user_agents>
			<cache_crawler>MagentoCrawler</cache_crawler>
		</ignore_user_agents>
		<widget>
			<related_cache_types>
				<full_page/>
			</related_cache_types>
		</widget>
		<events>
			<core_clean_cache>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanExpiredCache</method>
					</df_pagecache>
				</observers>
			</core_clean_cache>
			<clean_cache_by_tags>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCacheByTags</method>
					</df_pagecache>
				</observers>
			</clean_cache_by_tags>
			<model_save_commit_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>processEntityAction</method>
					</df_pagecache>
				</observers>
			</model_save_commit_after>
			<model_delete_commit_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>processEntityAction</method>
					</df_pagecache>
				</observers>
			</model_delete_commit_after>
			<sales_order_place_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerNewOrder</method>
					</df_pagecache>
				</observers>
			</sales_order_place_after>
			<catalog_category_save_before>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerCategorySave</method>
					</df_pagecache>
				</observers>
			</catalog_category_save_before>
			<review_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerReviewSave</method>
					</df_pagecache>
				</observers>
			</review_save_after>
			<review_delete_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerReviewDelete</method>
					</df_pagecache>
				</observers>
			</review_delete_after>
			<!-- FULL REINDEX -->
			<cataloginventory_stock_full_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>invalidateCacheAfterFullReindex</method>
					</df_pagecache>
				</observers>
			</cataloginventory_stock_full_reindex>
			<catalog_product_price_full_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>invalidateCacheAfterFullReindex</method>
					</df_pagecache>
				</observers>
			</catalog_product_price_full_reindex>
			<catalog_product_flat_full_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>invalidateCacheAfterFullReindex</method>
					</df_pagecache>
				</observers>
			</catalog_product_flat_full_reindex>
			<catalog_category_flat_full_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>invalidateCacheAfterFullReindex</method>
					</df_pagecache>
				</observers>
			</catalog_category_flat_full_reindex>
			<catalog_category_product_full_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>invalidateCacheAfterFullReindex</method>
					</df_pagecache>
				</observers>
			</catalog_category_product_full_reindex>

			<!-- PARTIAL PRODUCT REINDEX -->
			<cataloginventory_stock_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanProductsCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</cataloginventory_stock_partial_reindex>
			<catalog_product_price_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanProductsCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_product_price_partial_reindex>
			<catalog_product_flat_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanProductsCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_product_flat_partial_reindex>
			<catalog_category_product_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanProductsCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_category_product_partial_reindex>
			<catalog_url_product_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanProductsCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_url_product_partial_reindex>

			<!-- PARTIAL CATEGORY REINDEX -->
			<catalog_category_flat_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanCategoriesCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_category_flat_partial_reindex>
			<catalog_url_category_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanCategoriesCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_url_category_partial_reindex>
			<catalog_url_category_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanCacheByTags</method>
					</df_pagecache>
				</observers>
			</catalog_url_category_reindex>
			<rewrite_url_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>clearRequestCacheByTag</method>
					</df_pagecache>
				</observers>
			</rewrite_url_partial_reindex>
			<catalog_category_product_cat_partial_reindex>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer_index</class>
						<method>cleanCategoriesCacheAfterPartialReindex</method>
					</df_pagecache>
				</observers>
			</catalog_category_product_cat_partial_reindex>
		</events>
	</global>
	<adminhtml>
		<events>
			<redirect_save_commit_after>
				<observers>
					<invalidate_full_page_cache>
						<class>df_pagecache/observer</class>
						<method>clearRequestCacheByTag</method>
					</invalidate_full_page_cache>
				</observers>
			</redirect_save_commit_after>
			<redirect_delete_commit_after>
				<observers>
					<invalidate_full_page_cache>
						<class>df_pagecache/observer</class>
						<method>clearRequestCacheByTag</method>
					</invalidate_full_page_cache>
				</observers>
			</redirect_delete_commit_after>
			<clean_media_cache_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</clean_media_cache_after>
			<clean_catalog_images_cache_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</clean_catalog_images_cache_after>
			<clean_configurable_swatches_cache_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</clean_configurable_swatches_cache_after>
			<model_save_commit_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>validateDataChanges</method>
					</df_pagecache>
				</observers>
			</model_save_commit_after>
			<model_delete_commit_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>validateDataDelete</method>
					</df_pagecache>
				</observers>
			</model_delete_commit_after>
			<tag_save_before>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCachedProductTagsForTags</method>
					</df_pagecache>
				</observers>
			</tag_save_before>
			<tag_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCachedProductTagsForTags</method>
					</df_pagecache>
				</observers>
			</tag_save_after>
			<tag_delete_before>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCachedProductTagsForTags</method>
					</df_pagecache>
				</observers>
			</tag_delete_before>
			<controller_action_postdispatch_adminhtml_system_currency_saveRates>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>invalidateCache</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_adminhtml_system_currency_saveRates>
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>invalidateCache</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
			<controller_action_postdispatch_adminhtml_system_currencysymbol_save>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>invalidateCache</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_adminhtml_system_currencysymbol_save>
			<catalogrule_after_apply>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</catalogrule_after_apply>
			<core_config_backend_design_exception_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerDesignExceptionsChange</method>
					</df_pagecache>
				</observers>
			</core_config_backend_design_exception_save_after>
			<core_config_backend_web_secure_offloaderheader_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerSslOffloaderChange</method>
					</df_pagecache>
				</observers>
			</core_config_backend_web_secure_offloaderheader_save_after>
			<core_config_matcher_priority_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>invalidateCache</method>
					</df_pagecache>
				</observers>
			</core_config_matcher_priority_save_after>
			<adminhtml_system_config_backend_cookie_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>invalidateCache</method>
					</df_pagecache>
				</observers>
			</adminhtml_system_config_backend_cookie_save_after>
			<adminhtml_cache_refresh_type>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</adminhtml_cache_refresh_type>
			<adminhtml_cache_flush_system>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cleanCache</method>
					</df_pagecache>
				</observers>
			</adminhtml_cache_flush_system>
			<adminhtml_cache_flush_all>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>flushCache</method>
					</df_pagecache>
				</observers>
			</adminhtml_cache_flush_all>
			<wishlist_item_add_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerAdminWishlistChange</method>
					</df_pagecache>
				</observers>
			</wishlist_item_add_after>
		</events>
		<cache>
			<dependency>
				<change>
					<widget>Mage_Widget_Model_Widget_Instance</widget>
				</change>
				<delete>
					<widget>Mage_Widget_Model_Widget_Instance</widget>
				</delete>
			</dependency>
		</cache>
	</adminhtml>
	<frontend>
		<routers>
			<df_pagecache>
				<use>standard</use>
				<args>
					<module>Df_PageCache</module>
					<frontName>pagecache</frontName>
				</args>
			</df_pagecache>
		</routers>
		<events>
			<controller_response_redirect>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>checkMessages</method>
					</df_pagecache>
				</observers>
			</controller_response_redirect>
			<controller_action_predispatch>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>processPreDispatch</method>
					</df_pagecache>
					<df_pagecache_form_key>
						<class>df_pagecache/observer</class>
						<method>registerCachedFormKey</method>
					</df_pagecache_form_key>
				</observers>
			</controller_action_predispatch>
			<controller_action_postdispatch_catalog_product_view>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>checkProductState</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_catalog_product_view>
			<controller_action_postdispatch_catalog_category_view>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>checkCategoryState</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_catalog_category_view>
			<controller_front_send_response_before>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>cacheResponse</method>
					</df_pagecache>
				</observers>
			</controller_front_send_response_before>
			<core_block_abstract_to_html_after>
				<observers>
					<df_pagecache_register_block_tags>
						<class>df_pagecache/observer</class>
						<method>registerBlockTags</method>
					</df_pagecache_register_block_tags>
				</observers>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>renderBlockPlaceholder</method>
					</df_pagecache>
				</observers>
			</core_block_abstract_to_html_after>
			<customer_login>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>customerLogin</method>
					</df_pagecache>
					<df_pagecache_compare_list_change>
						<class>df_pagecache/observer</class>
						<method>registerCompareListChange</method>
					</df_pagecache_compare_list_change>
				</observers>
			</customer_login>
			<customer_address_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>customerAddressUpdate</method>
					</df_pagecache>
				</observers>
			</customer_address_save_after>
			<controller_action_postdispatch_customer_account_logoutSuccess>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>customerLogout</method>
					</df_pagecache>
				</observers>
			</controller_action_postdispatch_customer_account_logoutSuccess>
			<sales_quote_save_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerQuoteChange</method>
					</df_pagecache>
				</observers>
			</sales_quote_save_after>
			<sales_quote_remove_item>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerQuoteChange</method>
					</df_pagecache>
				</observers>
			</sales_quote_remove_item>
			<catalog_product_compare_add_product>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerCompareListChange</method>
					</df_pagecache>
				</observers>
			</catalog_product_compare_add_product>
			<catalog_product_compare_remove_product>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerCompareListChange</method>
					</df_pagecache>
				</observers>
			</catalog_product_compare_remove_product>
			<catalog_product_compare_item_collection_clear>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerCompareListChange</method>
					</df_pagecache>
				</observers>
			</catalog_product_compare_item_collection_clear>
			<core_session_abstract_add_message>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>processNewMessage</method>
					</df_pagecache>
				</observers>
			</core_session_abstract_add_message>
			<core_session_abstract_clear_messages>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>processMessageClearing</method>
					</df_pagecache>
				</observers>
			</core_session_abstract_clear_messages>
			<wishlist_add_product>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerWishlistChange</method>
					</df_pagecache>
				</observers>
			</wishlist_add_product>
			<wishlist_item_delete_commit_after>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerWishlistChange</method>
					</df_pagecache>
				</observers>
			</wishlist_item_delete_commit_after>
			<poll_vote_add>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>registerPollChange</method>
					</df_pagecache>
				</observers>
			</poll_vote_add>
			<catalog_controller_product_init_before>
				<observers>
					<df_pagecache>
						<class>df_pagecache/observer</class>
						<method>updateProductInfo</method>
					</df_pagecache>
				</observers>
			</catalog_controller_product_init_before>
		</events>
		<cache>
			<requests>
				<_no_route>df_pagecache/processor_noroute</_no_route>
				<cms>df_pagecache/processor_default</cms>
				<catalog><category><view>df_pagecache/processor_category</view></category></catalog>
				<catalog><product><view>df_pagecache/processor_product</view></product></catalog>
			</requests>
		</cache>
	</frontend>
	<default>
		<df_speed>
			<page_cache>
				<allowed_depth>3</allowed_depth>
				<multicurrency>1</multicurrency>
				<max_cache_size>1024</max_cache_size>
				<debug>0</debug>
				<auto_crawling__enabled>1</auto_crawling__enabled>
				<auto_crawling__time>3,0,0</auto_crawling__time>
				<auto_crawling__frequency>D</auto_crawling__frequency>
				<auto_crawling__num_threads>1</auto_crawling__num_threads>
				<auto_crawling__multicurrency>1</auto_crawling__multicurrency>
			</page_cache>
		</df_speed>
		<dev>
			<translate_inline>
				<invalid_caches>
					<full_page/>
				</invalid_caches>
			</translate_inline>
		</dev>
	</default>
	<crontab>
		<jobs>
			<df_page_cache_crawler>
				<!--
				<schedule>
					<cron_expr>0 3 * * *</cron_expr>
				</schedule>
				-->
				<run>
					<model>df_pagecache/crawler::crawl</model>
				</run>
			</df_page_cache_crawler>
		</jobs>
	</crontab>
</config>
