<?xml version='1.0'?>
<config>
	<sections>
		<df_promotion>
			<label>Повышение продаж</label>
			<tab>df</tab>
			<frontend_type>text</frontend_type>
			<sort_order>11000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
		</df_promotion>
	</sections>
</config>