<?xml version='1.0'?>
<config>
	<modules>
		<Df_Yandex>
			<author>Дмитрий Федюк</author>
			<version>1.0.0</version>
		</Df_Yandex>
	</modules>
	<global>
		<blocks><df_yandex><class>Df_Yandex_Block</class></df_yandex></blocks>
		<helpers><df_yandex><class>Df_Yandex_Helper</class></df_yandex></helpers>
		<models><df_yandex><class>Df_Yandex_Model</class></df_yandex></models>
	</global>
</config>