.df-theme-magento-rwd {
	&.checkout-onepage-index {
		.df-checkout-ergonomic-page {
			.col-main {
				float: none;
				width: auto;
				max-width: 1200px;
			}
			.df {
				button.btn-checkout {margin-top: 1em;}
			}
		}
	}
	&.customer-account-create {
		.scaffold-form {
			// 2015-02-01
			// В оригинале стоит «width: 140px», что приводит к отображению заголовка
			// «Адрес электронной почты» в 3 строки вместо одной.
			label:first-child {
				min-width: 140px;
				width: auto;
			}
		}
	}
	&.customer-account-login {
		.scaffold-form {
			// В оригинале стоит «width: 115px»,
			// и русскоязычные заголовки не помещаются в этих рамках.
			label:first-child {
				min-width: 115px;
				width: auto;
			}
		}
	}
	&.review-product-list {
		// cкрываем кучу словесного мусора
		p.no-rating {display: none;}
		#review-form {
			h3 {display: none;}
			> div {padding-top: 0;}
			.form-list {
				li:nth-child(3) {
					label {text-transform: none;}
				}
			}
		}
	}
	.product-view {
		.product-shop {
			.price-info {max-width: 70%;}
		}
	}
	.shipping {
		.form-list {
			.shipping-postcode {
				width: 35%;
				review-product-list
				div.input-box {width: 6em;}
			}
		}
	}
}