<?xml version='1.0'?>
<config>
	<modules>
		<Df_EasyPay>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_EasyPay>
	</modules>
	<global>
		<blocks><df_easypay><class>Df_EasyPay_Block</class></df_easypay></blocks>
		<helpers><df_easypay><class>Df_EasyPay_Helper</class></df_easypay></helpers>
		<models><df_easypay><class>Df_EasyPay_Model</class></df_easypay></models>
	</global>
	<default>
		<!--
			Применение для настроек нестандартного ключа df_payment вместо payment
			позволяет нам расположить настройки наших платёжных модулей
			не в группе стандартных платёжных модулей,а в группе Российской сборки
		-->
		<df_payment>
			<easypay>
				<active>0</active>
				<payment_service__test>1</payment_service__test>
				<frontend__title>Платёжный сервис EasyPay</frontend__title>
				<frontend__description><![CDATA[Прежде чем проводить оплату, свяжитесь с менеджером по телефону, уточните наличие товара и поставьте его в резерв.]]></frontend__description>
				<frontend__sort_order>0</frontend__sort_order>
				<frontend__allowspecific>0</frontend__allowspecific>
				<frontend__specificcountry></frontend__specificcountry>
				<payment_service__currency>BYR</payment_service__currency>
				<payment_service__transaction_description><![CDATA[{shop.name} ({shop.domain}).]]></payment_service__transaction_description>
			</easypay>
		</df_payment>
		<!--
			Система использует ключ «payment»
			для сопоставления кода (идентификатора) способа оплаты
			и программного класса (в терминах PHP) этого способа
		-->
		<payment>
			<df-easypay>
				<model>df_easypay/payment</model>
			</df-easypay>
		</payment>
	</default>
	<frontend>
		<!--
		<secure_url>
			<df_easypay>/df-easypay/</df_easypay>
		</secure_url>
		-->
		<routers>
			<df-easypay>
				<use>standard</use>
				<args>
					<module>Df_EasyPay</module>
					<frontName>df-easypay</frontName>
				</args>
			</df-easypay>
		</routers>
	</frontend>
	<df>
		<features>
			<df-easypay>
				<module>df_easypay</module>
				<title>EasyPay</title>
				<url>http://magento-forum.ru/forum/193/</url>
			</df-easypay>
		</features>
		<payment>
			<easypay>
				<currencies>
					<allowed>BYR</allowed>
				</currencies>
				<locales>
					<allowed>ru_RU,en_US</allowed>
					<code-translation>
						<ru_RU>russian</ru_RU>
						<en_US>english</en_US>
					</code-translation>
				</locales>
				<url>
					<payment_page>https://ssl.easypay.by/weborder/</payment_page>
				</url>
				<request>
					<confirmation>
						<admin>
							<order>
								<!--
									Пользовательский номер заказа в Magento.
									Обязательный параметр.
								-->
								<increment-id>order_mer_code</increment-id>
							</order>
						</admin>
						<customer>
							<!--
								Адрес электронной почты покупателя.
								Df_Payment: не используется.
								Df_EasyPay: не используется.
							-->
							<email></email>
							<!--
								Имя держателя карты.
								Df_Payment: не используется.
								Df_EasyPay: не используется.
							-->
							<name></name>
							<!--
								Номер телефона покупателя.
								Df_Payment: не используется.
								Df_EasyPay: не используется.
							-->
							<phone></phone>
						</customer>
						<payment>
							<!--
								Размер платежа.
								Обязательный параметр.
							-->
							<amount>sum</amount>
							<!--
								Код валюты платежа.
								Df_Payment: не используется.
								Df_EasyPay: не используется.
							-->
							<currency-code></currency-code>
						</payment>
						<payment_service>
							<!--
								Номер транзакции в системе Visa/MasterCard
								Df_Payment: не используется.
								Df_EasyPay: не используется.
							-->
							<card_transaction_id></card_transaction_id>
							<customer>
								<!--
									Кошелек покупателя.
									Df_Payment: не используется.
									Df_EasyPay: обязательный параметр.
								-->
								<account-id>card</account-id>
							</customer>
							<order>
								<!--
									Номер заказа в платёжной системе.
									Df_Payment: не используется.
									Df_EasyPay: не используется.
								-->
								<id></id>
							</order>
							<payment>
								<!--
									Дата и время проведения
									или изменения состояния платежа платёжной системой.
									Df_Payment: не используется.
									Df_EasyPay: обязательный параметр.
								-->
								<date>purch_date</date>
								<!--
									Идентификатор платежа в платёжной системе.
									Df_Payment: не используется.
									Df_EasyPay: не используется.
								-->
								<id></id>
								<!--
									Способ оплаты.
									Df_Payment: не используется.
									Df_EasyPay: не используется.
								-->
								<method></method>
								<!--
									Состояние обработки платежа в платёжной системе.
									Df_Payment: не используется.
									Df_EasyPay: не используется.
								-->
								<state></state>
							</payment>
							<shop>
								<!--
									Идентификатор магазина в платёжной системе.
									Df_Payment: не используется.
									Df_EasyPay: обязательный параметр.
								-->
								<id>mer_no</id>
							</shop>
						</payment_service>
						<request>
							<!--
								Подпись подтверждения платёжной системой магазину оплаты заказа.
								Обязательный параметр.
							-->
							<signature>notify_signature</signature>
						</request>
						<response>
							<!--
								Тип содержимого ответа магазина платёжной системе
								в ответ на подтверждение платёжной системой магазину оплаты заказа.
								Обязательный параметр.
							-->
							<content-type>text/plain</content-type>
						</response>
					</confirmation>
					<payment_page>
						<params>
							<EP_Comment>
								<max_length>50</max_length>
							</EP_Comment>
							<EP_OrderInfo>
								<max_length>2000</max_length>
							</EP_OrderInfo>
						</params>
					</payment_page>
				</request>
			</easypay>
		</payment>
	</df>
</config>