<?xml version='1.0'?>
<config>
   <sections>
		<df_payment>
			<groups>
				<easypay>
					<label>EasyPay</label>
					<comment>
					   <![CDATA[
							<a
								target='_blank'
								href='https://ssl.easypay.by/howregm/'
								title='порядок регистрации магазина'
							>как подключить магазин к EasyPay?</a>
					   ]]>
				   </comment>
					<frontend_type>text</frontend_type>
					<sort_order>8000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<!--
								Надо удостовериться, что в системе доступна валюта BYR
								и присутствует курс обмена учётной валюты магазина на BYR.
							-->
							<backend_model>Df_Admin_Config_Backend_Currency</backend_model>
							<df_currency>BYR</df_currency>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-easypay</df_feature>
						</active>
						<payment_service__shop_id>
							<label><![CDATA[Идентификатор магазина в EasyPay]]></label>
							<comment>
							   <![CDATA[
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/2259/'
										title='инструкция с картинками'
									>как узнать идентификатор имя моего магазина?</a>
									<br/>Идентификатор состоит ровно из 6 символов.
							   ]]>
						   </comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>
								required-entry
								validate-length
								minimum-length-6
								maximum-length-6
							</validate>
						</payment_service__shop_id>
						<payment_service__test>
							<label>Тестовый режим?</label>
							<comment>
							   <![CDATA[
									В тестовом режиме денежные средства с покупателя не списываются.
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__test>
						<frontend__title>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</frontend__title>
						<frontend__description>
							<label>Примечание к способу оплаты на экране оформления заказа</label>
							<comment>
								<![CDATA[
									Это примечание отображается под названием способа оплаты
									на экране оформления заказа.
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__description>
						<payment_service__transaction_description>
							<label>Название получателя платежа на экране оплаты</label>
							<comment>
								<![CDATA[
									Это название передаётся в платёжную систему.
									<br/>
									Его видит как покупатель при оплате, так и администратор при просмотре счетов
									в Личном кабинете платёжной системы.
									<br/>В шаблоне примечания можно использовать следующие переменные:
									<br/><b>{order.id}</b>: номер заказа
									<br/><b>{shop.domain}</b>: домен магазина
									<br/><b>{shop.name}</b>: название витрины
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</payment_service__transaction_description>
						<frontend__sort_order>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить платёжные способы на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>8000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>
								validate-digits
							</validate>
						</frontend__sort_order>
						<payment_service__response_password>
							<label>Криптографический ключ магазина</label>
							<comment>
							   <![CDATA[
									Укажите здесь криптографический ключ,который Вы указывали в графе
									«<i>Ключ для авторизации счетов (web-key)</i>»
									в Личном кабинете EasyPay.
									<br />
									Платёжная система и модуль используют этот криптографический ключ
									для шифрования информационного обмена между собой.
									<br />
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/2260/'
										title='инструкция с картинками'
									>Как узнать криптографический ключ моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__response_password>
						<frontend__allowspecific>
							<label>Ограничить доступность способа оплаты покупателями из конкретных стран?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да»,то система позволит Вам перечислить страны, которым
									должен принадлежать адрес покупателя, чтобы покупатель мог
									воспользоваться данным способом оплаты.
								]]>
							</comment>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>11000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__allowspecific>
						<frontend__specificcountry>
							<label>Допустимые страны покупателей</label>
							<comment>
								<![CDATA[
									Система покажет этот способ оплаты
									только покупателям из указанных Вами стран.<br/>
									Чтобы разрешить использование данного способа оплаты покупателям любой страны,укажите значение «нет» для опции
									«Ограничить доступность способа оплаты покупателями из конкретных стран?».
								]]>
							</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>12000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends>
								<active>1</active>
								<frontend__allowspecific>1</frontend__allowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</easypay>
			</groups>
		</df_payment>
	</sections>
</config>
