<?xml version='1.0'?>
<config>
   <sections>
		<df_payment>
			<groups>
				<onpay>
					<label>Onpay.ru</label>
					<comment>
					   <![CDATA[
							<a
								target='_blank'
								href='http://onpay.ru/connected/'
								title='порядок регистрации магазина'
							>как подключить магазин к Onpay.ru?</a>
					   ]]>
				   </comment>
					<frontend_type>text</frontend_type>
					<sort_order>12000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-onpay</df_feature>
						</active>
						<payment_service__shop_id>
							<label><![CDATA[Системное имя магазина в Onpay.ru]]></label>
							<comment>
							   <![CDATA[
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/1826/'
										title='инструкция с картинками'
									>как узнать системное имя моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__shop_id>
						<frontend__title>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</frontend__title>
						<frontend__description>
							<label>Примечание к способу оплаты на экране оформления заказа</label>
							<comment>
								<![CDATA[
									Это примечание отображается под названием способа оплаты
									на экране оформления заказа.
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__description>
						<payment_service__transaction_description>
							<label>Примечание к счёту в платёжной системе</label>
							<comment>
								<![CDATA[
									Это примечание к счёту передаётся в платёжную систему.
									<br/>
									Его видит как покупатель при оплате, так и администратор при просмотре счетов
									в Личном кабинете платёжной системы.
									<br/>В шаблоне примечания можно использовать следующие переменные:
									<br/><b>{order.id}</b>: номер заказа
									<br/><b>{shop.domain}</b>: домен магазина
									<br/><b>{shop.name}</b>: название витрины
								]]>
							</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>5500</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<depends><active>1</active></depends>
						</payment_service__transaction_description>
						<frontend__sort_order>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить платёжные способы на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__sort_order>
						<payment_service__response_password>
							<label>
								Криптографический ключ магазина
							</label>
							<comment>
							   <![CDATA[
									Укажите здесь криптографический ключ,который Вы указывали в графе «<i>Пароль для API (secret_key)</i>»
									в Личном кабинете Onpay.ru.
									<br />
									Платёжная система и модуль используют этот криптографический ключ
									для шифрования информационного обмена между собой.
									<br />
									<a
										target='_blank'
										href='http://magento-forum.ru/topic/1827/'
										title='инструкция с картинками'
									>Как узнать криптографический ключ моего магазина?</a>
							   ]]>
						   </comment>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__response_password>
						<payment_service__currency>
							<label>Валюта счёта</label>
							<comment>
							   <![CDATA[
									Модуль будет выражать размер платежа в этой валюте
									при взаимодействии с Onpay.ru.
									<br/>
									Обратите внимание:
									<br />* данная валюта должна быть в списке доступных валют магазина
									<br />* для данной валюты в магазине должен быть установлен обменный курс
									(System -> Manage Currency Rates)
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>Df_Payment_Config_Source_Currency</source_model>
							<sort_order>9000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__currency>
						<payment_service__fee_payer>
							<label>Плательщик комиссии</label>
							<comment>
							   <![CDATA[
							   		Если Вы укажете значение «<i>магазин</i>»,то платёжная система вычтет свою комиссию за платёж
									из зачисляемой на Ваш счёт суммы
									(покупатель платит ровно ту сумму,которую ему указал магазин при оформлении заказа, не больше).
									<br/>
									Если Вы укажете значение «<i>покупатель</i>»,то платёжная система заставит покупателя оплачивать
									комиссию платёжной системы за платёж
									(добавит свою комиссию к оплачиваемой покупателем сумме).
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>Df_Payment_Config_Source_Service_FeePayer</source_model>
							<sort_order>10000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__fee_payer>
						<payment_service__receipt_currency>
							<label>
								В какой валюте зачислять денежные поступления от клиентов
								на Ваш счёт в системе?
							</label>
							<comment>
							   <![CDATA[
							   		Если Вы укажете значение «<i>в валюте платежа</i>»,то денежные средства будут зачислены на счёт магазина в системе
									в валюте платежа.
									<br/>
									Если Вы укажете значение «<i>в валюте счёта</i>»,то денежные средства будут автоматически сконвертированы в валюту счёта
									(смотрите параметр модуля «<i>Валюта счёта</i>») выше
									и зачислены на счёт магазина в системе в валюте счёта.
							   ]]>
						   </comment>
							<frontend_type>select</frontend_type>
							<source_model>Df_OnPay_Model_Config_Source_Service_ReceiptCurrency</source_model>
							<sort_order>11000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</payment_service__receipt_currency>
						<frontend__allowspecific>
							<label>Ограничить доступность способа оплаты покупателями из конкретных стран?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да»,то система позволит Вам перечислить страны, которым
									должен принадлежать адрес покупателя, чтобы покупатель мог
									воспользоваться данным способом оплаты.
								]]>
							</comment>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>12000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends><active>1</active></depends>
						</frontend__allowspecific>
						<frontend__specificcountry>
							<label>Допустимые страны покупателей</label>
							<comment>
								<![CDATA[
									Система покажет этот способ оплаты
									только покупателям из указанных Вами стран.<br/>
									Чтобы разрешить использование данного способа оплаты покупателям любой страны,укажите значение «нет» для опции
									«Ограничить доступность способа оплаты покупателями из конкретных стран?».
								]]>
							</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>13000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<depends>
								<active>1</active>
								<frontend__allowspecific>1</frontend__allowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</onpay>
			</groups>
		</df_payment>
	</sections>
</config>
