<?xml version='1.0'?>
<config>
	<modules>
		<Df_Cms>
			<author>Дмитрий Федюк</author>
			<version>2.0.2</version>
		</Df_Cms>
	</modules>
	<df>
		<admin>
			<notifiers>
				<delete_orphan_blocks>Df_Cms_Model_Admin_Notifier_DeleteOrphanBlocks</delete_orphan_blocks>
			</notifiers>
		</admin>
		<features>
			<df-cms-2>
				<title>Статьи</title>
				<url>http://magento-forum.ru/forum/195/</url>
			</df-cms-2>
		</features>
		<menu>
			<product>
				<cms>
					<class>df_cms/menuSource</class>
					<weight>0</weight>
				</cms>
			</product>
		</menu>
	</df>
	<global>
		<blocks>
			<cms>
				<rewrite>
					<!--
						Цель перекрытия —
						кэширование самодельных блоков.
					-->
					<block>Df_Cms_Block_Block</block>
					<!--
						Цель перекрытия —
						кэширование самодельных страниц.
					-->
					<page>Df_Cms_Block_Page</page>
				</rewrite>
			</cms>
			<df_cms>
				<class>Df_Cms_Block</class>
				<weight>0</weight>
			</df_cms>
		</blocks>
		<helpers><df_cms><class>Df_Cms_Helper</class></df_cms></helpers>
		<models>
			<cms>
				<rewrite>
					<!--
						Цель перекрытия —
						устранение дефекта показа картинок в редакторе.
						http://magento-forum.ru/topic/2320/
					-->
					<template_filter>Df_Widget_Model_Template_Filter</template_filter>
				</rewrite>
			</cms>
			<cms_mysql4>
				<rewrite>
					<!--
						Цель перекрытия —
						устранение дефекта показа картинок в редакторе.
						http://magento-forum.ru/topic/2320/
					-->
					<page>Df_Cms_Model_Resource_Page</page>
				</rewrite>
			</cms_mysql4>
			<cms_resource>
				<rewrite>
					<page>Df_Cms_Model_Resource_Page</page>
				</rewrite>
			</cms_resource>
			<df_cms>
				<class>Df_Cms_Model</class>
				<resourceModel>df_cms_resource</resourceModel>
			</df_cms>
			<df_cms_resource>
				<class>Df_Cms_Model_Resource</class>
				<entities>
					<page_version><table>df_cms_page_version</table></page_version>
					<page_revision><table>df_cms_page_revision</table></page_revision>
					<increment><table>df_cms_increment</table></increment>
					<hierarchy_metadata><table>df_cms_hierarchy_metadata</table></hierarchy_metadata>
					<hierarchy_node><table>df_cms_hierarchy_node</table></hierarchy_node>
					<hierarchy_lock><table>df_cms_hierarchy_lock</table></hierarchy_lock>
				</entities>
			</df_cms_resource>
		</models>
		<resources>
			<df_cms_setup>
				<setup>
					<module>Df_Cms</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_cms_setup>
		</resources>
		<events>
			<cms_controller_router_match_before>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>cms_controller_router_match_before</method>
					</Df_Cms>
				</observers>
			</cms_controller_router_match_before>
			<controller_front_init_routers>
				<observers>
					<Df_Cms>
						<!-- Для поддержки кириллицы в адресах самодельных страниц -->
						<class>Df_Cms_Controller_Router</class>
						<method>initControllerRouters</method>
					</Df_Cms>
				</observers>
			</controller_front_init_routers>
		</events>
		<cache>
			<types>
				<rm_cms translate='label,description' module='df_cms'>
					<label>Статьи</label>
					<description>Хранит меню статей.</description>
					<tags>rm_cms</tags>
				</rm_cms>
			</types>
		</cache>
	</global>
	<frontend>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>controller_action_layout_generate_blocks_after</method>
					</Df_Cms>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
		<layout>
			<updates>
				<df_cms><file>df/cms.xml</file></df_cms>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Cms>
					<files>
						<default>Df/Cms.csv</default>
					</files>
				</Df_Cms>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<adminhtml_cms_page_edit_tab_main_prepare_form>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>adminhtml_cms_page_edit_tab_main_prepare_form</method>
					</Df_Cms>
				</observers>
			</adminhtml_cms_page_edit_tab_main_prepare_form>
			<cms_page_save_before>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>cms_page_save_before</method>
					</Df_Cms>
				</observers>
			</cms_page_save_before>
			<cms_page_save_after>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>cms_page_save_after</method>
					</Df_Cms>
				</observers>
			</cms_page_save_after>
			<admin_user_delete_after>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>admin_user_delete_after</method>
					</Df_Cms>
				</observers>
			</admin_user_delete_after>
			<cms_page_get_available_statuses>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>cms_page_get_available_statuses</method>
					</Df_Cms>
				</observers>
			</cms_page_get_available_statuses>
			<cms_page_delete_after>
				<observers>
					<Df_Cms>
						<class>Df_Cms_Observer</class>
						<method>cms_page_delete_after</method>
					</Df_Cms>
				</observers>
			</cms_page_delete_after>
		</events>
		<layout>
			<updates>
				<df_cms><file>df/cms.xml</file></df_cms>
			</updates>
		</layout>
		<translate>
			<modules>
				<Df_Cms>
					<files>
						<default>Df/Cms.csv</default>
					</files>
				</Df_Cms>
			</modules>
		</translate>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<df_cms before='Mage_Adminhtml'>Df_Cms_Adminhtml</df_cms>
					</modules>
				</args>
			</adminhtml>
			<df_cms_admin>
				<use>admin</use>
				<args>
					<module>Df_Cms_Admin</module>
					<frontName>df-cms-admin</frontName>
				</args>
			</df_cms_admin>
		</routers>
	</admin>
	<default>
		<df_cms>
			<hierarchy>
				<enabled>0</enabled>
				<add_to_catalog_menu>0</add_to_catalog_menu>
				<lock_timeout>0</lock_timeout>
				<menu_layout>content</menu_layout>
			</hierarchy>
			<versioning>
				<enabled>0</enabled>
				<default>0</default>
			</versioning>
		</df_cms>
	</default>
</config>
