<?xml version='1.0'?>
<config>
	<modules>
		<Df_UkrPoshta>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_UkrPoshta>
	</modules>
	<global>
		<blocks><df_ukr_poshta><class>Df_UkrPoshta_Block</class></df_ukr_poshta></blocks>
		<helpers><df_ukr_poshta><class>Df_UkrPoshta_Helper</class></df_ukr_poshta></helpers>
		<models><df_ukr_poshta><class>Df_UkrPoshta_Model</class></df_ukr_poshta></models>
	</global>
	<default>
		<carriers>
			<df-ukr-poshta>
				<active>0</active>
				<model>Df_UkrPoshta_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Укрпошта (Укрпочта)</title>
			</df-ukr-poshta>
		</carriers>
		<df_shipping>
			<ukr-poshta>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>0</frontend__sallowspecific>
				<frontend__display_diagnostic_messages>0</frontend__display_diagnostic_messages>
			</ukr-poshta>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-ukr-poshta>
				<module>Df_UkrPoshta</module>
				<title>Укрпошта (Укрпочта)</title>
				<url>http://magento-forum.ru/forum/256/</url>
			</df-ukr-poshta>
		</features>
		<shipping>
			<ukr-poshta>
				<allowed-methods>
					<!--
						Идентификаторам способов доставки достаточно быть уникальными
						лишь в пределах модуля доставки,потому что система формирует уникальный идентификатор способа доставки
						объединением идентификатором модуля доставки и способа доставки.
					-->
					<lightweight-to-home>
						<title>до квартиры / офиса</title>
						<class>Df_UkrPoshta_Model_Method_Lightweight_ToHome</class>
					</lightweight-to-home>
					<lightweight-to-point-of-issue>
						<title>до пункта выдачи</title>
						<class>Df_UkrPoshta_Model_Method_Lightweight_ToPointOfIssue</class>
					</lightweight-to-point-of-issue>
					<universal-air>
						<title>авиадоставка до пункта выдачи</title>
						<class>Df_UkrPoshta_Model_Method_Universal_Air</class>
					</universal-air>
					<universal-ground-to-home>
						<title>до квартиры / офиса</title>
						<class>Df_UkrPoshta_Model_Method_Universal_Ground_ToHome</class>
					</universal-ground-to-home>
					<universal-ground-to-point-of-issue>
						<title>до пункта выдачи</title>
						<class>Df_UkrPoshta_Model_Method_Universal_Ground_ToPointOfIssue</class>
					</universal-ground-to-point-of-issue>
				</allowed-methods>
			</ukr-poshta>
		</shipping>
	</df>
</config>
