<?xml version='1.0'?>
<config>
	<modules>
		<Df_CatalogRule>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_CatalogRule>
	</modules>
	<global>
		<blocks><df_catalog_rule><class>Df_CatalogRule_Block</class></df_catalog_rule></blocks>
		<helpers><df_catalog_rule><class>Df_CatalogRule_Helper</class></df_catalog_rule></helpers>
		<models>
			<catalogrule>
				<rewrite>
					<!--
						Цель перекрытия —
						устранение дефекта Magento CE 1.8:
						ценовые правила для каталога с условиями, основанными на товарных свойствах
						с глобальной областью доступности, работают неправильно.
						@link https://www.google.com/search?q=Magento+1.8+rule+not+working
						@link http://stackoverflow.com/a/19976036
						@link https://bitbucket.org/gferon/magento-1.8-catalogrule-fix/
						@link http://www.magentocommerce.com/bug-tracking/issue?issue=15936
						@link http://www.magentocommerce.com/bug-tracking/issue?issue=15896
						@link http://www.magentocommerce.com/bug-tracking/issue?issue=15075
					-->
					<rule_condition_product>Df_CatalogRule_Model_Rule_Condition_Product</rule_condition_product>
				</rewrite>
			</catalogrule>
			<df_catalog_rule><class>Df_CatalogRule_Model</class></df_catalog_rule>
		</models>
	</global>
</config>