<?xml version='1.0'?>
<config>
	<sections>
		<df_sms>
			<label>SMS</label>
			<tab>df</tab>
			<frontend_type>text</frontend_type>
			<sort_order>16500</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general>
					<label>Общие настройки</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[]]>
					</comment>
					<fields>
						<enabled>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-sms</df_feature>
						</enabled>
						<gate>
							<label>Шлюз</label>
							<frontend_type>select</frontend_type>
							<source_model>Df_Sms_Model_Config_Source_Gate</source_model>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</gate>
						<administrator_phone>
							<label>Получатель административных SMS</label>
							<comment>
								<![CDATA[Номер телефона в формате 79621234567]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
							<validate>
								required-entry
								validate-digits
							</validate>
						</administrator_phone>
						<sender>
							<label>Имя отправителя SMS</label>
							<comment>
								<![CDATA[
									Укажите либо номер телефона (в формате 79621234567), либо символьное имя
									(не более 11 символов,
									можно использовать только латинский алфавит и символы-разделители)
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
							<depends>
								<enabled>1</enabled>
							</depends>
						</sender>
					</fields>
				</general>
				<sms16_ru>
					<label>sms16.ru</label>
					<frontend_type>text</frontend_type>
					<sort_order>2000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment><![CDATA[]]></comment>
					<fields>
						<token>
							<label>Токен</label>
							<comment>
								<![CDATA[
									Значение токена указано в Личном кабинете в разделе «Настройки»
								]]>
							</comment>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_type>obscure</frontend_type>
						</token>
					</fields>
				</sms16_ru>
			</groups>
		</df_sms>
	</sections>
</config>