<?xml version='1.0'?>
<config>
	<modules>
		<Df_CurrencySymbol>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_CurrencySymbol>
	</modules>
	<global>
		<blocks><df_currency_symbol><class>Df_CurrencySymbol_Block</class></df_currency_symbol></blocks>
		<helpers><df_currency_symbol><class>Df_CurrencySymbol_Helper</class></df_currency_symbol></helpers>
		<models><df_currency_symbol><class>Df_CurrencySymbol_Model</class></df_currency_symbol></models>
	</global>
</config>