<?xml version='1.0'?>
<config>
	<modules>
		<Df_Garantpost>
			<author>Дмитрий Федюк</author>
			<title>Гарантпост</title>
			<version>1.0.0</version>
		</Df_Garantpost>
	</modules>
	<global>
		<blocks><df_garantpost><class>Df_Garantpost_Block</class></df_garantpost></blocks>
		<helpers><df_garantpost><class>Df_Garantpost_Helper</class></df_garantpost></helpers>
		<models><df_garantpost><class>Df_Garantpost_Model</class></df_garantpost></models>
	</global>
	<default>
		<carriers>
			<df-garantpost>
				<active>0</active>
				<model>Df_Garantpost_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Гарантпост</title>
			</df-garantpost>
		</carriers>
		<df_shipping>
			<garantpost>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>0</frontend__sallowspecific>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
			</garantpost>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-garantpost>
				<module>df_garantpost</module>
				<title>Гарантпост</title>
				<url>http://magento-forum.ru/forum/210/</url>
			</df-garantpost>
		</features>
		<shipping>
			<garantpost>
				<allowed-methods>
					<!--
						Идентификаторам способов доставки достаточно быть уникальными
						лишь в пределах модуля доставки,потому что система формирует уникальный идентификатор способа доставки
						объединением идентификатором модуля доставки и способа доставки.
					-->
					<light-standard>
						<title>стандартный</title>
						<class>df_garantpost/method_light_standard</class>
					</light-standard>
					<light-cashOnDelivery>
						<title>наложенный платёж</title>
						<class>df_garantpost/method_light_cashOnDelivery</class>
					</light-cashOnDelivery>
					<export>
						<title>экспорт</title>
						<class>df_garantpost/method_export</class>
					</export>
					<heavy-ground>
						<title>тяжёлый груз, наземным транспортом</title>
						<class>df_garantpost/method_heavy_ground</class>
					</heavy-ground>
					<heavy-air>
						<title>тяжёлый груз, воздушным транспортом</title>
						<class>df_garantpost/method_heavy_air</class>
					</heavy-air>
				</allowed-methods>
			</garantpost>
		</shipping>
	</df>
</config>