body.df-theme-cattheme-se105 {
	.cart {
		.cart-collaterals {
			.col2-set {width: 670px;}
		}
	}
	.header {
		.topbar {
			#blocklogin {
				width: 350px;
				.top-links {width: 100%;}
			}
		}
		.search_term {
			.no-item {display: none;}
		}
	}
}