<?xml version='1.0'?>
<config>
	<modules>
		<Df_RussianPost>
			<author>Дмитрий Федюк</author>
			<title>Почта России</title>
			<version>1.0.0</version>
		</Df_RussianPost>
	</modules>
	<global>
		<blocks><df_russian_post><class>Df_RussianPost_Block</class></df_russian_post></blocks>
		<helpers><df_russian_post><class>Df_RussianPost_Helper</class></df_russian_post></helpers>
		<models><df_russian_post><class>Df_RussianPost_Model</class></df_russian_post></models>
	</global>
	<default>
		<carriers>
			<df-russian-post>
				<active>0</active>
				<model>Df_RussianPost_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Почта России</title>
			</df-russian-post>
		</carriers>
		<df_shipping>
			<russian-post>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>100</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
				<frontend__sallowspecific>0</frontend__sallowspecific>
			</russian-post>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-russian-post>
				<module>df_russian_post</module>
				<title>Почта России</title>
				<url>http://magento-forum.ru/forum/199/</url>
			</df-russian-post>
		</features>
		<shipping>
			<russian-post>
				<allowed-methods>
					<!--
						Идентификаторам способов доставки достаточно быть уникальными
						лишь в пределах модуля доставки,потому что система формирует уникальный идентификатор способа доставки
						объединением идентификатором модуля доставки и способа доставки.
					-->
					<standard>
						<title>Доставка Почтой России</title>
						<class>df_russian_post/russianPostCalc_method_standard</class>
					</standard>
					<first-class>
						<title>Доставка Почтой России 1 класс</title>
						<class>df_russian_post/russianPostCalc_method_firstClass</class>
					</first-class>
					<international>
						<title>Международная ценная бандероль</title>
						<class>df_russian_post/official_method_international</class>
					</international>
				</allowed-methods>
			</russian-post>
		</shipping>
	</df>
</config>
