.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
	.autocomplete-suggestion {
		padding: 2px 5px;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
		strong {
			font-weight: bold;
			color: black;
		}
	}
	.autocomplete-selected {
		background: #F0F0F0;
	}
}
