<?xml version='1.0'?>
<config>
	<modules>
		<Df_Kkb>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_Kkb>
	</modules>
	<global>
		<helpers><df_kkb><class>Df_Kkb_Helper</class></df_kkb></helpers>
	</global>
	<default>
		<!--
			Применение для настроек нестандартного ключа df_payment вместо payment
			позволяет нам расположить настройки наших платёжных модулей
			не в группе стандартных платёжных модулей,а в группе Российской сборки
		-->
		<df_payment>
			<kkb>
				<active>0</active>
				<payment_service__test>1</payment_service__test>
				<!--
					руководствуясь значением этого параметра
					система будет автоматически переводить суммы в тенге
					перед передачей их платёжному шлюзу
				-->
				<payment_service__currency>KZT</payment_service__currency>
				<payment_service__payment_methods>df-all</payment_service__payment_methods>
				<payment_service__payment_page_locale>ru_RU</payment_service__payment_page_locale>
				<payment_service__card_payment_action>authorize</payment_service__card_payment_action>
				<frontend__allowspecific>0</frontend__allowspecific>
				<frontend__description><![CDATA[После нажатия кнопки «Подтвердить заказ»
Вы будете перенаправлены на платёжную страницу Казкоммерцбанка,
где сможете оплатить Ваш заказ банковской картой.]]></frontend__description>
				<frontend__message_failure><![CDATA[К сожалению, оплата заказа не удалась.
<br/>Сообщение платёжного шлюза
{название платёжного шлюза в родительном падеже}: «{сообщение от платёжного шлюза}».
<br/>Возможно, Вы ввели на платёжной странице
{название платёжного шлюза в родительном падеже} неточные данные?
<br/>Попробуйте оформить Ваш заказ повторно.
<br/>Если оплатить заказ через {название платёжного шлюза в именительном падеже}
не получается — попробуйте другой способ оплаты
или оформите Ваш заказ по телефону {телефон магазина}.]]></frontend__message_failure>
				<frontend__sort_order>0</frontend__sort_order>
				<frontend__specificcountry></frontend__specificcountry>
				<frontend__title>Банковская карта</frontend__title>
				<payment_service__key_private_password__test>nissan</payment_service__key_private_password__test>
			</kkb>
		</df_payment>
		<!--
			Система использует ключ «payment»
			для сопоставления кода (идентификатора) способа оплаты
			и программного класса (в терминах PHP) этого способа
		-->
		<payment>
			<df-kkb>
				<model>Df\Kkb\Method</model>
			</df-kkb>
		</payment>
	</default>
	<frontend>
		<routers>
			<df_kkb>
				<use>standard</use>
				<args>
					<module>Df_Kkb</module>
					<frontName>df-kkb</frontName>
				</args>
			</df_kkb>
		</routers>
	</frontend>
	<df>
		<features>
			<df-kkb>
				<module>df_kkb</module>
				<title>Казкоммерцбанк</title>
				<url>http://magento-forum.ru/forum/324/</url>
			</df-kkb>
		</features>
		<payment>
			<kkb>
				<currencies>
					<allowed>KZT,USD</allowed>
					<code-translation>
						<KZT>398</KZT>
						<USD>840</USD>
					</code-translation>
				</currencies>
				<locales>
					<allowed>ru_RU,en_US</allowed>
					<code-translation>
						<ru_RU>rus</ru_RU>
						<en_US>eng</en_US>
					</code-translation>
				</locales>
				<!-- Название платёжного шлюза для диагностических сообщений -->
				<names>
					<!-- именительный падеж -->
					<nominative>Казкоммерцбанк</nominative>
					<!-- родительный падеж -->
					<genitive>Казкоммерцбанка</genitive>
					<!-- дательный падеж -->
					<dative>Казкоммерцбанку</dative>
					<!-- творительный падеж -->
					<instrumental>Казкоммерцбанком</instrumental>
				</names>
				<request>
					<confirmation>
						<payment>
							<!-- размер платежа -->
							<amount>AMOUNT</amount>
						</payment>
						<request>
							<!--
								Подпись подтверждения платёжной системой магазину оплаты заказа.
								Обязательный параметр.
							-->
							<signature>SIGN_CALLBACK</signature>
						</request>
						<response>
							<content-type>text/plain</content-type>
						</response>
					</confirmation>
				</request>
				<production>
					<url>
						<payment_page>https://epay.kkb.kz/jsp/process/logon.jsp</payment_page>
					</url>
				</production>
				<test>
					<url>
						<payment_page>https://testpay.kkb.kz/jsp/process/logon.jsp</payment_page>
					</url>
				</test>
			</kkb>
		</payment>
	</df>
</config>