<?xml version='1.0'?>
<config>
	<sections>
		<df_accounting>
			<groups>
				<vat>
					<label>НДС</label>
					<comment><![CDATA[
<p>Российская сборка Magento унаследовала много опций налогообложения из Magento Community Edition.
<br>Эти опции настраиваются в административном разделе «Система» → «Настройки» → «Продажи» → «НДС».</p>
<p>Ставки НДС доступны посредством раздела верхнего административного меню «Продажи» → «НДС».</p>
		 			]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled>
							<label>Является ли интернет-магазин плательщиком НДС при реализации товаров?</label>
							<comment><![CDATA[
В России интернет-магазин не является плательщиком НДС
при реализации товаров внутри страны в двух основных случаях:
<ul><li>если интернет-магазин работает на <b>упрощённой системе налогообложения</b></li>
<li>если интернет-магазин работает на общей системе налогообложения,
но освобождён на текущий год от обязанности уплаты НДС из-за того,
что выручка за 3 последовательных календарных месяца <b>не превышала 2 млн. рублей</b>
(<a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=LAW;n=177648;fld=134;dst=5876;rnd=0.3221553631592542'
>ст. 145 п. 1</a>  Налогового Кодекса РФ).</li></ul>
В других странах СНГ действуют свои правила.
							]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<eacu>
							<label>Страны ЕАЭС</label>
							<comment><![CDATA[
Во взаимной торговле в рамках Евразийского Экономического Союза (ЕАЭС)
действуют <a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=PPN;n=1;div=LAW;dst=130561,1;rnd=0.015068215290359954'
>свои правила</a> начисления НДС, которые
<a href='http://www.consultant.ru/popular/cons/1_1.html#p119'>имеют приоритет</a> над Налоговым Кодексом РФ.
							]]></comment>
							<frontend_model>Df_Directory_Block_Field_CountriesOrdered</frontend_model>
							<backend_model>Df_Admin_Config_Backend_Table</backend_model>
							<rm_type>Df_Directory_Config_MapItem_Country</rm_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
						</eacu>
					</fields>
				</vat>
			</groups>
		</df_accounting>
		<tax>
			<groups>
				<classes>
					<sort_order>25</sort_order>
					<fields>
						<shipping_tax_class>
							<comment><![CDATA[
В России услуги перевозки облагаются <b>НДС 18%</b>, поэтому разумно указать именно эту ставку.
							]]></comment>
						</shipping_tax_class>
					</fields>
				</classes>
				<calculation>
					<fields>
						<algorithm>
							<comment><![CDATA[
Алгоритмы различаются лишь порядком вычисления НДС, но результат будет один и тот же
<a href='http://stackoverflow.com/a/11952826' target='_blank'>с точностью
до погрешности округления</a>, поэтому выбирайте любое значение.
							]]></comment>
						</algorithm>
						<apply_after_discount>
							<comment><![CDATA[
Российскому законодательству соответствует только значение «<b>после вычета скидок</b>»:
<ul>
	<li>письмо Министерства финансов РФ <a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=QUEST;n=90153;div=FIN;dst=100003,0;rnd=0.960338844684884'
	>N 03-07-11/216</a> от 28 мая 2010 г. «О порядке применения НДС
	при реализации организацией физлицам в розничной торговле товаров по ценам
	с учетом скидок, эквивалентных сумме, накопленной физлицом при совершении предыдущих покупок».</li>
	<li>письмо Министерства финансов РФ <a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=QUEST;n=65628;div=FIN;dst=100006,-1;rnd=0.5004302347078919'
	>N 03-03-06/1/722</a> от 26 декабря 2008 г. «О применении НДС и налога на прибыль
	при реализации физическим лицам в розничной торговле товаров по ценам с учетом скидок,
	эквивалентных сумме баллов, накопленных физическим лицом при совершении предыдущих покупок».</li>
	<li>письмо Федеральной налоговой службы <a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=QUEST;n=81791;div=FIN;dst=100008,0;rnd=0.7175396415404975'
	>N 3-0-06/63</a> от 1 апреля 2010 г. «О порядке применения НДС
	в случае реализации продукции по договорам купли-продажи (поставки),
	предусматривающим премии, скидки, бонусы».</li>
</ul>
							]]></comment>
						</apply_after_discount>
						<apply_tax_on>
							<comment><![CDATA[
Российскому законодательству
(<a href='http://www.consultant.ru/popular/nalog2/3_1.html#p1037'>ст. 154 п. 1</a> Налогового Кодекса РФ) соответствует только значение
«<b>на основании цен заказа</b>».]]></comment>
						</apply_tax_on>
						<based_on>
							<source_model>Df_Tax_Config_Source_AddressType</source_model>
							<comment><![CDATA[
Эта опция была заложена в Magento Community Edition, чтобы владелец смог настроить свой интернет-магазин
<br/>в соответствии с налоговым законодательством своей страны (и даже региона внутри страны,
потому что в Magento Community Edition для этой опции используется формулировка «адрес», не «страна»).
<br/>Во всех странах СНГ ставка НДС не зависит от региона внутри страны,
поэтому в Российской сборке Magento используется формулировка «страна».
<br/>Конкретно для интернет-магазинов России практически возможны <b>4 ситуации</b>,
различающихся по применению НДС:
<table class='rm-definition'>
	<tr>
		<td>1. продажа внутри страны</td>
		<td>
			Если и интернет-магазин, и адрес доставки расположены в одной и той же стране,
			то по налоговому законодательству России местом реализации товара признаётся Россия,
			вне зависимости от расположения и гражданства плательщика,
			и продажа облагается НДС по ставкам, заложенным для России в разделе
			«Продажи» → «НДС» → «Правила» (18% и 10%).
			Конкретная ставка (18% или 10%) определяется налоговой группой товара,
			которую администратор задаёт для каждого товара.
		</td>
	</tr>
	<tr>
		<td>2. продажа за рубеж в пределах Таможенного союза ЕАЭС физическому лицу</td>
		<td>
			В этом случае, как разъяснило Министерство Финансов РФ
			в <a href='http://base.consultant.ru/cons/cgi/online.cgi?req=doc;base=QUEST;n=106973'
			>письме N 03-07-13/01-03 от 25 января 2012 г.</a>,
			продажа облагается НДС по тем же ставкам, как и при продаже внутри России.
		</td>
	</tr>
	<tr>
		<td>3. продажа за рубеж в пределах Таможенного союза ЕАЭС юридическому лицу</td>
		<td>
			В этом случае, согласно
			<a href='http://www.consultant.ru/document/cons_doc_LAW_170264/?frame=61#p5463'
			>пункту 3</a> Приложения N 18 к Договору о Евразийском экономическом союзе
			продажа облагается НДС <b>по ставке 0%</b>.
			<br/>При этом покупатель, согласно
			<a href='http://www.consultant.ru/document/cons_doc_LAW_170264/?frame=61#p5470'
			>пункту 4.3</a> того же приложения должен предоставить продавцу
			(а продавец затем — в налоговую инспекцию для обоснования ставки 0%)
			<b>заявление о ввозе товаров и уплате косвенных налогов</b>.
			<br/>То есть, покупатель оплачивает импортный НДС по законодательству своей страны
			и предоставляет документарное подтверждение этого продавцу (интернет-магазину),
			интернет-магазин затем предоставляет подтверждение своей налоговой инспекции
			для обоснования применения ставки 0%.
		</td>
	</tr>
	<tr>
		<td>4. продажа за рубеж за рамки Таможенного союза ЕАЭС</td>
		<td>
			В этом случае, согласно
			<a href='http://www.consultant.ru/popular/nalog2/3_1.html#p1378'>пункту 1 статьи 164</a>
			Налогового Кодекса РФ продажа облагается НДС по <b>ставке 0%</b>.
		</td>
	</tr>
</table>
<br/>Теперь, перечислив все 4 возможные на практике различающиеся по ставок НДС ситуации,
можно разобрать, какое значение опции является правильным для российского интернет-магазина.
<ul>
	<li>Значение «<b>страна плательщика</b>» будет некорректным,
	потому что по российскому законодательству НДС зависит от места реализации товара,
	не взирая на страну плательщика (см. пояснения к пункту 1 таблицы выше).</li>
	<li>Значение «<b>страна доставки</b>» будет некорректным,
	потому что в разделе «Продажи» → «НДС» → «Правила»
	налоговые правила привязаны к стране интернет-магазина, а не к стране доставки.
	<br/>Покупатель при получении товара, возможно, будет обязан заплатить импортный НДС
	по законодательству своей страны (как в пункте 3 таблицы выше: при продаже юридическому лицу в рамках
	Таможенного союза ЕАЭС), но здесь плательщиком НДС является именно покупатель,
	а у продавца (интернет-магазина) — ставка 0%).</li>
	<li>Итак, после исключения двух опций осталась всего одна —
	«<span class='rm-recommendation'>страна интернет-магазина</span>».
	<br/><span class='rm-recommendation'>Именно её следудует выбрать российскому интернет-магазину</span>.
    <br/>При этом:
		<ul>
			<li>Принадлежность интернет-магазина к плательщикам НДС задаётся опцией
				«Система» → «Настройки» → «Российская сборка» → «Учёт» → «НДС» →
				«<b>Является ли интернет-магазин плательщиком НДС при реализации товаров?</b>».
			</li>
			<li>
				Экспорт в рамках Таможенного союза ЕАЭС распознаётся Российской сборкой Magento автоматически
				(список таких стран задаётся опцией «Система» → «Настройки» →
				«Российская сборка» → «Учёт» → «НДС» → «<b>Страны ЕАЭС</b>»).
				<br/>Далее, если покупатель при оформлении заказа указывает,
				что он является юридическим лицом и готов предоставить интернет-магазину
				<b>заявление о ввозе товаров и уплате косвенных налогов</b>,
				то Российская сборка Magento автоматически применяет ставку НДС 0%,
				а в противном случае Российская сборка Magento автоматически применяет российские ставки
				(18% или 10%, в зависимости от заказанных товаров).
			</li>
			<li>
				Экспорт за рамки Таможенного союза ЕАЭС
				также распознаётся Российской сборкой Magento автоматически (и применяется ставка НДС 0%).
			</li>
		</ul>
	</li>
</ul>
							]]></comment>
						</based_on>
						<discount_tax>
							<source_model>Df_Tax_Config_Source_ApplyDiscountOnPrices</source_model>
							<comment><![CDATA[
Как уже было сказано выше, российскому налоговому законодательству соответствует только значение
«<b>без НДС</b>».			]]></comment>
						</discount_tax>
					</fields>
				</calculation>
				<defaults>
					<comment><![CDATA[
<p>Значения этого блока использутся только когда значением опции
«Продажи» → «НДС» → «Параметры начисления» → «По законодательству какой страны начислять НДС?»
является либо «страна доставки», либо «страна плательщика»,
и указанная страна ещё неизвестна системе (посетитель интернет-магазина ещё не зарегистрировался
либо не авторизовался).</p>
<p>Как уже было сказано в комментарии к этой опции,
для России и СНГ правильным её значением является «страна интернет-магазина», поэтому опции блока
«Предположительная налоговая принадлежность покупателя»
<span class='rm-recommendation'>для России и СНГ опции настраивать не нужно</span>.</p>
					]]></comment>
				</defaults>
				<display>
					<comment><![CDATA[
<b>В России и СНГ</b> принято отображать цены с НДС,
поэтому значение «<span class='rm-recommendation'>с НДС</span>» является рекомендуемым
для всех опций этого блока настроек.
					]]></comment>
					<fields>
						<type>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</type>
						<shipping>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</shipping>
					</fields>
				</display>
				<cart_display>
					<comment><![CDATA[
<b>В России и СНГ</b> принято отображать цены с НДС,
поэтому значение «<span class='rm-recommendation'>с НДС</span>» является рекомендуемым
для первых 4-х опций этого блока настроек.
					]]></comment>
					<fields>
						<price>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</price>
						<subtotal>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</subtotal>
						<shipping>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</shipping>
						<grandtotal>
							<source_model>Df_Tax_Config_Source_DisplayTypeYesNo</source_model>
						</grandtotal>
						<full_summary>
							<comment><![CDATA[
Для <b>России и СНГ</b> рекомендуемым значением является «<span class='rm-recommendation'>нет</span>»,
<br/>потому что налог, учёт которого рекомендуется вести в Magento и показывать покупателям
<br/>(и то не всем, а только юридическим лицам), всего один — НДС.
							]]></comment>
						</full_summary>
						<zero_tax>
							<comment><![CDATA[
Для <b>России и СНГ</b> рекомендуемым значением является «<span class='rm-recommendation'>да</span>».
<br/>При этом значении поведение системы будет таким:
<table class='rm-definition'>
	<tr>
		<td width='110'>пометка<br/>«без налога (НДС)»</td>
		<td>Будет показана, если интернет-магазин не является плательщиком НДС при реализации товаров
		(задаётся опцией «Система» → «Настройки» → «Российская сборка» → «Учёт» → «НДС» →
		«Является ли интернет-магазин плательщиком НДС при реализации товаров?»)
		</td>
	</tr>
	<tr>
		<td>нулевая ставка НДС</td>
		<td>Будет показана при экспорте
		(если экспорт осуществляется в пределах Таможенного союза ЕАЭС,
		то нулевая ставка будет применима только при продаже юридическому лицу),
		если интернет-магазин является плательщиком НДС при реализации товаров.
		</td>
	</tr>
</table>
							]]></comment>
						</zero_tax>
					</fields>
				</cart_display>
				<sales_display>
					<comment><![CDATA[
<b>В России и СНГ</b> принято отображать цены с НДС,
поэтому значение «<span class='rm-recommendation'>с НДС</span>» является рекомендуемым
для первых 4-х опций этого блока настроек.
					]]></comment>
					<fields>
						<price>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</price>
						<subtotal>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</subtotal>
						<shipping>
							<source_model>Df_Tax_Config_Source_DisplayType</source_model>
						</shipping>
						<grandtotal>
							<source_model>Df_Tax_Config_Source_DisplayTypeYesNo</source_model>
						</grandtotal>
						<full_summary>
							<comment><![CDATA[
Для <b>России и СНГ</b> рекомендуемым значением является «<span class='rm-recommendation'>нет</span>»,
потому что налог, учёт которого рекомендуется вести в Magento и показывать покупателям
(и то не всем, а только юридическим лицам), всего один — НДС.
							]]></comment>
						</full_summary>
						<zero_tax>
							<comment><![CDATA[
Для <b>России и СНГ</b> рекомендуемым значением является «<span class='rm-recommendation'>да</span>».
<br/>При этом значении поведение системы будет таким:
<table class='rm-definition'>
	<tr>
		<td width='110'>пометка<br/>«без налога (НДС)»</td>
		<td>Будет показана, если интернет-магазин не является плательщиком НДС при реализации товаров
		(задаётся опцией «Система» → «Настройки» → «Российская сборка» → «Учёт» → «НДС» →
		«Является ли интернет-магазин плательщиком НДС при реализации товаров?»)
		</td>
	</tr>
	<tr>
		<td>нулевая ставка НДС</td>
		<td>Будет показана при экспорте
		(если экспорт осуществляется в пределах Таможенного союза ЕАЭС,
		то нулевая ставка будет применима только при продаже юридическому лицу),
		если интернет-магазин является плательщиком НДС при реализации товаров.
		</td>
	</tr>
</table>
							]]></comment>
						</zero_tax>
					</fields>
				</sales_display>
			</groups>
		</tax>
	</sections>
</config>