<?xml version='1.0'?>
<config>
	<modules>
		<Df_YandexMoney>
			<author>Дмитрий Федюк</author>
			<title>Яндекс.Деньги</title>
			<version>1.0.0</version>
		</Df_YandexMoney>
	</modules>
	<global>
		<helpers><df_yandex_money><class>Df_YandexMoney_Helper</class></df_yandex_money></helpers>
	</global>
	<default>
		<!--
			Применение для настроек нестандартного ключа df_payment вместо payment
			позволяет нам расположить настройки наших платёжных модулей
			не в группе стандартных платёжных модулей,а в группе Российской сборки
		-->
		<df_payment>
			<yandex-money>
				<active>0</active>
				<payment_service__test>1</payment_service__test>
				<payment_service__registered>0</payment_service__registered>
				<!--
					руководствуясь значением этого параметра
					система будет автоматически переводить суммы в рубли
					перед передачей их платёжному шлюзу
				-->
				<payment_service__currency>RUB</payment_service__currency>
				<payment_service__fee_payer>shop</payment_service__fee_payer>
				<payment_service__transaction_description><![CDATA[Оплата заказа №{order.id} в магазине {shop.domain}.]]></payment_service__transaction_description>
				<payment_service__transaction_description_for_shop><![CDATA[Оплата заказа №{order.id} в магазине {shop.domain}.]]></payment_service__transaction_description_for_shop>
				<payment_service__transaction_tag><![CDATA[{shop.domain}]]></payment_service__transaction_tag>
				<frontend__allowspecific>0</frontend__allowspecific>
				<frontend__description><![CDATA[Оплата с кошелька Яндекс.Денег.]]></frontend__description>
				<frontend__message_failure><![CDATA[К сожалению, оплата заказа не удалась.
<br/>Сообщение {название платёжного шлюза в родительном падеже}: «{сообщение от платёжного шлюза}».
<br/>Возможно, Вы ввели на платёжной странице
{название платёжного шлюза в родительном падеже} неточные данные?
<br/>Попробуйте оформить Ваш заказ повторно.
<br/>Если оплатить заказ через {название платёжного шлюза в именительном падеже}
не получается — попробуйте другой способ оплаты
или оформите Ваш заказ по телефону {телефон магазина}.]]></frontend__message_failure>
				<frontend__sort_order>0</frontend__sort_order>
				<frontend__specificcountry></frontend__specificcountry>
				<frontend__title>Яндекс.Деньги</frontend__title>
			</yandex-money>
		</df_payment>
		<!--
			Система использует ключ «payment»
			для сопоставления кода (идентификатора) способа оплаты
			и программного класса (в терминах PHP) этого способа
		-->
		<payment>
			<df-yandex-money>
				<model>Df_YandexMoney_Method</model>
			</df-yandex-money>
		</payment>
	</default>
	<frontend>
		<routers>
			<df_yandex_money>
				<use>standard</use>
				<args>
					<module>Df_YandexMoney</module>
					<frontName>df-yandex-money</frontName>
				</args>
			</df_yandex_money>
		</routers>
	</frontend>
	<df>
		<features>
			<df-yandex-money>
				<module>df_yandex_money</module>
				<title>Яндекс.Деньги</title>
				<url>http://magento-forum.ru/forum/331/</url>
			</df-yandex-money>
		</features>
		<payment>
			<yandex-money>
				<currencies>
					<allowed>RUB</allowed>
				</currencies>
				<!-- Название платёжного шлюза для диагностических сообщений -->
				<names>
					<!-- именительный падеж -->
					<nominative>Яндекс.Деньги</nominative>
					<!-- родительный падеж -->
					<genitive>Яндекс.Денег</genitive>
					<!-- дательный падеж -->
					<dative>Яндекс.Деньгам</dative>
					<!-- творительный падеж -->
					<instrumental>Яндекс.Деньгами</instrumental>
				</names>
				<request>
					<confirmation>
					</confirmation>
				</request>
				<url>
					<payment_page>https://sp-money.yandex.ru/oauth/authorize</payment_page>
				</url>
			</yandex-money>
		</payment>
	</df>
</config>