<?xml version='1.0'?>
<config>
	<modules>
		<Df_Autotrading>
			<author>Дмитрий Федюк</author>
			<title>Автотрейдинг</title>
			<version>1.0.0</version>
		</Df_Autotrading>
	</modules>
	<global>
		<models><df_autotrading><class>Df_Autotrading_Model</class></df_autotrading></models>
		<blocks><df_autotrading><class>Df_Autotrading_Block</class></df_autotrading></blocks>
		<helpers><df_autotrading><class>Df_Autotrading_Helper</class></df_autotrading></helpers>
	</global>
	<default>
		<carriers>
			<df-autotrading>
				<active>0</active>
				<model>Df_Autotrading_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Автотрейдинг</title>
			</df-autotrading>
		</carriers>
		<df_shipping>
			<autotrading>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>0</frontend__sallowspecific>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
			</autotrading>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-autotrading>
				<module>df_autotrading</module>
				<title>Автотрейдинг</title>
				<url>http://magento-forum.ru/forum/202/</url>
			</df-autotrading>
		</features>
	</df>
</config>
