<?xml version='1.0'?>
<config>
	<sections>
		<df_shipping>
			<groups>
				<autotrading>
					<label>Автотрейдинг</label>
					<frontend_type>text</frontend_type>
					<sort_order>4000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>
						<![CDATA[
							Для правильной работы модуля требуется указать единицу веса товаров в графе
							<br/>«Система» → «Настройки» → «Российская сборка» → «Доставка»
							 → «Параметры товаров» → «Единица веса товаров».
							<br/>
							Стоимость доставки службой Автотрейдинг зависит от габаритов груза,<br/>поэтому для правильного расчёта стоимости доставки
							Вам надо вести учёт габаритов каждого товара
							<br/>(смотрите настройки раздела «Система» → «Настройки» → «Российская сборка» → «Доставка»
							 → «Параметры товаров»).
						]]>
					</comment>
					<fields>
						<active>
							<label>Включить?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!--
								Надо удостовериться, что склад магазина расположен в России.
								Возможность контролировать допустимость расположения склада магазина
								при сохранении настроек модулей доставки
								появилась в Российской сборке Magento
								с 23 декабря 2012 года (версия 2.14.0).
							-->
							<backend_model>Df_Admin_Config_Backend_Validator</backend_model>
							<df_backend_validator_strategy>Df_Shipping_Config_Backend_Validator_Strategy_Origin</df_backend_validator_strategy>
							<df_origin_validator>Df_Shipping_Config_Backend_Validator_Strategy_Origin_SpecificCountry</df_origin_validator>
							<df_origin_country>RU</df_origin_country>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_model>Df_Admin_Block_Field</frontend_model>
							<df_feature>df-autotrading</df_feature>
							<config_path>carriers/df-autotrading/active</config_path>
						</active>
						<title>
							<label>Название для этого способа оплаты</label>
							<comment>
								<![CDATA[
									Покупатель видит этот заголовок на этапе оформления заказа,а также в Личном кабинете.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<config_path>carriers/df-autotrading/title</config_path>
							<depends><active>1</active></depends>
							<validate>required-entry</validate>
						</title>
						<admin__fee_percent>
							<label>Относительная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>3000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
								validate-percents
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_percent>
						<admin__fee_fixed>
							<label>Абсолютная наценка</label>
							<frontend_type>text</frontend_type>
							<sort_order>4000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в учётной валюте магазина
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__fee_fixed>
						<service__check_cargo_on_receipt>
							<label>Должна ли служба доставки вскрывать и сверять груз при покупателе?</label>
							<comment>
								<![CDATA[
									Укажите значение «<b>да</b>», если Вы хотите, чтобы
									представитель службы доставки при покупателе вскрывал, пересчитывал
									и сверял груз с сопроводительными документами?
									<br/>
									Стоимость услуги на марта 2014 года
									составляет 0,5% от объявленной стоимости груза,
									но не менее 500 рублей.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__check_cargo_on_receipt>
						<admin__declared_value_percent>
							<label>Объявленная стоимость груза</label>
							<frontend_type>text</frontend_type>
							<sort_order>6000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[
									в процентах относительно стоимости заказа
								]]>
							</comment>
							<validate>
								validate-digits
								validate-zero-or-greater
							</validate>
							<depends><active>1</active></depends>
						</admin__declared_value_percent>
						<service__need_get_cargo_from_the_shop_store>
							<label>Должна ли служба доставки приезжать за грузом на склад магазина?</label>
							<comment>
								<![CDATA[
									Укажите значение «<b>да</b>», если служба доставки должна приезжать за грузом на склад магазина (доставка обойдётся дороже).
									<br/>
									Укажите значение «<b>нет</b>», если магазин сам будет привозить товар в службу доставки (доставка обойдётся дешевле).
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_get_cargo_from_the_shop_store>
						<service__notify_sender_about_delivery>
							<label>
								Должна ли служба доставки
								уведомлять отправителя в письменном виде
								о доставке груза получателю?
							</label>
							<comment>
								<![CDATA[
									Укажите значение «<b>да</b>», если служба доставки
									должна уведомлять отправителя (магазин) в письменном виде
									о доставке груза получателю.
									<br/>
									Услуга платна, на июнь 2012 года — 100 рублей.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__notify_sender_about_delivery>
						<service__need_collapsible_pallet_box>
							<label>
								Нужен ли для груза поддон с деревянными съёмными ограждениями
								(евроборт, паллетный борт)?
							</label>
							<comment>
								<![CDATA[
									Поддон с деревянными съёмными ограждениями (евроборт, паллетный борт) —
									это специальная упаковка,состоящая из:
									<br/>* поддона (паллеты)
									<br/>* боковых деревянных секций (опалубка размером 1,2 х 0,8 х 0,2)
									<br/>* одной крышки
									<br/>Кол-во секций зависит от размеров груза.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>11000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_collapsible_pallet_box>
						<service__need_taping>
							<label>Нужна ли услуга перетяжки груза обычной клейкой лентой?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года: 30 руб. за 1 м<sup>3</sup>.
									<br/>Минимальная стоимость — 30 руб.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_taping>
						<service__need_taping_advanced>
							<label>Нужна ли услуга перетяжки груза фирменной клейкой лентой?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года: 50 руб. за 1 м<sup>3</sup>.
									<br/>Минимальная стоимость — 50 руб.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>13000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_taping_advanced>
						<service__need_box>
							<label>Нужна ли коробка?</label>
							<comment>
								<![CDATA[
									Стоимость коробки на июнь 2012 года: 100 рублей.
									<br/>Размеры коробки — не более 0,5 х 0,5 х 0,5 м.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>14000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_box>
						<service__need_pallet_packing>
							<label>Нужна ли услуга упаковки груза на поддоне (паллете)?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года:
									<br/>паллет: 180 рублей
									<br/>упаковка эластичной плёнкой: 50 руб. за 1 м<sup>3</sup>
									<br/>закрепление клейкой лентой: 5 руб. за 1 м<sup>3</sup>
									<br/>установка двух пломб: по 20 руб. за пломбу
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>15000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_pallet_packing>
						<service__need_bag_packing>
							<label>Нужна ли услуга упаковки груза в мешок?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года:
									<br/>мешок: 60 руб.
									<br/>пломба: 20 руб.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>16000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_bag_packing>
						<service__need_open_slat_crate>
							<label>Нужна ли услуга обрешётки?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года:
									<br/>1 м<sup>3</sup> обрешетки — 750 руб.
									<br/>Минимальная стоимость — 400 руб.
									<br/>При расчёте стоимости доставки считается,что обрешётка увеличивает объём груза на 32%.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>17000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_open_slat_crate>
						<service__need_plywood_box>
							<label>Нужна ли услуга упаковки груза в фанерный ящик?</label>
							<comment>
								<![CDATA[
									Стоимость услуги на июнь 2012 года:
									<br/>1 м<sup>3</sup> фанерного ящика — 900 руб.
									<br/>Минимальная стоимость — 450 руб.
									<br/>При расчёте стоимости доставки считается,что обрешётка увеличивает объём груза на 32%.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>18000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</service__need_plywood_box>
						<frontend__disable_for_shop_city>
							<label>Скрыть этот способ доставки для покупателей из города магазина?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>21000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__disable_for_shop_city>
						<frontend__sort_order>
							<label>Вес для упорядочивания</label>
							<comment>
								<![CDATA[
									Когда системе требуется перечислить способы доставки на экране,она упорядочивает их в соответствии с их весами.
									<br/>Способы с меньшим весом отображаются выше способов с большим весом.
									<br/>Веса задаются натуральными числами.
								]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>22000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sort_order>
						<frontend__display_diagnostic_messages>
							<label>Показывать ли способ доставки на витрине в том случае, когда он по каким-либо причинам неприменим к текущему заказу?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то покупатель будет знать причину,по которой данный способ доставки неприменим к его заказу.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>23000</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__display_diagnostic_messages>
						<frontend__sallowspecific>
							<label>Ограничить область доставки конкретными странами?</label>
							<comment>
								<![CDATA[
									Если Вы укажете значение «да», то система запросит у Вас перечень стран,куда разрешена доставка данным способом.
									<br/>Во все неперечисленные Вами страны
									доставка данным способом осуществляться не будет.
								]]>
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>24000</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><active>1</active></depends>
						</frontend__sallowspecific>
						<frontend__specificcountry>
							<label>Перечень стран, куда разрешена доставка данным способом</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>25000</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
							<depends>
								<active>1</active>
								<frontend__sallowspecific>1</frontend__sallowspecific>
							</depends>
						</frontend__specificcountry>
					</fields>
				</autotrading>
			</groups>
		</df_shipping>
	</sections>
</config>
