<?xml version='1.0'?>
<config>
	<modules>
		<Df_KazpostEms>
			<version>2.27.0</version>
			<author>Дмитрий Федюк</author>
		</Df_KazpostEms>
	</modules>
	<default>
		<carriers>
			<df-kazpost-ems>
				<active>0</active>
				<model>Df_KazpostEms_Carrier</model>
				<title>Казпочта EMS</title>
			</df-kazpost-ems>
		</carriers>
		<df_shipping>
			<kazpost-ems>
				<admin__declared_value_percent>100</admin__declared_value_percent>
			</kazpost-ems>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-kazpost-ems>
				<module>Df_KazpostEms</module>
				<title>Казпочта EMS</title>
				<url>http://magento-forum.ru/forum/327/</url>
			</df-kazpost-ems>
		</features>
	</df>
</config>