<?xml version='1.0'?>
<config>
	<modules>
		<Df_Gunsel>
			<author>Дмитрий Федюк</author>
			<title>Гюнсел</title>
			<version>1.0.0</version>
		</Df_Gunsel>
	</modules>
	<global>
		<blocks><df_gunsel><class>Df_Gunsel_Block</class></df_gunsel></blocks>
		<helpers><df_gunsel><class>Df_Gunsel_Helper</class></df_gunsel></helpers>
		<models><df_gunsel><class>Df_Gunsel_Model</class></df_gunsel></models>
	</global>
	<default>
		<carriers>
			<df-gunsel>
				<active>0</active>
				<model>Df_Gunsel_Model_Carrier</model>
				<!--
					Заголовок для способа доставки.
					Система отображает его при оформлении доставки
					над перечнем тарифов данного способа доставки.
				-->
				<title>Гюнсел</title>
			</df-gunsel>
		</carriers>
		<df_shipping>
			<gunsel>
				<frontend__disable_for_shop_city>0</frontend__disable_for_shop_city>
				<frontend__sort_order>0</frontend__sort_order>
				<admin__declared_value_percent>0</admin__declared_value_percent>
				<admin__fee_percent>0</admin__fee_percent>
				<admin__fee_fixed>0</admin__fee_fixed>
				<frontend__sallowspecific>1</frontend__sallowspecific>
				<frontend__specificcountry>UA</frontend__specificcountry>
				<frontend__display_diagnostic_messages>1</frontend__display_diagnostic_messages>
			</gunsel>
		</df_shipping>
	</default>
	<df>
		<features>
			<df-gunsel>
				<module>df_gunsel</module>
				<title>Гюнсел</title>
				<url>http://magento-forum.ru/forum/260/</url>
			</df-gunsel>
		</features>
		<shipping>
			<gunsel>
				<allowed-methods>
					<!--
						Идентификаторам способов доставки достаточно быть уникальными
						лишь в пределах модуля доставки,потому что система формирует уникальный идентификатор способа доставки
						объединением идентификатором модуля доставки и способа доставки.
					-->
					<standard>
						<title>Стандартная доставка</title>
						<class>df_gunsel/method</class>
					</standard>
				</allowed-methods>
			</gunsel>
		</shipping>
	</df>
</config>
