<?xml version='1.0'?>
<config>
	<modules>
		<Df_GoogleAnalytics>
			<version>1.0.0</version>
			<author>Дмитрий Федюк</author>
		</Df_GoogleAnalytics>
	</modules>
	<global>
		<blocks>
			<df_google_analytics><class>Df_GoogleAnalytics_Block</class></df_google_analytics>
			<googleanalytics>
				<rewrite>
					<!--
						Цель перекрытия —
						кэширование блока Google Analytics.
					-->
					<ga>Df_GoogleAnalytics_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
		</blocks>
		<helpers><df_google_analytics><class>Df_GoogleAnalytics_Helper</class></df_google_analytics></helpers>
		<models><df_google_analytics><class>Df_GoogleAnalytics_Model</class></df_google_analytics></models>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Df_GoogleAnalytics>
					<files>
						<default>Mage_GoogleAnalytics.csv</default>
					</files>
				</Df_GoogleAnalytics>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Df_GoogleAnalytics>
					<files>
						<default>Mage_GoogleAnalytics.csv</default>
					</files>
				</Df_GoogleAnalytics>
			</modules>
		</translate>
	</frontend>
</config>